Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(lessons): narrow 3 over-broad keywords per Greptile review
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/tools/python-invocation.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): broaden keywords on 7 silent lessons (too-specific bucket) (#642)
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/simplify-before-optimize.md
  lessons/tools/python-invocation.md
Due: check-markdown-links, validate-lesson-metadata

fix(sessions): resolve gptme session directories in read_transcript and extract_from_path
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/src/gptme_sessions/transcript.py
  packages/gptme-sessions/tests/test_transcript.py
Due: none

fix(sessions): resolve gptme session directories in read_transcript and extract_from_path (#643)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/src/gptme_sessions/transcript.py
  packages/gptme-sessions/tests/test_transcript.py
Due: none

fix(lessons): narrow browser-verification keywords to reduce selection bias
  lessons/tools/browser-verification.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow browser-verification keywords to reduce selection bias (#645)
  lessons/tools/browser-verification.md
Due: check-markdown-links, validate-lesson-metadata

feat(hooks): add holdout filtering for A/B lesson testing
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

fix(hooks): address P2 quality issues from Greptile review
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

fix(repo-status): filter out disabled workflow runs from CI status
  scripts/github/repo-status.sh
Due: none

feat(hooks): add holdout filtering for A/B lesson testing (#646)
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

fix(repo-status): filter out disabled workflow runs from CI status (#647)
  scripts/github/repo-status.sh
Due: none

fix(validator): only flag opening fences for missing language tags
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: none

fix(validator): only flag opening fences for missing language tags (#648)
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: none

perf(activity-gate): parallelize per-repo checks (~27s → ~7s)
  scripts/github/activity-gate.sh
Due: none

fix(activity-gate): correct parallel throttle counter — decrement instead of reset
  scripts/github/activity-gate.sh
Due: none

fix(activity-gate): use nullglob for parallel results collection
  scripts/github/activity-gate.sh
Due: none

perf(activity-gate): parallelize per-repo checks (~27s → ~7s) (#644)
  scripts/github/activity-gate.sh
Due: none

fix(twitter): add URL validation before posting tweets
  scripts/twitter/workflow.py
Due: none

docs(lessons): add prefer-brain-over-local-memory lesson
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add symlink solution for brain+claude memory
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): remove local-memory carve-out, everything goes in brain
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add status field, narrow keywords per Greptile review
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): acknowledge Claude memory retrieval strengths
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): prefer brain repo over local machine memory (#649)
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): symlink runtime memory into version-controlled knowledge
  lessons/patterns/symlink-memory-into-version-control.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): rewrite as indexed knowledge base pattern
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
  lessons/patterns/symlink-memory-into-version-control.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): deduplicate keywords, add Related cross-reference
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): indexed knowledge base pattern for LLM retrieval (#650)
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add trajectory persistence lesson
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): address Greptile review — backup all projects + session dirs
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add trajectory persistence lesson (#651)
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

fix(precommit): skip links inside fenced code blocks and inline code
  scripts/precommit/check_markdown_links.py
Due: none

test(precommit): add tests for markdown link checker
  tests/test_check_markdown_links.py
Due: none

fix(link-checker): skip links inside fenced code blocks
  scripts/precommit/check_markdown_links.py
Due: none

fix(precommit): skip links inside code blocks in markdown link checker (#652)
  scripts/precommit/check_markdown_links.py
  tests/test_check_markdown_links.py
Due: none

feat(forum): add gptme-forum package (agentboard CLI)
  packages/README.md
  packages/gptme-forum/README.md
  packages/gptme-forum/pyproject.toml
  packages/gptme-forum/src/gptme_forum/__init__.py
  packages/gptme-forum/src/gptme_forum/cli.py
  packages/gptme-forum/src/gptme_forum/forum.py
  packages/gptme-forum/tests/test_forum.py
Due: check-markdown-links

fix(forum): address Greptile P1 findings before merge
  packages/gptme-forum/src/gptme_forum/cli.py
  packages/gptme-forum/src/gptme_forum/forum.py
  uv.lock
Due: none

feat(forum): add gptme-forum package (agentboard CLI) (#654)
  packages/README.md
  packages/gptme-forum/README.md
  packages/gptme-forum/pyproject.toml
  packages/gptme-forum/src/gptme_forum/__init__.py
  packages/gptme-forum/src/gptme_forum/cli.py
  packages/gptme-forum/src/gptme_forum/forum.py
  packages/gptme-forum/tests/test_forum.py
  uv.lock
Due: check-markdown-links

feat(scripts): add agent-check.sh for multi-agent health overview
  scripts/agent-check.sh
Due: none

fix(agent-check): support per-host SSH targets (alice=alice@alice)
  scripts/agent-check.sh
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
