Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

feat(voice): add standup-call support via custom_params + standup_brief
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/twilio_integration.py
Due: none

fix(voice): standup_brief takes priority over recent-call resume
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/twilio_integration.py
Due: none

feat(voice): standup-call support via custom_params + standup_brief (#746)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/twilio_integration.py
Due: none

feat(github-hygiene): add warning-only issue-hygiene Action prototype
  .github/workflows/issue-hygiene.yml
  scripts/github_hygiene/README.md
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_hygiene/prompts/issue-hygiene.md
  scripts/github_hygiene/test_issue_hygiene.py
Due: check-markdown-links

fix(sessions): require failure for retry_depth streak
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

fix(sessions): require failure for retry_depth streak (#748)
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

feat(github-resolver): opt-in issue-resolver Action prototype
  .github/workflows/issue-resolver.yml
  scripts/github_resolver/README.md
  scripts/github_resolver/__init__.py
  scripts/github_resolver/prompts/issue-resolver.md
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: check-markdown-links

fix(github): suppress permission-blocked merge_ready PRs (ErikBjare/bob#680)
  scripts/github/activity-gate.sh
  scripts/github/check-notifications.sh
Due: none

fix(github): suppress permission-blocked merge_ready PRs (ErikBjare/bob#680) (#750)
  scripts/github/activity-gate.sh
  scripts/github/check-notifications.sh
Due: none

feat(lessons): allow nested automation field in lesson frontmatter
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

fix(validator): address Greptile P2 findings
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

feat(lessons): allow nested automation field in lesson frontmatter (#751)
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

feat(self-merge-check): allow WORKSPACE_REPO allowlist for trusted cross-repo PRs
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

feat(self-merge-check): allow WORKSPACE_REPO allowlist for trusted cross-repo PRs (#752)
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

fix(activity-summary): deduplicate GitHub review interactions
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
  packages/gptme-activity-summary/src/gptme_activity_summary/github_data.py
  packages/gptme-activity-summary/tests/test_cli.py
  packages/gptme-activity-summary/tests/test_github_data.py
Due: none

fix(github): suppress 'ready (to|for) merge @<maintainer>' phrasing (ErikBjare/bob#682)
  scripts/github/activity-gate.sh
  scripts/github/check-notifications.sh
Due: none

fix(github): suppress 'ready (to|for) merge @<maintainer>' phrasing (ErikBjare/bob#682) (#753)
  scripts/github/activity-gate.sh
  scripts/github/check-notifications.sh
Due: none

fix(lessons): broaden keywords on two false-negative lessons
  lessons/workflow/progress-despite-blockers.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove two generic keywords flagged by Greptile review
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): broaden keywords on two false-negative lessons (#754)
  lessons/workflow/progress-despite-blockers.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add session_categories to 10 LOO-positive lessons
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/lesson-quality-standards.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/infrastructure/trajectory-persistence.md
  lessons/tools/greptile-pr-reviews.md
  lessons/tools/uv-sync-all-packages-after-changes.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/prefer-brain-over-local-memory.md
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add session_categories to 10 LOO-positive lessons (#755)
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/lesson-quality-standards.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/infrastructure/trajectory-persistence.md
  lessons/tools/greptile-pr-reviews.md
  lessons/tools/uv-sync-all-packages-after-changes.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/prefer-brain-over-local-memory.md
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

feat(voice): use grok-voice-think-fast-1.0 as default xAI model
  packages/gptme-voice/src/gptme_voice/realtime/xai_client.py
  packages/gptme-voice/tests/test_xai_client.py
Due: none

fix(voice): address Greptile P2 findings
  packages/gptme-voice/src/gptme_voice/realtime/xai_client.py
  packages/gptme-voice/tests/test_xai_client.py
Due: none

feat(voice): use grok-voice-think-fast-1.0 as default xAI model (#757)
  packages/gptme-voice/src/gptme_voice/realtime/xai_client.py
  packages/gptme-voice/tests/test_xai_client.py
Due: none

feat(credential-slots): add SlotManager.heal_drift_to(sub) for OAuth-refresh recovery
  packages/credential-slots/README.md
  packages/credential-slots/pyproject.toml
  packages/credential-slots/src/credential_slots/__init__.py
  packages/credential-slots/src/credential_slots/manager.py
  packages/credential-slots/tests/test_manager.py
  uv.lock
Due: check-markdown-links

feat(credential-slots): add SlotManager.heal_drift_to(sub) for OAuth-refresh recovery (#759)
  packages/credential-slots/README.md
  packages/credential-slots/pyproject.toml
  packages/credential-slots/src/credential_slots/__init__.py
  packages/credential-slots/src/credential_slots/manager.py
  packages/credential-slots/tests/test_manager.py
  uv.lock
Due: check-markdown-links

fix(lessons): broaden keywords on two silent workflow lessons
  lessons/workflow/proactive-correction-in-agent-messages.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): broaden keywords on two silent workflow lessons (#760)
  lessons/workflow/proactive-correction-in-agent-messages.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(activity-summary): load AW category rules from settings
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

fix(activity-summary): load AW category rules from settings (#761)
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

fix(twitter): load .env in workflow.py CLI so direct invocations work
  scripts/twitter/workflow.py
Due: none

fix(twitter): defer MODEL resolution until after load_dotenv() in cli()
  scripts/twitter/workflow.py
Due: none

fix(twitter): load .env in workflow.py CLI so direct invocations work (#762)
  scripts/twitter/workflow.py
Due: none

fix(lessons): add generic-bot keywords to greptile-pr-reviews
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add generic-bot keywords to greptile-pr-reviews (#763)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add session_categories to two false-negative lessons
  lessons/workflow/progress-despite-blockers.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add session_categories to two false-negative lessons (#764)
  lessons/workflow/progress-despite-blockers.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(sessions): detect codex apply_patch + write_stdin commits
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): address Greptile P2 — stale docstring + Delete directive in file_writes
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
