Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(git-hooks): scope pre-commit reruns to staged files (#625)
  dotfiles/.config/git/hooks/pre-commit
Due: none

fix(git-hooks): scope pre-commit reruns to staged files (#625)
  dotfiles/.config/git/hooks/pre-commit
  scripts/claude-code-hooks/README.md
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: check-markdown-links

fix(cc-hooks): address Greptile P1/P2 findings in match-lessons hook
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

feat(cc-hooks): add Claude Code lesson injection hook (#626)
  scripts/claude-code-hooks/README.md
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: check-markdown-links

fix(dashboard): fix mypy type errors in scan_kpi_data
  packages/gptme-dashboard/src/gptme_dashboard/generate.py
Due: none

fix(dashboard): fix mislabeled KPI keys and quality_score_7d truncation
  packages/gptme-dashboard/src/gptme_dashboard/generate.py
Due: none

feat(dashboard): add per-agent KPI panels and quality trend charts (#628)
  packages/gptme-dashboard/src/gptme_dashboard/generate.py
Due: none

chore(lessons): remove deprecated git-remote-branch-pushing.md lesson
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

chore(lessons): remove deprecated git-remote-branch-pushing.md lesson (#630)
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

chore(lessons): archive 6 noise lessons with TS < 0.30
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/patterns/agent-visual-identity.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/code-coverage-principle.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): restore autonomous-operation-safety to active — TS not appropriate for security lessons
  lessons/autonomous/autonomous-operation-safety.md
Due: check-markdown-links, validate-lesson-metadata

chore(lessons): archive 6 noise lessons with TS < 0.30 (#631)
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/patterns/agent-visual-identity.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/code-coverage-principle.md
Due: check-markdown-links, validate-lesson-metadata

fix(runloops): use GraphQL API for reviewThreads instead of broken REST field
  packages/gptme-runloops/src/gptme_runloops/utils/github.py
  packages/gptme-runloops/tests/test_utils/test_github.py
Due: none

test(runloops): restore state file assertions and fix weak or assertion
  packages/gptme-runloops/tests/test_utils/test_github.py
Due: none

fix(runloops): handle GraphQL-level errors in get_review_threads
  packages/gptme-runloops/src/gptme_runloops/utils/github.py
  packages/gptme-runloops/tests/test_utils/test_github.py
Due: none

fix(runloops): use GraphQL API for reviewThreads (#632)
  packages/gptme-runloops/src/gptme_runloops/utils/github.py
  packages/gptme-runloops/tests/test_utils/test_github.py
Due: none

fix(sessions): handle all T24:MM:SS timestamps, not just T24:00:00
  packages/gptme-sessions/src/gptme_sessions/record.py
Due: none

test(sessions): add test for non-midnight T24 timestamp fix
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): handle all T24:MM:SS timestamps, not just T24:00:00 (#633)
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

refactor(lessons): trim 3 oversized lessons to two-file architecture
  knowledge/lessons/autonomous/agent-event-watch-workflow.md
  knowledge/lessons/autonomous/autonomous-session-structure.md
  knowledge/lessons/workflow/communication-loop-closure-patterns.md
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/workflow/communication-loop-closure-patterns.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
Due: check-markdown-links, validate-lesson-metadata

refactor(lessons): rewrite gepa-genetic-pareto as behavioral optimization guide
  lessons/concepts/gepa-genetic-pareto.md
Due: check-markdown-links, validate-lesson-metadata

fix(validate): use rglob in _check_verbose_sections for subdirectory companions
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
Due: none

refactor(lessons): trim 3 oversized lessons to two-file architecture (#634)
  knowledge/lessons/autonomous/agent-event-watch-workflow.md
  knowledge/lessons/autonomous/autonomous-session-structure.md
  knowledge/lessons/workflow/communication-loop-closure-patterns.md
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/workflow/communication-loop-closure-patterns.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
Due: check-markdown-links, validate-lesson-metadata

fixup: apply prek formatting improvements
  lessons/concepts/gepa-genetic-pareto.md
Due: check-markdown-links, validate-lesson-metadata

refactor(lessons): rewrite gepa-genetic-pareto as behavioral optimization guide (#635)
  lessons/concepts/gepa-genetic-pareto.md
Due: check-markdown-links, validate-lesson-metadata

refactor: remove redundant local imports already at module scope
  packages/gptme-dashboard/src/gptme_dashboard/server.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
Due: none

refactor: remove redundant local imports already at module scope (#636)
  packages/gptme-dashboard/src/gptme_dashboard/server.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
Due: none

fix(gptodo): fix mypy errors in utils.py and frontmatter_compat.py
  lessons/communication/responding-to-code-review-feedback.md
  packages/gptodo/src/gptodo/frontmatter_compat.py
  packages/gptodo/src/gptodo/utils.py
Due: check-markdown-links, validate-lesson-metadata

fix(gptodo): fix mypy errors in utils.py and frontmatter_compat.py (#638)
  lessons/communication/responding-to-code-review-feedback.md
  packages/gptodo/src/gptodo/frontmatter_compat.py
  packages/gptodo/src/gptodo/utils.py
Due: check-markdown-links, validate-lesson-metadata

fix(gptodo): handle relative imports in _load_real_frontmatter
  packages/gptodo/src/gptodo/frontmatter_compat.py
Due: none

fix(gptodo): replace broken parents[5] path hack with try/import, anchor delim split to line boundaries
  packages/gptodo/src/gptodo/frontmatter_compat.py
  packages/gptodo/tests/test_frontmatter_compat.py
Due: none

fix(gptodo): add test for frontmatter_compat and update cli/unblock/waiting
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/src/gptodo/waiting.py
  packages/gptodo/tests/test_frontmatter_compat.py
  packages/gptodo/tests/test_unblock.py
  scripts/github/check-notifications.sh
Due: none

fix(gptodo): add test for frontmatter_compat and update related modules (#639)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/frontmatter_compat.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/src/gptodo/waiting.py
  packages/gptodo/tests/test_frontmatter_compat.py
  packages/gptodo/tests/test_unblock.py
  scripts/github/check-notifications.sh
Due: none

fix(lessons): narrow over-broad keywords in greptile-pr-reviews
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow over-broad keywords in greptile-pr-reviews (#640)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(github): detect repo from origin remote instead of gh repo view
  scripts/github/context-gh.sh
Due: none

fix(github): fall back to gh repo view for non-GitHub origin remotes
  scripts/github/context-gh.sh
Due: none

fix(github): detect repo from origin remote instead of gh repo view (#641)
  scripts/github/context-gh.sh
Due: none

fix(lessons): broaden keywords on 7 silent lessons (too-specific bucket)
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/simplify-before-optimize.md
  lessons/tools/python-invocation.md
Due: check-markdown-links, validate-lesson-metadata

fix: add trailing newlines to lesson files
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/simplify-before-optimize.md
  lessons/tools/python-invocation.md
Due: check-markdown-links, validate-lesson-metadata
