Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(twitter): CC subprocess is primary when API key is dummy; strip OpenRouter prefix for CLI (#1213)
  scripts/twitter/llm.py
Due: none

fix(lessons): archive 2 LOO-identified harmful lessons
  lessons/tools/python-file-execution.md
  lessons/workflow/when-to-rebase-prs.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): archive 2 LOO-identified harmful lessons (#1214)
  lessons/tools/python-file-execution.md
  lessons/workflow/when-to-rebase-prs.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow 3 keywords that fire on every session due to autoloaded context
  lessons/patterns/persist-before-noting.md
  lessons/tools/markdown-codeblock-syntax.md
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove remaining autoloaded keyword hits
  knowledge/lessons/markdown-codeblock-syntax.md
  lessons/tools/markdown-codeblock-syntax.md
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow 3 keywords that fire on every session due to autoloaded context (#1215)
  knowledge/lessons/markdown-codeblock-syntax.md
  lessons/patterns/persist-before-noting.md
  lessons/tools/markdown-codeblock-syntax.md
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

fix(gptme-sessions): cap _first_event_cwd read to 8 KiB to prevent hang on large files
  packages/gptme-sessions/src/gptme_sessions/discovery.py
Due: none

fix(gptme-sessions): cap extract_cc_model read to 512 KiB to prevent hang
  packages/gptme-sessions/src/gptme_sessions/discovery.py
Due: none

test(gptme-sessions): cover bounded codex first-line read
  packages/gptme-sessions/tests/test_discovery.py
Due: none

fix(gptme-sessions): cap _first_event_cwd read to 8 KiB to prevent hang on large files (#1216)
  packages/gptme-sessions/src/gptme_sessions/discovery.py
  packages/gptme-sessions/tests/test_discovery.py
Due: none

feat(plugin): add gptme-action-receipts — append-only audit ledger for tool actions
  plugins/gptme-action-receipts/README.md
  plugins/gptme-action-receipts/pyproject.toml
  plugins/gptme-action-receipts/src/gptme_action_receipts/__init__.py
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/__init__.py
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
Due: check-markdown-links

fix(plugin): harden action receipts registration
  plugins/gptme-action-receipts/README.md
  plugins/gptme-action-receipts/pyproject.toml
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
  uv.lock
Due: check-markdown-links

fix(plugin): avoid logging file write bodies in receipts
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
Due: none

docs(action-receipts): clarify target field contains tool content, not just commands
  plugins/gptme-action-receipts/README.md
Due: check-markdown-links

feat(gptodo): add --pool/--exclude-pool filtering to selection subcommands
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_pool_filter.py
Due: none

feat(gptme-rag): add RAG-as-MCP Knowledge Server package
  mypy.ini
  packages/gptme-activity-summary/Makefile
  packages/gptme-dashboard/Makefile
  packages/gptme-rag/README.md
  packages/gptme-rag/pyproject.toml
  packages/gptme-rag/src/gptme_rag/__init__.py
  packages/gptme-rag/src/gptme_rag/indexer.py
  packages/gptme-rag/src/gptme_rag/mcp_server.py
  packages/gptme-rag/src/gptme_rag/parsers.py
  packages/gptme-rag/tests/__init__.py
  packages/gptme-rag/tests/test_indexer.py
  packages/gptodo/Makefile
  uv.lock
Due: check-markdown-links

fix(gptodo): explicit pool frontmatter field wins over implicit frontier signals
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_pool_filter.py
Due: none

fix(action-receipts): handle empty XDG_DATA_HOME correctly
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
Due: none

fix(gptodo): address pool filter review feedback
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_pool_filter.py
Due: none

test(action-receipts): add XDG_DATA_HOME edge-case coverage for _DEFAULT_LEDGER path
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
Due: none

fix(gptme-rag): unblock pre-commit on package tests
  packages/gptme-rag/README.md
  packages/gptme-rag/src/gptme_rag/mcp_server.py
  packages/gptme-rag/tests/__init__.py
Due: check-markdown-links

refactor(gptme-rag-mcp): rename package from gptme-rag to gptme-rag-mcp
  packages/gptme-rag-mcp/README.md
  packages/gptme-rag-mcp/pyproject.toml
  packages/gptme-rag-mcp/src/gptme_rag_mcp/__init__.py
  packages/gptme-rag-mcp/src/gptme_rag_mcp/indexer.py
  packages/gptme-rag-mcp/src/gptme_rag_mcp/mcp_server.py
  packages/gptme-rag-mcp/src/gptme_rag_mcp/parsers.py
  packages/gptme-rag-mcp/tests/__init__.py
  packages/gptme-rag-mcp/tests/test_indexer.py
  packages/gptme-rag/src/gptme_rag/__init__.py
  uv.lock
Due: check-markdown-links

fix(gptodo): recompute status pool summary
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_pool_filter.py
Due: none

fix(gptme-rag-mcp): address session index review findings
  packages/gptme-rag-mcp/README.md
  packages/gptme-rag-mcp/src/gptme_rag_mcp/indexer.py
  packages/gptme-rag-mcp/tests/__init__.py
  packages/gptme-rag-mcp/tests/test_indexer.py
Due: check-markdown-links

refactor(gptme-wisdom-mcp): rename package per maintainer feedback
  packages/gptme-rag-mcp/src/gptme_rag_mcp/__init__.py
  packages/gptme-wisdom-mcp/README.md
  packages/gptme-wisdom-mcp/pyproject.toml
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/__init__.py
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/indexer.py
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/mcp_server.py
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/parsers.py
  packages/gptme-wisdom-mcp/tests/test_indexer.py
  uv.lock
Due: check-markdown-links

test(gptodo): separate stderr in pool next test
  packages/gptodo/tests/test_pool_filter.py
Due: none

fix(gptme-wisdom-mcp): escape fallback FTS quote queries
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/indexer.py
  packages/gptme-wisdom-mcp/tests/test_indexer.py
Due: none

feat(plugin): add gptme-action-receipts — append-only audit ledger for tool actions (#1217)
  plugins/gptme-action-receipts/README.md
  plugins/gptme-action-receipts/pyproject.toml
  plugins/gptme-action-receipts/src/gptme_action_receipts/__init__.py
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/__init__.py
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
  uv.lock
Due: check-markdown-links

test(gptodo): reuse stderr-safe runner in status pool test
  packages/gptodo/tests/test_pool_filter.py
Due: none

fix(gptme-wisdom-mcp): correct sessions db help path
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/mcp_server.py
Due: none

fix(activity-summary): retry claude -p on non-zero exit + log stderr
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
  packages/gptme-activity-summary/tests/test_cc_backend.py
Due: none

docs: clarify docstring and add comment explaining non-zero-exit retry scope
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
Due: none

fix(gptme-wisdom-mcp): polish review nits
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/indexer.py
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/mcp_server.py
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/parsers.py
Due: none

chore(gptme-wisdom-mcp): add Makefile so CI detects and runs package tests
  packages/gptme-wisdom-mcp/Makefile
Due: none

feat(gptodo): default selection commands to general pool; add --pool all escape hatch
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_pool_filter.py
Due: none

feat(gptodo): add --pool/--exclude-pool filtering to selection subcommands (#1218)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_pool_filter.py
Due: none

fix(activity-summary): retry claude -p on non-zero exit + log stderr (#1220)
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
  packages/gptme-activity-summary/tests/test_cc_backend.py
Due: none

fix(gptme-wisdom-mcp): handle aware session dates
  packages/gptme-wisdom-mcp/src/gptme_wisdom_mcp/indexer.py
  packages/gptme-wisdom-mcp/tests/test_indexer.py
Due: none

feat(plugin): add Phase 2 scope-check gate to gptme-action-receipts
  plugins/gptme-action-receipts/examples/scope.yaml
  plugins/gptme-action-receipts/pyproject.toml
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/scope_gate.py
  plugins/gptme-action-receipts/tests/test_scope_gate.py
  uv.lock
Due: none

fix(plugin): close scope gate force-push bypasses
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/receipt_hook.py
  plugins/gptme-action-receipts/src/gptme_action_receipts/hooks/scope_gate.py
  plugins/gptme-action-receipts/tests/test_scope_gate.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
