Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

feat(pm-dispatch): add records-aggregate subcommand
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(pm-dispatch): narrow exception in records-aggregate to JSON/encoding errors
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

refactor(pm-dispatch): remove redundant sys import and file=sys.stdout
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
Due: none

feat(pm-dispatch): add records-aggregate subcommand (#865)
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

feat(voice): add OpenAI trial voice and speed overrides
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

test(voice): assert output key absent when output_speed not set
  packages/gptme-voice/tests/test_openai_client.py
Due: none

feat(voice): add OpenAI trial voice and speed overrides (#866)
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

fix(lessons): remove session_categories from communication-loop-closure-patterns
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove session_categories from communication-loop-closure-patterns (#867)
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add success_criterion field to task frontmatter
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_success_criterion.py
Due: none

feat(gptodo): add success_criterion field to task frontmatter (#868)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_success_criterion.py
Due: none

docs(lessons): add session_categories routing to agent-orchestrator-patterns
  lessons/workflow/agent-orchestrator-patterns.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add session_categories routing to agent-orchestrator-patterns (#869)
  lessons/workflow/agent-orchestrator-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(codegraph): update cross-file impact test assertion for qualified IDs
  packages/gptme-codegraph/tests/test_codegraph_mcp_server.py
Due: none

fix(codegraph): update cross-file impact test assertion for qualified IDs (#870)
  packages/gptme-codegraph/tests/test_codegraph_mcp_server.py
Due: none

fix(codegraph): accept str paths in build_index by converting to Path
  packages/gptme-codegraph/src/gptme_codegraph/core.py
Due: none

fix(codegraph): widen build_index type annotation to str | Path
  packages/gptme-codegraph/src/gptme_codegraph/core.py
Due: none

fix(codegraph): accept str paths in build_index by converting to Path (#871)
  packages/gptme-codegraph/src/gptme_codegraph/core.py
Due: none

fix(lessons): narrow over-broad keywords in github-issue-engagement lesson
  lessons/social/github-issue-engagement.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow over-broad keywords in github-issue-engagement lesson (#872)
  lessons/social/github-issue-engagement.md
Due: check-markdown-links, validate-lesson-metadata

fix(gptme-voice): expose OpenAI realtime reasoning effort
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/xai_client.py
  packages/gptme-voice/tests/test_openai_client.py
  packages/gptme-voice/tests/test_server.py
  packages/gptme-voice/tests/test_xai_client.py
Due: none

fix(gptme-voice): expose OpenAI realtime reasoning effort (#873)
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/xai_client.py
  packages/gptme-voice/tests/test_openai_client.py
  packages/gptme-voice/tests/test_server.py
  packages/gptme-voice/tests/test_xai_client.py
Due: none

feat(gptme-voice): add browser WebSocket client
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/static/index.html
Due: none

fix(codegraph): skip tests gracefully when tree-sitter extras not installed
  packages/gptme-codegraph/tests/conftest.py
Due: none

fix(gptme-voice): fix browser client issues flagged by review
  packages/gptme-voice/src/gptme_voice/static/index.html
Due: none

feat(gptme-voice): add browser WebSocket client (#874)
  packages/gptme-codegraph/tests/conftest.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/static/index.html
Due: none

fix(gptme-voice): cancel previous audioEndTimer on consecutive audio_end events
  packages/gptme-voice/src/gptme_voice/static/index.html
Due: none

fix(codegraph): use item.path and drop dead underscore condition in conftest
  packages/gptme-codegraph/tests/conftest.py
Due: none

fix(codegraph): use item.path and drop dead underscore condition in conftest (#875)
  packages/gptme-codegraph/tests/conftest.py
Due: none

fix(gptme-voice): cancel previous audioEndTimer on consecutive audio_end events (#876)
  packages/gptme-voice/src/gptme_voice/static/index.html
Due: none

docs(lessons): add verification gate to risky-action pre-mortem
  lessons/autonomous/pre-mortem-for-risky-actions.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): address Greptile review on pre-mortem procedure
  lessons/autonomous/pre-mortem-for-risky-actions.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add verification gate to risky-action pre-mortem (#877)
  lessons/autonomous/pre-mortem-for-risky-actions.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptme-sessions): wire selector_mode and recommended-category through post-session
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_post_session.py
Due: none

feat(gptme-sessions): wire selector_mode and recommended-category through post-session (#878)
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_post_session.py
Due: none

fix(lessons): tighten communication-loop keywords to failure-mode signals
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): tighten communication-loop keywords to failure-mode signals (#879)
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

feat(codegraph): add repo-map skeleton output
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/src/gptme_codegraph/__init__.py
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
  packages/gptme-codegraph/tests/test_codegraph.py
  packages/gptme-codegraph/tests/test_codegraph_mcp_server.py
Due: check-markdown-links

feat(codegraph): add repo-map skeleton output (#880)
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/src/gptme_codegraph/__init__.py
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
  packages/gptme-codegraph/tests/test_codegraph.py
  packages/gptme-codegraph/tests/test_codegraph_mcp_server.py
Due: check-markdown-links

fix(codegraph): use git ls-files in _iter_python_files for git repos
  packages/gptme-codegraph/src/gptme_codegraph/core.py
Due: none
