Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(lessons): remove blank lines in strategic-focus keyword section (Greptile P2)
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

feat(twitter): add tweet length validation to draft and post commands
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(twitter): strip trailing punctuation from URL char count, address Greptile P1+P2
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

feat(lessons): add 'before executing' keyword to safe-operation-patterns
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(self-merge-check): surface CONFLICTING/DIRTY mergeStateStatus as explicit blocker reason
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

fix(lessons): narrow 'before executing' to 'classify before executing' to reduce false positives
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(self-merge-check): remove non-existent CONFLICTING mergeStateStatus value
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

refactor(lessons): remove keywords matching always-injected context files (#1175)
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/workflow/absolute-paths-for-workspace-files.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/git-commit-format.md
  lessons/workflow/git-worktree-workflow.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add 'before executing' keyword to safe-operation-patterns (#1177)
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): address Greptile P2 findings on error messages
  scripts/twitter/workflow.py
Due: none

feat(twitter): add tweet length validation to draft and post commands (#1176)
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

feat(gptme-wisdom): add BM25 book-wisdom indexer and search CLI
  packages/gptme-wisdom/README.md
  packages/gptme-wisdom/pyproject.toml
  packages/gptme-wisdom/src/gptme_wisdom/__init__.py
  packages/gptme-wisdom/src/gptme_wisdom/cli.py
  packages/gptme-wisdom/src/gptme_wisdom/indexer.py
  packages/gptme-wisdom/src/gptme_wisdom/parsers.py
  packages/gptme-wisdom/tests/__init__.py
  packages/gptme-wisdom/tests/test_wisdom.py
  uv.lock
Due: check-markdown-links

fix(gptme-wisdom): remove tests/__init__.py to fix mypy duplicate-module error
  packages/gptme-wisdom/tests/__init__.py
Due: none

fix(wisdom): address 3 Greptile P2 findings in indexer
  packages/gptme-wisdom/src/gptme_wisdom/indexer.py
Due: none

feat(gptme-wisdom): add BM25 book-wisdom indexer and search CLI (#1179)
  packages/gptme-wisdom/README.md
  packages/gptme-wisdom/pyproject.toml
  packages/gptme-wisdom/src/gptme_wisdom/__init__.py
  packages/gptme-wisdom/src/gptme_wisdom/cli.py
  packages/gptme-wisdom/src/gptme_wisdom/indexer.py
  packages/gptme-wisdom/src/gptme_wisdom/parsers.py
  packages/gptme-wisdom/tests/test_wisdom.py
  uv.lock
Due: check-markdown-links

fix(self-merge-check): surface CONFLICTING/DIRTY mergeStateStatus as explicit blocker reason (#1178)
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

feat(eval): add eval-run-challenger.py for Sovereign AI Eval Phase 2
  mypy.ini
  scripts/eval-run-challenger.py
  tests/test_eval_run_challenger.py
Due: none

fix(eval): avoid ARG_MAX when passing oracle input to challenger — write to tempfile instead of argv
  scripts/eval-run-challenger.py
Due: none

fix(eval): reset brain worktree between traces to preserve per-trace isolation
  scripts/eval-run-challenger.py
  tests/test_eval_run_challenger.py
Due: none

fix(tools): use specific mypy error codes for type: ignore comments
  scripts/perplexity.py
  scripts/twitter/twitter.py
  tools/rss_reader.py
Due: none

fix(aw-watcher-agent): isolate emit_file cursor test from real state dir
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

fix(aw-watcher-agent): isolate emit_file cursor test from real state dir (#1182)
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

feat(eval): add eval-run-challenger.py for Sovereign AI Eval Phase 2 (#1180)
  mypy.ini
  scripts/eval-run-challenger.py
  tests/test_eval_run_challenger.py
Due: none

fix(gptodo): include todo + ready_for_review in status --compact
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_status_compact.py
Due: none

test(gptodo): cover waiting in compact status
  packages/gptodo/tests/test_status_compact.py
Due: none

feat(gptodo): CLI-enforced state transitions + lint command for hallucinated frontmatter fields
  packages/gptodo/README.md
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_lint_frontmatter.py
  packages/gptodo/tests/test_state_transitions.py
Due: check-markdown-links

feat(gptodo): add `expire` command + `expired` state for auto-reaping stale tasks
  packages/gptodo/README.md
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_expire.py
Due: check-markdown-links

style(gptodo): fix ruff lint and format issues caught by pre-commit CI
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_expire.py
  packages/gptodo/tests/test_lint_frontmatter.py
  packages/gptodo/tests/test_state_transitions.py
Due: none

style(gptodo): fix remaining ruff-format in test files
  packages/gptodo/tests/test_edit_state_waiting.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(gptodo): fail blocked edits and harden expire timestamps
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_expire.py
  packages/gptodo/tests/test_state_transitions.py
Due: none

style(gptodo): apply ruff formatting
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/tests/test_lint_frontmatter.py
Due: none

style(gptodo): fix remaining ruff-format issues in cli and tests
  packages/gptodo/src/gptodo/cli.py
Due: none

test(gptodo): assert waiting tasks excluded from compact status
  packages/gptodo/tests/test_status_compact.py
Due: none

fix(gptodo): correct misleading non-strict transition warning message
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): include todo + ready_for_review in status --compact (#1183)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_status_compact.py
Due: none

feat(gptodo): CLI state transitions enforcement + lint command + expire (#1185)
  packages/gptodo/README.md
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_expire.py
  packages/gptodo/tests/test_lint_frontmatter.py
  packages/gptodo/tests/test_state_transitions.py
Due: check-markdown-links

fix(gptodo): preserve expire json contract on empty task dirs
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_expire.py
Due: none

fix(gptodo): preserve expire json contract on empty task dirs (#1186)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_expire.py
Due: none
