Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(lessons): remove additional dead keywords from 3 lessons (#909)
  lessons/tools/check-cli---help-before-readin.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): archive gh-pr-review-extension (confirmed harmful, Δ=-0.1291, unconfounded)
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): archive progress-despite-blockers (Δ=-0.1389) and check-existing-prs (Δ=-0.0429) — confirmed harmful, unconfounded, p<0.05
  lessons/workflow/check-existing-prs.md
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): archive progress-despite-blockers (Δ=-0.1389) and check-existing-prs (Δ=-0.0429) — confirmed harmful, unconfounded, p<0.05 (#911)
  lessons/workflow/check-existing-prs.md
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): archive gh-pr-review-extension (confirmed harmful, Δ=-0.1291, unconfounded) (#910)
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): explain monotony trigger routing
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(quota): clarify Claude usage auth failures
  scripts/check-claude-usage.sh
Due: none

fix(lessons): replace dead strategic-focus keywords (#907)
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): prune measured dead keywords (#908)
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
  lessons/workflow/agent-workspace-maintenance.md
  lessons/workflow/check-existing-prs.md
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

fix(quota): surface stalled claude usage loads
  scripts/check-claude-usage.sh
Due: none

fix(lessons): prune remaining dead keywords
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/tools/greptile-pr-reviews.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): extend scope-discipline keyword match list
  lessons/autonomous/scope-discipline-in-autonomous-work.md
Due: check-markdown-links, validate-lesson-metadata

refactor(scripts): replace unnecessary elif with if after early return
  scripts/github/pr-greptile-trigger.py
Due: none

feat(self-merge): allow trusted repo-path overrides
  scripts/github/self-merge-check.py
Due: none

fix(self-merge): use PurePosixPath.match instead of fnmatchcase for repo-path allowlist
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

fix(self-merge): support recursive repo-path globs
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

style(self-merge): format recursive glob tests
  tests/test_self_merge_check.py
Due: none

feat(self-merge): allow trusted repo-path overrides
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/autonomous/scope-discipline-in-autonomous-work.md
  lessons/tools/greptile-pr-reviews.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
  scripts/check-claude-usage.sh
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: check-markdown-links, validate-lesson-metadata

fix(hooks): fetch submodule commits from configured upstream
  scripts/precommit/validate_submodule_commits.py
  tests/test_validate_submodule_commits.py
Due: none

fix(hooks): remove unreachable fetch exception handler
  scripts/precommit/validate_submodule_commits.py
Due: none

fix(hooks): fetch submodule commits from configured upstream (#913)
  scripts/precommit/validate_submodule_commits.py
  tests/test_validate_submodule_commits.py
Due: none

fix(judge): move Category Interpretation before goal-priority, add forbidden constructions
  packages/gptme-sessions/src/gptme_sessions/judge.py
Due: none

feat(judge): add worked-example reasoning chains to judge prompt
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(judge): add worked-example reasoning chains to judge prompt (#915)
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(codegraph): tighten multi-language parser surface
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/pyproject.toml
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/tests/test_codegraph.py
  packages/gptme-codegraph/tests/test_codegraph_imports.py
  packages/gptme-codegraph/tests/test_codegraph_sqlite_cache.py
  packages/gptme-codegraph/tests/test_multilang.py
  uv.lock
Due: check-markdown-links

fix(codegraph): de-prioritize test files in repo maps
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/tests/test_codegraph.py
Due: none

fix(typecheck): restore mypy coverage for gptme-contrib-lib and gptme-lessons-extras
  packages/gptme-contrib-lib/src/gptme_contrib_lib/config.py
  pyproject.toml
  uv.lock
Due: none

fix(gptme-tts): add explicit backend teardown contract
  plugins/gptme-tts/tests/conftest.py
  plugins/gptme-tts/tests/test_tts.py
  plugins/gptme-tts/tts_chatterbox.py
  plugins/gptme-tts/tts_kokoro.py
  plugins/gptme-tts/tts_server.py
Due: none

fix(gptme-tts): decouple teardown tests from optional deps
  plugins/gptme-tts/tests/test_tts.py
Due: none

fix(tts): guard against uninitialized temp_backend in --list-voices finally block
  plugins/gptme-tts/tts_server.py
Due: none

fix(gptme-tts): add explicit backend teardown contract
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/pyproject.toml
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/tests/test_codegraph.py
  packages/gptme-codegraph/tests/test_codegraph_imports.py
  packages/gptme-codegraph/tests/test_codegraph_sqlite_cache.py
  packages/gptme-codegraph/tests/test_multilang.py
  packages/gptme-contrib-lib/src/gptme_contrib_lib/config.py
  plugins/gptme-tts/tests/conftest.py
  plugins/gptme-tts/tests/test_tts.py
  plugins/gptme-tts/tts_chatterbox.py
  plugins/gptme-tts/tts_kokoro.py
  plugins/gptme-tts/tts_server.py
  pyproject.toml
  uv.lock
Due: check-markdown-links

fix(linear): validate OAuth state round-trip
  .gitignore
  pyproject.toml
  scripts/linear/.gitignore
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook-server.py
  tests/test_linear_oauth_state.py
  uv.lock
Due: check-markdown-links

fix(gptme-codegraph): preserve decorated python defs
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/tests/test_codegraph.py
Due: none

fix(linear): share oauth state helpers
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook-server.py
  scripts/linear/linear_oauth_state.py
  tests/test_linear_oauth_state.py
Due: none

fix(linear): validate OAuth state round-trip
  .gitignore
  pyproject.toml
  scripts/linear/.gitignore
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook-server.py
  scripts/linear/linear_oauth_state.py
  tests/test_linear_oauth_state.py
  uv.lock
Due: check-markdown-links

fix(gptme-codegraph): report start_line from first decorator, not def keyword
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/tests/test_codegraph.py
Due: none
