Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix: update outdated plugin paths in README files
  plugins/gptme-lsp/README.md
  plugins/gptme-wrapped/README.md
Due: check-markdown-links

fix(monitoring): filter out PR updates that are just bot invocations
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

fix(monitoring): filter out PR updates that are just bot invocations (#185)
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

docs: update README to mention plugins and packages
  README.md
Due: check-markdown-links

fix: update README plugin table to match current structure
  README.md
Due: check-markdown-links

fix: address review feedback - add tmux check, remove unused variable
  plugins/ralph-loop/src/gptme_ralph_loop/tools/ralph_loop.py
Due: none

feat(plugins): add ralph-loop plugin for iterative execution
  plugins/ralph-loop/README.md
  plugins/ralph-loop/pyproject.toml
  plugins/ralph-loop/src/gptme_ralph_loop/__init__.py
  plugins/ralph-loop/src/gptme_ralph_loop/tools/__init__.py
  plugins/ralph-loop/src/gptme_ralph_loop/tools/ralph_loop.py
  plugins/ralph-loop/tests/test_ralph_loop.py
  uv.lock
Due: check-markdown-links

refactor(plugins): rename ralph-loop to gptme-ralph
  plugins/gptme-ralph/README.md
  plugins/gptme-ralph/pyproject.toml
  plugins/gptme-ralph/src/gptme_ralph/__init__.py
  plugins/gptme-ralph/src/gptme_ralph/tools/__init__.py
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
  plugins/gptme-ralph/tests/test_ralph_loop.py
  uv.lock
Due: check-markdown-links

docs: add lessons directory README and exclude READMEs from lesson validation
  lessons/README.md
  scripts/precommit/validate_lesson_metadata.py
Due: check-markdown-links, validate-lesson-metadata

docs: update README to mention plugins and packages (#184)
  README.md
  lessons/README.md
  scripts/precommit/validate_lesson_metadata.py
Due: check-markdown-links, validate-lesson-metadata

feat(plugins): add ralph-loop plugin for iterative execution (#179)
  plugins/gptme-ralph/README.md
  plugins/gptme-ralph/pyproject.toml
  plugins/gptme-ralph/src/gptme_ralph/__init__.py
  plugins/gptme-ralph/src/gptme_ralph/tools/__init__.py
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
  plugins/gptme-ralph/tests/test_ralph_loop.py
  uv.lock
Due: check-markdown-links

refactor(plugins): rename ace to gptme-ace for naming consistency
  plugins/README.md
  plugins/gptme-ace/README.md
  plugins/gptme-ace/pyproject.toml
  plugins/gptme-ace/src/gptme_ace/__init__.py
  plugins/gptme-ace/src/gptme_ace/embedder.py
  plugins/gptme-ace/src/gptme_ace/gptme_integration.py
  plugins/gptme-ace/src/gptme_ace/hybrid_retriever.py
  plugins/gptme-ace/src/gptme_ace/retrieval_analytics.py
  plugins/gptme-ace/tests/__init__.py
  plugins/gptme-ace/tests/test_ace.py
  uv.lock
Due: check-markdown-links

fix: update ace link in root README to gptme-ace
  README.md
Due: check-markdown-links

fix(ace): update docstring import path from ace to gptme_ace
  plugins/gptme-ace/src/gptme_ace/retrieval_analytics.py
Due: none

refactor(plugins): rename ace to gptme-ace for naming consistency (#186)
  README.md
  plugins/README.md
  plugins/gptme-ace/README.md
  plugins/gptme-ace/pyproject.toml
  plugins/gptme-ace/src/gptme_ace/__init__.py
  plugins/gptme-ace/src/gptme_ace/embedder.py
  plugins/gptme-ace/src/gptme_ace/gptme_integration.py
  plugins/gptme-ace/src/gptme_ace/hybrid_retriever.py
  plugins/gptme-ace/src/gptme_ace/retrieval_analytics.py
  plugins/gptme-ace/tests/__init__.py
  plugins/gptme-ace/tests/test_ace.py
  uv.lock
Due: check-markdown-links

fix(tests): update mock paths to use gptme_runloops module name
  packages/gptme_runloops/tests/test_autonomous.py
  packages/gptme_runloops/tests/test_base.py
  packages/gptme_runloops/tests/test_email.py
  packages/gptme_runloops/tests/test_integration.py
  packages/gptme_runloops/tests/test_project_monitoring.py
Due: none

fix(ralph): enable tool execution in Claude backend
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

fix(ralph): add explicit instructions for plan.md checkbox updates
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

fix(ralph): add missing tool flags to background loop Claude backend
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

fix(ralph): enable tool execution in Claude backend (#193)
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

feat(gptodo): add sub-agent spawning for multi-agent collaboration
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(packages): update hatch build and script configs for new module names
  packages/gptme-contrib-lib/pyproject.toml
  packages/gptme-runloops/pyproject.toml
Due: none

fix(gptodo): prevent shell injection in subagent background execution
  .gitignore
  packages/gptodo/src/gptodo/subagent.py
Due: none

Apply suggestion from @ErikBjare
  packages/gptme-runloops/pyproject.toml
Due: none

fix(ralph): improve prompt to ensure plan.md checkbox updates
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

test(ralph): fix _build_prompt tests for new plan_file_path parameter
  plugins/gptme-ralph/tests/test_ralph_loop.py
Due: none

fix(packages): add missing hatch build configuration
  packages/gptme-lessons-extras/pyproject.toml
  packages/gptme-runloops/pyproject.toml
Due: none

fix(types): add type annotations to gptme-runloops for mypy compliance
  packages/gptme-runloops/src/gptme_runloops/utils/github.py
  pyproject.toml
Due: none

ci: add gptme-ralph to plugin test workflow
  .github/workflows/test-plugins.yml
Due: none

fix(ralph): improve prompt to ensure plan.md checkbox updates (#195)
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
  plugins/gptme-ralph/tests/test_ralph_loop.py
Due: none

ci: add gptme-ralph to plugin test workflow (#197)
  .github/workflows/test-plugins.yml
Due: none

chore: added symlinks from old locations to new ones
  packages/lessons
  packages/lib
  packages/run_loops
Due: none

fix: remove symlinks that caused duplicate workspace members
  packages/lessons
  packages/lib
  packages/run_loops
Due: none

fix: remove symlinks that caused duplicate workspace members (#198)
  packages/lessons
  packages/lib
  packages/run_loops
Due: none

fix: use exclude config instead of removing symlinks
  packages/lessons
  packages/lib
  packages/run_loops
  pyproject.toml
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
