Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(sessions): address Greptile P1 review findings on FPS signals
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(sessions): add forward-progress signals — prs_submitted and issues_closed (#556)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): deduplicate commits detected from both result_str and bg file
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): deduplicate commits detected from both result_str and bg file (#557)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(lessons): add 4 Python/uv workspace lessons
  lessons/tools/configure-pytest-pythonpath-fo.md
  lessons/tools/gh-pr-checks-exit-code-8.md
  lessons/tools/match-mypy-error-codes-to-actu.md
  lessons/tools/uv-sync-all-packages-after-changes.md
Due: check-markdown-links, validate-lesson-metadata

docs(gptmail): add port 587 and tls_starttls to msmtprc example
  packages/gptmail/README.md
Due: check-markdown-links

fix(lessons): replace agent-specific package names with generic placeholders
  lessons/tools/configure-pytest-pythonpath-fo.md
  lessons/tools/uv-sync-all-packages-after-changes.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace 'context' package example with generic 'mypkg' in detection
  lessons/tools/configure-pytest-pythonpath-fo.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add 4 Python/uv workspace lessons (#558)
  lessons/tools/configure-pytest-pythonpath-fo.md
  lessons/tools/gh-pr-checks-exit-code-8.md
  lessons/tools/match-mypy-error-codes-to-actu.md
  lessons/tools/uv-sync-all-packages-after-changes.md
Due: check-markdown-links, validate-lesson-metadata

fix(gptmail): delete scripts/communication_utils/ (migrated to gptmail package)
  scripts/communication_utils/README.md
  scripts/communication_utils/__init__.py
  scripts/communication_utils/auth/__init__.py
  scripts/communication_utils/auth/callback_server.py
  scripts/communication_utils/auth/oauth.py
  scripts/communication_utils/auth/token_storage.py
  scripts/communication_utils/auth/tokens.py
  scripts/communication_utils/config/__init__.py
  scripts/communication_utils/config/base.py
  scripts/communication_utils/config/loaders.py
  scripts/communication_utils/config/platform_configs.py
  scripts/communication_utils/config/validation.py
  scripts/communication_utils/error_handling/__init__.py
  scripts/communication_utils/error_handling/errors.py
  scripts/communication_utils/error_handling/retry.py
  scripts/communication_utils/messaging/__init__.py
  scripts/communication_utils/messaging/formatting.py
  scripts/communication_utils/messaging/headers.py
  scripts/communication_utils/monitoring/__init__.py
  scripts/communication_utils/monitoring/cli.py
  scripts/communication_utils/monitoring/integration_guide.md
  scripts/communication_utils/monitoring/loggers.py
  scripts/communication_utils/monitoring/metrics.py
  scripts/communication_utils/py.typed
  scripts/communication_utils/rate_limiting/__init__.py
  scripts/communication_utils/rate_limiting/limiters.py
  scripts/communication_utils/state/__init__.py
  scripts/communication_utils/state/locks.py
  scripts/communication_utils/state/tracking.py
Due: check-markdown-links

fix(gptmail): migrate communication_utils from scripts/ to gptmail package
  packages/gptmail/pyproject.toml
  packages/gptmail/src/gptmail/communication_utils/auth/__init__.py
  packages/gptmail/src/gptmail/communication_utils/auth/callback_server.py
  packages/gptmail/src/gptmail/communication_utils/auth/token_storage.py
  packages/gptmail/src/gptmail/communication_utils/messaging/__init__.py
  packages/gptmail/src/gptmail/communication_utils/messaging/formatting.py
  scripts/discord/discord_bot.py
  scripts/discord/rate_limiting.py
  scripts/discord/test_discord_state.py
  scripts/telegram/telegram_bot.py
  scripts/twitter/twitter.py
  scripts/twitter/workflow.py
  uv.lock
Due: none

fix(gptmail): address Greptile review — guard dotenv import, fix docstring example
  packages/gptmail/src/gptmail/communication_utils/auth/token_storage.py
  packages/gptmail/src/gptmail/communication_utils/messaging/formatting.py
Due: none

fix(telegram): consolidate imports and add type: ignore[import-not-found]
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): add type: ignore[import-not-found] to second gptmail import
  scripts/telegram/telegram_bot.py
Due: none

fix(gptmail): add helpful ImportError for missing python-dotenv in token_storage
  packages/gptmail/src/gptmail/communication_utils/auth/token_storage.py
Due: none

fix(gptmail): add gptmail to twitter.py inline deps, merge duplicate telegram_bot imports
  scripts/telegram/telegram_bot.py
  scripts/twitter/twitter.py
Due: none

docs(gptmail): add Credentials section recommending pass for password management (#553)
  packages/gptmail/README.md
Due: check-markdown-links

fix(gptmail): migrate communication_utils from scripts/ to gptmail package (#559)
  packages/gptmail/pyproject.toml
  packages/gptmail/src/gptmail/communication_utils/auth/__init__.py
  packages/gptmail/src/gptmail/communication_utils/auth/callback_server.py
  packages/gptmail/src/gptmail/communication_utils/auth/token_storage.py
  packages/gptmail/src/gptmail/communication_utils/messaging/__init__.py
  packages/gptmail/src/gptmail/communication_utils/messaging/formatting.py
  scripts/communication_utils/README.md
  scripts/communication_utils/__init__.py
  scripts/communication_utils/auth/__init__.py
  scripts/communication_utils/auth/oauth.py
  scripts/communication_utils/auth/tokens.py
  scripts/communication_utils/config/__init__.py
  scripts/communication_utils/config/base.py
  scripts/communication_utils/config/loaders.py
  scripts/communication_utils/config/platform_configs.py
  scripts/communication_utils/config/validation.py
  scripts/communication_utils/error_handling/__init__.py
  scripts/communication_utils/error_handling/errors.py
  scripts/communication_utils/error_handling/retry.py
  scripts/communication_utils/messaging/__init__.py
  scripts/communication_utils/messaging/headers.py
  scripts/communication_utils/monitoring/__init__.py
  scripts/communication_utils/monitoring/cli.py
  scripts/communication_utils/monitoring/integration_guide.md
  scripts/communication_utils/monitoring/loggers.py
  scripts/communication_utils/monitoring/metrics.py
  scripts/communication_utils/py.typed
  scripts/communication_utils/rate_limiting/__init__.py
  scripts/communication_utils/rate_limiting/limiters.py
  scripts/communication_utils/state/__init__.py
  scripts/communication_utils/state/locks.py
  scripts/communication_utils/state/tracking.py
  scripts/discord/discord_bot.py
  scripts/discord/rate_limiting.py
  scripts/discord/test_discord_state.py
  scripts/telegram/telegram_bot.py
  scripts/twitter/twitter.py
  scripts/twitter/workflow.py
  uv.lock
Due: check-markdown-links

feat(scripts): upstream HN and GitHub trending news fetchers from Bob's workspace
  scripts/fetch-github-trending.py
  scripts/fetch-hn-top.py
Due: none

feat(scripts): upstream cleanup-worktrees.sh — PR-based stale worktree removal
  scripts/cleanup-worktrees.sh
Due: none

fix(scripts): address Greptile review findings
  scripts/fetch-github-trending.py
  scripts/fetch-hn-top.py
Due: none

fix(scripts): fix today_stars regex for weekly/monthly and HN exit code on failure
  scripts/fetch-github-trending.py
  scripts/fetch-hn-top.py
Due: none

feat(sessions): add category-aware grading to grade_signals()
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(scripts): address Greptile P2 feedback on cleanup-worktrees.sh
  scripts/cleanup-worktrees.sh
Due: none

fix(sessions): add monitoring fallback to infer_category, fixing Greptile gap
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(scripts): upstream HN and GitHub trending news fetchers from Bob's workspace (#560)
  scripts/fetch-github-trending.py
  scripts/fetch-hn-top.py
Due: none

feat(scripts): upstream cleanup-worktrees.sh from Bob's workspace (#561)
  scripts/cleanup-worktrees.sh
Due: none

feat(sessions): add fine-grained gh signals and extract pr_merges
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(sessions): add fine-grained gh signals and extract pr_merges (#563)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(sessions): add ci_fixed signal — detect CI failure investigation + fix cycles
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): guard ci_fixed against background-task pointer strings; clarify test comment
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

test(sessions): add background-task guard test for ci_fixed signal
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(sessions): add ci_fixed signal — detect CI failure investigation + fix cycles (#564)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

style(sessions): apply ruff formatting to new test functions
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): gate pr_merge on gh pr merge cmd, fix cross-call commit dedup
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

style(sessions): apply ruff formatting
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

style(sessions): apply ruff formatting
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): gate pr_merge on gh pr merge cmd; fix cross-call commit dedup (#565)
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(lessons): upstream 5 generic lessons from Bob's workspace
  lessons/tools/add-new-package-paths-to-mypy-.md
  lessons/tools/sibling-tool-call-errored.md
  lessons/workflow/code-coverage-principle.md
  lessons/workflow/documentation-principle.md
  lessons/workflow/verifiable-tasks-principle.md
Due: check-markdown-links, validate-lesson-metadata

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
