Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(lessons): narrow keywords and trim thompson-sampling-work-categories
  lessons/autonomous/thompson-sampling-work-categories.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow keywords and trim ci-failure-resolution lesson
  lessons/workflow/ci-failure-resolution-precommit-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow keywords and trim project-monitoring-session-patterns
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): narrow keywords and trim underperforming lessons (#609)
  lessons/autonomous/thompson-sampling-work-categories.md
  lessons/workflow/ci-failure-resolution-precommit-maintenance.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(hooks): skip worktree validation on detached HEAD
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
  tests/integration/test_git_hooks.py
Due: none

fix(hooks): skip worktree validation on detached HEAD (#610)
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
  tests/integration/test_git_hooks.py
Due: none

fix(autoresearch): fix attempt history writes for submodule deployments
  scripts/autoresearch/autoresearch-loop.sh
  scripts/autoresearch/merge-reject-loop.sh
Due: none

fix(autoresearch): fix attempt history writes for submodule deployments (#611)
  scripts/autoresearch/autoresearch-loop.sh
  scripts/autoresearch/merge-reject-loop.sh
Due: none

fix(sessions): persist exit_code in SessionRecord
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_post_session.py
Due: none

fix(sessions): persist exit_code in SessionRecord (#612)
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_post_session.py
Due: none

fix(lessons): trim agent-workspace-setup-maintenance to compact primary
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add companion doc and fix setup instructions (fork.sh + gptme-agent create)
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add version metadata field to lesson frontmatter
  lessons/README.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): trim agent-workspace-setup-maintenance to compact primary (#613)
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): enforce version field is int, add negative test
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

feat(lessons): add version metadata field to track lesson iteration history (#616)
  lessons/README.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add optional version field to lesson frontmatter
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

feat(lessons): add optional version field to lesson frontmatter (#618)
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

feat(lessons): add agent-workspace-maintenance as separate triggerable lesson
  lessons/workflow/agent-workspace-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): correct submodule status prefix and use git -C pattern
  lessons/workflow/agent-workspace-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): guard submodule commit against no-op update
  lessons/workflow/agent-workspace-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): split agent-workspace-maintenance into its own lesson (#617)
  lessons/workflow/agent-workspace-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

feat(runloops): add complexity-based timeout tiers to ProjectMonitoringRun
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

docs(knowledge): add LOO lesson evaluation confounds and alternatives
  knowledge/lessons/meta-learning/loo-lesson-evaluation-confounds.md
Due: check-markdown-links

test(runloops): fix test_has_work_sets_timeout_dynamically to actually call has_work()
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

feat(runloops): add complexity-based timeout tiers to ProjectMonitoringRun (#619)
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

docs: clarify Thompson Sampling cross-reference as category selection bandit
  knowledge/lessons/meta-learning/loo-lesson-evaluation-confounds.md
Due: check-markdown-links

docs(knowledge): LOO lesson evaluation confounds and better alternatives (#620)
  knowledge/lessons/meta-learning/loo-lesson-evaluation-confounds.md
Due: check-markdown-links

fix(lessons): remove broad 'blocked rate' keyword from progress-despite-blockers
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove broad 'blocked rate' keyword from progress-despite-blockers (#621)
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

feat(autoresearch): add saturation detection to prevent wasted compute
  scripts/autoresearch/autoresearch-loop.sh
  scripts/autoresearch/merge-reject-loop.sh
Due: none

fix(autoresearch): address Greptile P1 findings in saturation detection
  scripts/autoresearch/autoresearch-loop.sh
Due: none

fix(autoresearch): replace fragile Python float comparison with awk
  scripts/autoresearch/merge-reject-loop.sh
Due: none

feat(autoresearch): add saturation detection to prevent wasted compute (#622)
  scripts/autoresearch/autoresearch-loop.sh
  scripts/autoresearch/merge-reject-loop.sh
Due: none

fix(lessons): sync agent workspace companion guide
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links

fix(lessons): sync agent workspace companion guide (#623)
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links

fix(lessons): prune dead and self-referential keywords (6 lessons)
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/tools/linear-api-integration.md
  lessons/workflow/agent-credential-management.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): prune dead and self-referential keywords (6 lessons) (#624)
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/tools/linear-api-integration.md
  lessons/workflow/agent-credential-management.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

fix(git-hooks): scope pre-commit reruns to staged files
  dotfiles/.config/git/hooks/pre-commit
Due: none

fix(git-hooks): replace mapfile with while-read for Bash 3.2 compat
  dotfiles/.config/git/hooks/pre-commit
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
