Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix: use exclude config instead of removing symlinks
  packages/lessons
  packages/lib
  packages/run_loops
  pyproject.toml
Due: none

feat(ci): implement dynamic discovery for packages and plugins
  .github/workflows/test-packages.yml
  .github/workflows/test-plugins.yml
  Makefile
Due: none

refactor(ci): use Makefile as single source of truth for discovery
  .github/workflows/test-packages.yml
  .github/workflows/test-plugins.yml
  Makefile
Due: none

fix(tests): fix plugin test issues exposed by dynamic CI discovery
  plugins/gptme-ace/pyproject.toml
  plugins/gptme-attention-tracker/tests/test_attention_history.py
  plugins/gptme-attention-tracker/tests/test_attention_router.py
  plugins/gptme-imagen/tests/test_image_gen_phase3_2.py
Due: none

fix(ci): add EXCLUDE_PLUGINS for plugins not yet CI-ready
  Makefile
Due: none

fix(gptme-ace): fix test to handle GPTME_LESSONS_HYBRID env var
  Makefile
  plugins/gptme-ace/tests/test_ace.py
Due: none

chore(ci): enable gptme-attention-tracker in CI
  Makefile
Due: none

chore(ci): enable gptme-imagen in CI
  Makefile
Due: none

chore(ci): enable gptme-claude-code in CI
  Makefile
Due: none

chore(ci): enable gptme-lsp in CI
  Makefile
Due: none

chore(ci): enable all plugins in CI - complete Issue #200
  Makefile
Due: none

fix(consortium): update tests for 5-model default and mock retry logic
  plugins/gptme-consortium/tests/feature/test_consortium_features.py
  plugins/gptme-consortium/tests/feature/test_features_simple.py
Due: none

feat(ci): implement dynamic discovery for packages and plugins (#199)
  .github/workflows/test-packages.yml
  .github/workflows/test-plugins.yml
  Makefile
  plugins/gptme-ace/pyproject.toml
  plugins/gptme-ace/tests/test_ace.py
  plugins/gptme-attention-tracker/tests/test_attention_history.py
  plugins/gptme-attention-tracker/tests/test_attention_router.py
  plugins/gptme-consortium/tests/feature/test_consortium_features.py
  plugins/gptme-consortium/tests/feature/test_features_simple.py
  plugins/gptme-imagen/tests/test_image_gen_phase3_2.py
Due: none

fix(ralph): use stdin for claude backend prompt passing
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

feat(ralph): change default backend from claude to gptme
  plugins/gptme-ralph/README.md
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: check-markdown-links

feat(ralph): change default backend from claude to gptme (#202)
  plugins/gptme-ralph/README.md
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: check-markdown-links

fix(ralph): use stdin for claude backend prompt passing (#201)
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

feat(linear): add structured logging to webhook server
  scripts/linear/linear-webhook-server.py
Due: none

feat(ralph): add create_spec() and create_project() helpers
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
  plugins/gptme-ralph/tests/test_ralph_loop.py
Due: none

fix(ralph): use -n instead of --non-interactive for gptme CLI
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

feat(linear): add structured logging to webhook server (#203)
  scripts/linear/linear-webhook-server.py
Due: none

feat(ralph): add create_spec() and create_project() helpers (#204)
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
  plugins/gptme-ralph/tests/test_ralph_loop.py
Due: none

feat(runs): add launchd support for macOS agents
  scripts/runs/launchd/README.md
  scripts/runs/launchd/com.gptme.agent-autonomous.plist
  scripts/runs/launchd/com.gptme.agent-project-monitoring.plist
  scripts/runs/launchd/setup-launchd.sh
Due: check-markdown-links

fix(launchd): separate declare and assign for shellcheck SC2155
  scripts/runs/launchd/setup-launchd.sh
Due: none

fix(launchd): add missing run scripts referenced by plist templates
  scripts/runs/launchd/README.md
  scripts/runs/launchd/autonomous-run.sh
  scripts/runs/launchd/com.gptme.agent-autonomous.plist
  scripts/runs/launchd/com.gptme.agent-project-monitoring.plist
  scripts/runs/launchd/project-monitoring.sh
  scripts/runs/launchd/setup-launchd.sh
Due: check-markdown-links

feat(runs): add launchd support for macOS agents (#205)
  scripts/runs/launchd/README.md
  scripts/runs/launchd/autonomous-run.sh
  scripts/runs/launchd/com.gptme.agent-autonomous.plist
  scripts/runs/launchd/com.gptme.agent-project-monitoring.plist
  scripts/runs/launchd/project-monitoring.sh
  scripts/runs/launchd/setup-launchd.sh
Due: check-markdown-links

feat(gptodo): add auto-unblocking when dependent tasks complete
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
Due: none

fix(gptodo): use word boundary match to avoid false positives in waiting_for
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(gptodo): add auto-unblocking when dependent tasks complete
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/tests/__init__.py
  packages/gptodo/tests/test_unblock.py
Due: none

ci: use only Python 3.10 and 3.13 in plugins matrix
  .github/workflows/test-plugins.yml
Due: none

fix(gptodo): only clear waiting_for when it's an exact match
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/tests/test_unblock.py
Due: none

feat(gptodo): add auto-unblocking when dependent tasks complete (#208)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/tests/__init__.py
  packages/gptodo/tests/test_unblock.py
Due: none

feat(runloops): integrate friction trigger into autonomous prompt (Issue #272)
  packages/gptme-runloops/src/gptme_runloops/autonomous.py
Due: none

docs: clarify --repo requirement in gh-pr-review lesson
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

feat(linear): add list-users and user-issues commands
  scripts/linear/linear-activity.py
Due: none

feat(linear): add list-users and user-issues commands (#209)
  scripts/linear/linear-activity.py
Due: none

fix(hooks): show pre-commit failure output when checks fail
  dotfiles/.config/git/hooks/pre-commit
  uv.lock
Due: none

fix(linear): emphasize primary-directive-thread in prompt
  scripts/linear/linear-webhook-server.py
Due: none

feat(lessons): add agent credential management lesson
  lessons/workflow/agent-credential-management.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add agent credential management lesson (#212)
  lessons/workflow/agent-credential-management.md
Due: check-markdown-links, validate-lesson-metadata

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
