Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

feat(twitter): add script to check for replies from trusted users
  scripts/twitter/check_replies.py
Due: none

feat(lessons): add markdown codeblock syntax lesson and pre-commit hook
  lessons/tools/markdown-codeblock-syntax.md
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: check-markdown-links, validate-lesson-metadata

fix(validator): address review feedback
  .pre-commit-config.yaml
  lessons/tools/markdown-codeblock-syntax.md
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): derive strategic context from goals and priorities, not commits
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): use relative import for trusted_users module
  scripts/twitter/check_replies.py
  scripts/twitter/trusted_users.py
Due: none

fix(validator): address review feedback for markdown codeblock lesson (#276)
  .pre-commit-config.yaml
  lessons/tools/markdown-codeblock-syntax.md
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: check-markdown-links, validate-lesson-metadata

feat(twitter): add auto-post for trusted user replies (#277)
  scripts/twitter/check_replies.py
  scripts/twitter/trusted_users.py
  scripts/twitter/workflow.py
Due: none

feat(voice): add voice interface MVP for gptme
  scripts/voice/README.md
  scripts/voice/requirements.txt
  scripts/voice/voice_interface.py
Due: check-markdown-links

fix(voice): address Greptile review feedback
  scripts/voice/voice_interface.py
Due: none

fix(lessons): make shell snippet repo-agnostic in strategic-focus lesson (#274)
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

feat: add symlink validation pre-commit hook
  scripts/precommit/validators/validate_symlinks.py
Due: none

docs(voice): add README for real-time streaming implementation
  scripts/voice/README.md
  scripts/voice/realtime/README.md
  scripts/voice/realtime/__init__.py
  scripts/voice/realtime/audio.py
  scripts/voice/realtime/local_test.py
  scripts/voice/realtime/openai_client.py
  scripts/voice/realtime/server.py
  scripts/voice/realtime/tool_bridge.py
Due: check-markdown-links

fix(voice): remove broken link to non-existent architecture doc
  scripts/voice/README.md
Due: check-markdown-links

fix(voice): address Greptile review feedback
  scripts/voice/realtime/server.py
  scripts/voice/realtime/tool_bridge.py
  scripts/voice/requirements.txt
Due: none

feat(voice): create gptme-voice package with real-time voice interface
  packages/gptme-voice/README.md
  packages/gptme-voice/pyproject.toml
  packages/gptme-voice/src/gptme_voice/__init__.py
  packages/gptme-voice/src/gptme_voice/realtime/__init__.py
  packages/gptme-voice/src/gptme_voice/realtime/audio.py
  packages/gptme-voice/src/gptme_voice/realtime/local_test.py
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/__init__.py
  uv.lock
Due: check-markdown-links

refactor(voice): add deprecation notice for scripts.voice.realtime
  scripts/voice/realtime/__init__.py
Due: none

fix(voice): make pyaudio optional dependency for CI compatibility
  packages/gptme-voice/pyproject.toml
  uv.lock
Due: none

fix(twitter): allow trusted user auto-post even when at draft limit
  scripts/twitter/workflow.py
Due: none

fix(twitter): don't count auto-posted tweets against draft limit
  scripts/twitter/workflow.py
Due: none

docs(lesson): add clean PR creation pattern from PR #281/#282 experience
  lessons/workflow/clean-pr-creation.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): prevent duplicate replies for trusted users
  scripts/twitter/workflow.py
Due: none

fix(twitter): prevent duplicate replies for trusted users (#283)
  scripts/twitter/workflow.py
Due: none

fix(repo-status): handle no-CI, no-runs, and in-progress states
  scripts/github/repo-status.sh
Due: none

feat(summarization): add gptme-summarization package
  packages/gptme-summarization/README.md
  packages/gptme-summarization/pyproject.toml
  packages/gptme-summarization/src/gptme_summarization/__init__.py
  packages/gptme-summarization/src/gptme_summarization/cc_backend.py
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/generator.py
  packages/gptme-summarization/src/gptme_summarization/schemas.py
  uv.lock
Due: check-markdown-links

fix(summarization): address Greptile review comments
  packages/gptme-summarization/pyproject.toml
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/generator.py
  uv.lock
Due: none

fix(summarization): use workspace detection instead of hardcoded paths
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/generator.py
Due: none

feat(voice): improve subagent dispatch, fix feedback loop, add limitations docs
  packages/gptme-voice/README.md
  packages/gptme-voice/src/gptme_voice/realtime/local_test.py
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
Due: check-markdown-links
