Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(lessons): replace workspace-specific package names with generic placeholders
  lessons/tools/add-new-package-paths-to-mypy-.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): upstream 5 generic lessons from Bob's workspace (#566)
  lessons/tools/add-new-package-paths-to-mypy-.md
  lessons/tools/sibling-tool-call-errored.md
  lessons/workflow/code-coverage-principle.md
  lessons/workflow/documentation-principle.md
  lessons/workflow/verifiable-tasks-principle.md
Due: check-markdown-links, validate-lesson-metadata

feat(scripts): add gptme-lessons-mcp MCP server for lesson discovery
  scripts/gptme-lessons-mcp.py
Due: none

fix(gptme-lessons-mcp): address Greptile P1/P2 review findings
  scripts/gptme-lessons-mcp.py
Due: none

fix(gptme-lessons-mcp): remove stale effectiveness comment (was using old filename key format)
  scripts/gptme-lessons-mcp.py
Due: none

feat(scripts): add gptme-lessons-mcp MCP server for lesson discovery (#567)
  scripts/gptme-lessons-mcp.py
Due: none

fix(gptme-lessons-mcp): filter to active_lessons once in build_server
  scripts/gptme-lessons-mcp.py
Due: none

fix(gptme-lessons-mcp): filter to active_lessons once in build_server (#569)
  scripts/gptme-lessons-mcp.py
Due: none

fix(sessions): guard store.load_all() in duplicate journal check; show truncation count; scope caplog logger
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): warn on duplicate journal path reuse
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): coerce session_id to str in join to handle None values
  packages/gptme-sessions/src/gptme_sessions/post_session.py
Due: none

fix(lessons): route greptile review triggers through helper
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(sessions): warn on duplicate journal path reuse (#568)
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(lessons): route greptile review triggers through helper (#570)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): polish Greptile helper guidance
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): restore parent sys.path for twitter package imports
  scripts/twitter/workflow.py
Due: none

fix(twitter): restore parent sys.path for twitter package imports (#571)
  scripts/twitter/workflow.py
Due: none

fix(twitter): skip interactive OAuth 2.0 flow in headless/auto mode
  scripts/twitter/twitter.py
  scripts/twitter/workflow.py
Due: none

fix(twitter): skip interactive OAuth 2.0 flow in headless/auto mode (#572)
  scripts/twitter/twitter.py
  scripts/twitter/workflow.py
Due: none

feat(gptwitter): package twitter cli and auth helpers
  packages/README.md
  packages/gptwitter/Makefile
  packages/gptwitter/README.md
  packages/gptwitter/pyproject.toml
  packages/gptwitter/src/gptwitter/__init__.py
  packages/gptwitter/src/gptwitter/__main__.py
  packages/gptwitter/src/gptwitter/api.py
  packages/gptwitter/src/gptwitter/cli.py
  packages/gptwitter/src/gptwitter/py.typed
  packages/gptwitter/tests/test_api.py
  packages/gptwitter/tests/test_cli.py
  pyproject.toml
  scripts/twitter/check_replies.py
  scripts/twitter/twitter.py
  scripts/twitter/workflow.py
  uv.lock
Due: check-markdown-links

fix(gptmail): strip quoted content before notification pattern check (#555)
  packages/gptmail/src/gptmail/lib.py
  packages/gptmail/tests/test_notification_filter.py
Due: none

feat(activity-summary): rename CLI entrypoint to gptme-activity-summary
  packages/gptme-activity-summary/README.md
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
Due: check-markdown-links

feat(activity-summary): rename CLI entrypoint to gptme-activity-summary (#573)
  packages/gptme-activity-summary/README.md
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
Due: check-markdown-links

docs(lessons): clarify Greptile helper inspection flow
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): polish Greptile helper guidance (#574)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): log headless OAuth fallback without saved token
  scripts/twitter/twitter.py
Due: none

fix(twitter): log headless OAuth fallback without saved token (#575)
  scripts/twitter/twitter.py
Due: none

feat(mcp): wire LOO effectiveness scores into lessons MCP server
  scripts/gptme-lessons-mcp.py
Due: none

fix(mcp): correct or-based 0.0 score drop and unguarded r[path] KeyError
  scripts/gptme-lessons-mcp.py
Due: none

fix(mcp): remove stale filesystem state from help text
  scripts/gptme-lessons-mcp.py
Due: none

feat(mcp): wire LOO effectiveness scores into lessons MCP server (#576)
  scripts/gptme-lessons-mcp.py
Due: none

fix(greptile-trigger): exclude 'none' state from actionable PRs
  scripts/github/pr-greptile-trigger.py
Due: none

fix(greptile-trigger): add none_state bucket to --status summary counts
  scripts/github/pr-greptile-trigger.py
Due: none

fix(greptile-trigger): exclude 'none' state from actionable PRs (#577)
  scripts/github/pr-greptile-trigger.py
Due: none

feat(github): add pr-queue-health.py — configurable PR backlog monitor
  scripts/github/pr-queue-health.py
Due: none

feat(github): add pr-review-guide.py — PR difficulty estimator and prioritization
  scripts/github/pr-review-guide.py
  tests/test_pr_review_guide.py
Due: none

fix(github): harden pr-queue-health data handling
  scripts/github/pr-queue-health.py
  tests/test_pr_queue_health.py
Due: none

fix(github): treat pending checks as non-green in pr-review-guide
  scripts/github/pr-review-guide.py
  tests/test_pr_review_guide.py
Due: none

feat(autoresearch): add eval-gated code improvement loop
  scripts/autoresearch/README.md
  scripts/autoresearch/autoresearch-loop.sh
  scripts/autoresearch/check-autoresearch-status.py
  scripts/autoresearch/config.yaml
  scripts/autoresearch/eval-score.sh
  scripts/autoresearch/examples/gptme-eval-program.md
  scripts/autoresearch/examples/gptme-eval.yaml
  scripts/autoresearch/experiments/.gitkeep
  scripts/autoresearch/merge-reject-loop.sh
  tests/test_autoresearch_status.py
Due: check-markdown-links

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
