Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(codegraph): use git ls-files in _iter_python_files for git repos (#881)
  packages/gptme-codegraph/src/gptme_codegraph/core.py
Due: none

feat(gptme-voice): add G.711 mu-law passthrough on OpenAI Twilio path
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_openai_client.py
  packages/gptme-voice/tests/test_server.py
Due: none

feat(gptme-voice): add G.711 mu-law passthrough on OpenAI Twilio path (#882)
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_openai_client.py
  packages/gptme-voice/tests/test_server.py
Due: none

fix(lessons): replace dead keywords on read-full-github-context
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords on read-full-github-context (#883)
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords on avoid-long-try-blocks
  lessons/patterns/avoid-long-try-blocks.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords on avoid-long-try-blocks (#884)
  lessons/patterns/avoid-long-try-blocks.md
Due: check-markdown-links, validate-lesson-metadata

fix(gptme-sessions): category-aware rubric in LLM judge prompt
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

fix(gptme-sessions): clarify rubric 0.5-0.6 band to be category-neutral
  packages/gptme-sessions/src/gptme_sessions/judge.py
Due: none

fix(gptme-sessions): align 0.7-0.8 rubric band to include compounding support work
  packages/gptme-sessions/src/gptme_sessions/judge.py
Due: none

fix(gptme-sessions): category-aware rubric in LLM judge prompt (#885)
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

test(gptme-sessions): fix trivial infrastructure assertion in category-interpretation guard
  packages/gptme-sessions/tests/test_judge.py
Due: none

fix(lessons): replace dead keywords on read-full-github-context, add companion link
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add missing github context companion
  knowledge/lessons/workflow/read-full-github-context.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords on read-full-github-context, add companion link (#886)
  knowledge/lessons/workflow/read-full-github-context.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

chore(lessons): add target_grade to 3 remaining untagged lessons
  lessons/autonomous/escalation-vs-autonomy.md
  lessons/patterns/simplify-before-optimize.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
Due: check-markdown-links, validate-lesson-metadata

fix(voice): retry generic alias when realtime-2 handshake fails
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

fix(lessons): fix dead keywords in simplify-before-optimize and read-full-github-context
  lessons/patterns/simplify-before-optimize.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): fix dead keywords in simplify-before-optimize and read-full-github-context (#888)
  lessons/patterns/simplify-before-optimize.md
  lessons/workflow/read-full-github-context.md
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/tests/test_openai_client.py
Due: check-markdown-links, validate-lesson-metadata

fix(voice): block empty-body realtime alias retries
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

fix(voice): retry generic alias when realtime-2 handshake fails (#889)
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

fix(lessons): deprecate llmlingua-compression glossary entry; fix over-broad keywords in stated-intention-follow-through
  lessons/concepts/llmlingua-compression.md
  lessons/workflow/stated-intention-follow-through.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): address PR 890 review feedback
  lessons/concepts/llmlingua-compression.md
  lessons/workflow/stated-intention-follow-through.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): deprecate llmlingua-compression glossary entry; fix over-broad keywords in stated-intention-follow-through (#890)
  lessons/concepts/llmlingua-compression.md
  lessons/workflow/stated-intention-follow-through.md
Due: check-markdown-links, validate-lesson-metadata

fix(types): clear mypy regressions in prompt helpers
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-runloops/src/gptme_runloops/utils/prompt.py
Due: none

fix(types): clear mypy regressions in prompt helpers (#891)
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-runloops/src/gptme_runloops/utils/prompt.py
Due: none

feat(tooloutput-trimmer): add read-time trimming plugin
  plugins/gptme-tooloutput-trimmer/pyproject.toml
  plugins/gptme-tooloutput-trimmer/src/tooloutput_trimmer/__init__.py
  plugins/gptme-tooloutput-trimmer/src/tooloutput_trimmer/hooks/__init__.py
  plugins/gptme-tooloutput-trimmer/src/tooloutput_trimmer/hooks/trimmer.py
  plugins/gptme-tooloutput-trimmer/tests/test_tooloutput_trimmer.py
  uv.lock
Due: none

refactor(tooloutput-trimmer): drop post-hoc confirmed_cache_miss trigger
  plugins/gptme-tooloutput-trimmer/src/tooloutput_trimmer/hooks/__init__.py
  plugins/gptme-tooloutput-trimmer/src/tooloutput_trimmer/hooks/trimmer.py
  plugins/gptme-tooloutput-trimmer/tests/test_tooloutput_trimmer.py
Due: none

fix(lessons): replace dead keywords in measure-before-optimize
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords in measure-before-optimize (#892)
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): include rejected/review dirs in reply-dedup to stop re-evaluation loop
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(twitter): update stale inline comment to match wider dedup scan
  scripts/twitter/workflow.py
Due: none

fix(twitter): include rejected/review dirs in reply-dedup to stop re-evaluation loop (#893)
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

feat(voice): add hub-backed handoff initiator
  packages/gptme-voice/README.md
  packages/gptme-voice/src/gptme_voice/handoff.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_handoff.py
  packages/gptme-voice/tests/test_server.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: check-markdown-links

fix(voice): refresh OpenAI realtime session payload
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

feat(mcp): expose agent memory from lessons server
  pyproject.toml
  scripts/gptme-lessons-mcp.py
  tests/test_gptme_lessons_mcp.py
  uv.lock
Due: none

fix(mcp): guard exec_module and skip tests outside agent workspace
  scripts/gptme-lessons-mcp.py
  tests/test_gptme_lessons_mcp.py
Due: none
