Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

feat(context): add repo-map.py — portable repo-map generation via gptme-codegraph
  scripts/context/repo-map.py
Due: none

fix(context/repo-map): remove dead committed-artifact code path, add returncode check and timeout
  scripts/context/repo-map.py
Due: none

fix(context/repo-map): guard iterdir against missing path, drop redundant line-trim
  scripts/context/repo-map.py
Due: none

feat(context): add repo-map.py — portable repo-map generation via gptme-codegraph (#1006)
  scripts/context/repo-map.py
Due: none

feat(aw-watcher-agent): Codex log-tailer for per-tool activity heartbeats
  packages/aw-watcher-agent/README.md
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: check-markdown-links

fix(aw-watcher-agent): address Greptile review findings in tailer
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
Due: none

fix(aw-watcher-agent): prevent duplicate heartbeats on timer re-runs
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

fix(aw-watcher-agent): don't advance cursor past in-flight tail calls
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

feat(aw-watcher-agent): Codex log-tailer for per-tool activity heartbeats (#1007)
  packages/aw-watcher-agent/README.md
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: check-markdown-links

fix(self-merge): treat green StatusContext checks as passing
  scripts/github/self-merge-check.py
  tests/test_self_merge_check.py
Due: none

feat(aw-watcher-agent): add emit-activity command
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

fix(aw-watcher-agent): address greptile P2 findings on activity_data
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

fix(aw-watcher-agent): catch ValueError in main() to preserve non-fatal contract
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

feat(aw-watcher-agent): add emit-activity command (#1009)
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
  packages/aw-watcher-agent/src/aw_watcher_agent/tailer.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

docs(codegraph): add 'when to use' decision rule (codegraph vs grep vs semantic)
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
Due: check-markdown-links

docs(codegraph): reframe mcp_server docstring with agent-benefit framing and Unicode arrows
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
Due: none

docs(codegraph): add 'when to use' decision rule (codegraph vs grep vs semantic) (#1010)
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
Due: check-markdown-links

fix(rss): report network failures as fetch errors, not parse errors
  tools/rss_reader.py
Due: none

fix(rss): report network failures as fetch errors, not parse errors (#1011)
  tools/rss_reader.py
Due: none

feat(codegraph): add committed repo-map artifact CLI
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/pyproject.toml
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: check-markdown-links

fix(codegraph): address Greptile review — CLI --force flag and metadata key-overwrite
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: none

fix(codegraph): address Greptile P2 review findings in commit_map
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: none

fix(codegraph): catch TypeError from timezone-naive generated field
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: none

feat(codegraph): add committed repo-map artifact CLI (#1012)
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/pyproject.toml
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: check-markdown-links

feat(sessions): add regex-based LLM smell detector
  packages/gptme-sessions/src/gptme_sessions/smell.py
  packages/gptme-sessions/tests/test_smell.py
Due: none

fix(codegraph): pin committed repo-map directory to '.' for portability
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: none

fix(smell): fix API contract: exponential scaling → 0.0 at raw=0, tapestry regex no longer overlaps 'tapestry of'
  packages/gptme-sessions/src/gptme_sessions/smell.py
  packages/gptme-sessions/tests/test_smell.py
Due: none

fix(codegraph): restore real path in cmd_generate CLI header
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
Due: none

fix(codegraph): pin committed repo-map directory to '.' for portability (#1014)
  packages/gptme-codegraph/src/gptme_codegraph/commit_map.py
  packages/gptme-codegraph/tests/test_commit_map.py
Due: none

feat(sessions): add regex-based LLM smell detector (#1013)
  packages/gptme-sessions/src/gptme_sessions/smell.py
  packages/gptme-sessions/tests/test_smell.py
Due: none

fix(lessons): remove 4 dead keywords confirmed zero-match in full trajectory window
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove 4 dead keywords confirmed zero-match in full trajectory window (#1015)
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

fix(resolver): prompt model to validate patch success and retry on failure
  scripts/github_resolver/prompts/issue-resolver.md
Due: check-markdown-links

fix(resolver): s/at least/up to/ in retry bound (Greptile finding)
  scripts/github_resolver/prompts/issue-resolver.md
Due: check-markdown-links

fix(resolver): prompt model to validate patch success and retry on failure (#1016)
  scripts/github_resolver/prompts/issue-resolver.md
Due: check-markdown-links

fix(resolver): require reading files before patching
  scripts/github_resolver/prompts/issue-resolver.md
  scripts/github_resolver/test_resolve_issue.py
Due: check-markdown-links

fix(resolver): require reading files before patching (#1017)
  scripts/github_resolver/prompts/issue-resolver.md
  scripts/github_resolver/test_resolve_issue.py
Due: check-markdown-links

fix(resolver): reclassify status when all patch tools errored despite dirty worktree
  scripts/github_resolver/prompts/issue-resolver.md
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: check-markdown-links

fix(resolver): gate dirty-worktree success path on write-tool errors
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: none

fix(resolver): use raw error count for all-writes-failed guard
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: none
