Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(summarization): use _get_agent_workspace to handle submodules
  packages/gptme-summarization/src/gptme_summarization/generator.py
Due: none

fix(lessons): make shell snippet repo-agnostic in strategic-focus lesson (#274)
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): allow trusted user auto-post even when at draft limit
  scripts/twitter/workflow.py
Due: none

docs(lesson): add clean PR creation pattern from PR #281/#282 experience
  lessons/workflow/clean-pr-creation.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): don't count auto-posted tweets against draft limit
  scripts/twitter/workflow.py
Due: none

fix(voice): address Greptile review feedback
  packages/gptme-voice/src/gptme_voice/realtime/audio.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
Due: none

feat(voice): add voice interface MVP for gptme (#280)
  packages/gptme-voice/README.md
  packages/gptme-voice/pyproject.toml
  packages/gptme-voice/src/gptme_voice/__init__.py
  packages/gptme-voice/src/gptme_voice/realtime/__init__.py
  packages/gptme-voice/src/gptme_voice/realtime/audio.py
  packages/gptme-voice/src/gptme_voice/realtime/local_test.py
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/__init__.py
  scripts/voice/README.md
  scripts/voice/realtime/README.md
  scripts/voice/realtime/__init__.py
  scripts/voice/realtime/audio.py
  scripts/voice/realtime/local_test.py
  scripts/voice/realtime/openai_client.py
  scripts/voice/realtime/server.py
  scripts/voice/realtime/tool_bridge.py
  scripts/voice/requirements.txt
  scripts/voice/voice_interface.py
  uv.lock
Due: check-markdown-links

fix: use gptme master and add audioop-lts for Python 3.13
  packages/gptme-voice/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

feat(lib): add get_agent_workspace() shared utility
  mypy.ini
  packages/gptme-contrib-lib/src/gptme_contrib_lib/config.py
  packages/gptme-summarization/pyproject.toml
  packages/gptme-summarization/src/gptme_summarization/generator.py
  pyproject.toml
  uv.lock
Due: none

feat(gptmail): use shared get_agent_workspace utility
  packages/gptmail/pyproject.toml
  packages/gptmail/src/gptmail/cli.py
  uv.lock
Due: none

fix(summarization): add explicit type annotation for output_path
  mypy.ini
  packages/gptme-summarization/src/gptme_summarization/generator.py
Due: none

chore: add *.egg-info to gitignore
  .gitignore
Due: none

fix(mypy): add workspace package paths for cross-package type checking
  mypy.ini
Due: none

fix(mypy): remove gptme-contrib-lib from exclude list
  .pre-commit-config.yaml
Due: none

fix(mypy): remove gptme-contrib-lib from mypy_path
  mypy.ini
Due: none

feat(summarization): add real data sources, improve prompts, fix mypy CI
  .pre-commit-config.yaml
  packages/gptme-contrib-lib/src/gptme_contrib_lib/config.py
  packages/gptme-summarization/Makefile
  packages/gptme-summarization/README.md
  packages/gptme-summarization/pyproject.toml
  packages/gptme-summarization/src/gptme_summarization/__init__.py
  packages/gptme-summarization/src/gptme_summarization/cc_backend.py
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/generator.py
  packages/gptme-summarization/src/gptme_summarization/github_data.py
  packages/gptme-summarization/src/gptme_summarization/schemas.py
  packages/gptme-summarization/src/gptme_summarization/session_data.py
  packages/gptme-summarization/tests/__init__.py
  packages/gptme-summarization/tests/test_cc_backend.py
  packages/gptme-summarization/tests/test_github_data.py
  packages/gptme-summarization/tests/test_session_data.py
  pyproject.toml
Due: check-markdown-links

refactor(summarization): depend on gptme core instead of gptme-contrib-lib
  packages/gptme-summarization/Makefile
  packages/gptme-summarization/pyproject.toml
  packages/gptme-summarization/src/gptme_summarization/generator.py
  pyproject.toml
  uv.lock
Due: none

chore(mypy): enable check_untyped_defs across the monorepo
  packages/gptmail/pyproject.toml
  packages/gptme-summarization/pyproject.toml
  packages/gptodo/pyproject.toml
  plugins/gptme-imagen/pyproject.toml
  plugins/gptme-warpgrep/pyproject.toml
  pyproject.toml
Due: none

fix(summarization): improve summary rendering quality
  packages/gptme-summarization/src/gptme_summarization/cc_backend.py
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/schemas.py
Due: none

fix(summarization): show per-model session counts in summaries
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/schemas.py
Due: none

feat(summarization): add interactions, external signals, model table
  packages/gptme-summarization/src/gptme_summarization/cc_backend.py
  packages/gptme-summarization/src/gptme_summarization/cli.py
  packages/gptme-summarization/src/gptme_summarization/github_data.py
  packages/gptme-summarization/src/gptme_summarization/schemas.py
  packages/gptme-summarization/src/gptme_summarization/session_data.py
Due: none

fix(twitter): ensure tokens are reloaded after refresh
  scripts/twitter/check_replies.py
  scripts/twitter/twitter.py
Due: none

feat: rename to gptme-activity-summary, add tweet/email context providers
  .pre-commit-config.yaml
  packages/gptme-activity-summary/Makefile
  packages/gptme-activity-summary/README.md
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/__init__.py
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
  packages/gptme-activity-summary/src/gptme_activity_summary/generator.py
  packages/gptme-activity-summary/src/gptme_activity_summary/github_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/schemas.py
  packages/gptme-activity-summary/src/gptme_activity_summary/session_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/workspace_data.py
  packages/gptme-activity-summary/tests/__init__.py
  packages/gptme-activity-summary/tests/test_cc_backend.py
  packages/gptme-activity-summary/tests/test_github_data.py
  packages/gptme-activity-summary/tests/test_session_data.py
  packages/gptme-activity-summary/tests/test_workspace_data.py
  packages/gptme-summarization/src/gptme_summarization/__init__.py
  uv.lock
Due: check-markdown-links

fix(twitter): ensure tokens are reloaded after refresh (#285)
  scripts/twitter/check_replies.py
  scripts/twitter/twitter.py
Due: none

fix: address Greptile review — enum mismatch, duplicate fetching
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
  packages/gptme-activity-summary/src/gptme_activity_summary/schemas.py
Due: none

feat: add gptme-activity-summary package (#286)
  .pre-commit-config.yaml
  packages/gptme-activity-summary/Makefile
  packages/gptme-activity-summary/README.md
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/__init__.py
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
  packages/gptme-activity-summary/src/gptme_activity_summary/generator.py
  packages/gptme-activity-summary/src/gptme_activity_summary/github_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/schemas.py
  packages/gptme-activity-summary/src/gptme_activity_summary/session_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/workspace_data.py
  packages/gptme-activity-summary/tests/__init__.py
  packages/gptme-activity-summary/tests/test_cc_backend.py
  packages/gptme-activity-summary/tests/test_github_data.py
  packages/gptme-activity-summary/tests/test_session_data.py
  packages/gptme-activity-summary/tests/test_workspace_data.py
  packages/gptme-contrib-lib/src/gptme_contrib_lib/config.py
  packages/gptodo/pyproject.toml
  plugins/gptme-imagen/pyproject.toml
  plugins/gptme-warpgrep/pyproject.toml
  pyproject.toml
  scripts/twitter/check_replies.py
  scripts/twitter/twitter.py
  uv.lock
Due: check-markdown-links

fix(twitter): prevent error text posting, add thread support in auto, rate limiting
  scripts/twitter/workflow.py
Due: none

chore(voice): remove deprecated scripts/voice/ (moved to packages/gptme-voice)
  scripts/voice/README.md
  scripts/voice/realtime/README.md
  scripts/voice/realtime/__init__.py
  scripts/voice/realtime/audio.py
  scripts/voice/realtime/local_test.py
  scripts/voice/realtime/openai_client.py
  scripts/voice/realtime/server.py
  scripts/voice/realtime/tool_bridge.py
  scripts/voice/requirements.txt
  scripts/voice/voice_interface.py
Due: check-markdown-links

refactor(voice): rename gptme-voice-test to gptme-voice-client
  packages/gptme-voice/README.md
  packages/gptme-voice/pyproject.toml
  packages/gptme-voice/src/gptme_voice/realtime/client.py
Due: check-markdown-links

fix(twitter): address Greptile review feedback
  scripts/twitter/workflow.py
Due: none

fix(twitter): prevent error text posting, thread support, rate limiting (#287)
  scripts/twitter/workflow.py
  scripts/voice/README.md
  scripts/voice/realtime/README.md
  scripts/voice/realtime/__init__.py
  scripts/voice/realtime/audio.py
  scripts/voice/realtime/local_test.py
  scripts/voice/realtime/openai_client.py
  scripts/voice/realtime/server.py
  scripts/voice/realtime/tool_bridge.py
  scripts/voice/requirements.txt
  scripts/voice/voice_interface.py
Due: check-markdown-links

fix(activity-summary): make workspace detection resilient to missing gptme.dirs.get_workspace
  packages/gptme-activity-summary/src/gptme_activity_summary/generator.py
Due: none

fix(activity-summary): make workspace detection resilient to missing gptme.dirs.get_workspace (#288)
  packages/gptme-activity-summary/src/gptme_activity_summary/generator.py
Due: none

fix(gptmail): use quoted-printable encoding and detect HTML bodies
  packages/gptmail/src/gptmail/lib.py
  packages/gptmail/tests/test_mime.py
Due: none

fix(twitter): prevent duplicate replies by checking all directories
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  packages/gptmail/src/gptmail/lib.py
  scripts/twitter/workflow.py
Due: none

fix(twitter): use draft.in_reply_to consistently for replied tweet tracking
  scripts/twitter/workflow.py
Due: none

fix(gptmail): send HTML emails as simple text/html, not multipart
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(twitter): prevent duplicate replies by checking all directories (#290)
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  packages/gptmail/src/gptmail/lib.py
  packages/gptmail/tests/test_mime.py
  scripts/twitter/workflow.py
Due: none

feat: add jscpd config for duplicate code detection
  .jscpd.json
Due: none

fix(activity-summary): unset CLAUDECODE for nested claude -p calls, render themes as list
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
  packages/gptme-activity-summary/src/gptme_activity_summary/schemas.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
