Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(discord): filter out internal system messages from chat (#250)
  scripts/discord/discord_bot.py
Due: none

feat(plugin): add gptodo delegation plugin for coordinator mode
  packages/gptme-runloops/src/gptme_runloops/__init__.py
  packages/gptme-runloops/src/gptme_runloops/cli.py
  packages/gptme-runloops/src/gptme_runloops/utils/execution.py
  plugins/gptme-gptodo/pyproject.toml
  plugins/gptme-gptodo/src/gptme_gptodo/__init__.py
  plugins/gptme-gptodo/src/gptme_gptodo/tools/__init__.py
  plugins/gptme-gptodo/src/gptme_gptodo/tools/gptodo_tool.py
  plugins/gptme-gptodo/tests/__init__.py
  plugins/gptme-gptodo/tests/test_tool.py
Due: none

feat(runloops): add team coordinator run mode
  packages/gptme-runloops/src/gptme_runloops/team.py
  uv.lock
Due: none

fix(gptodo): use --active-only flag instead of --state
  plugins/gptme-gptodo/src/gptme_gptodo/tools/gptodo_tool.py
Due: none

fix(execution): prevent command injection with shlex escaping
  packages/gptme-runloops/src/gptme_runloops/utils/execution.py
Due: none

feat(gptodo): add loop command for autonomous task processing
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): spawn all tasks in parallel mode, not just first N
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(gptme-ace): add Reviewer module for delta quality evaluation
  plugins/gptme-ace/src/gptme_ace/__init__.py
  plugins/gptme-ace/src/gptme_ace/reviewer.py
  plugins/gptme-ace/tests/test_reviewer.py
Due: none

fix(reviewer): address Greptile review comments
  plugins/gptme-ace/src/gptme_ace/reviewer.py
Due: none

feat(gptme-ace): add Applier module for delta application (#247)
  plugins/gptme-ace/src/gptme_ace/__init__.py
  plugins/gptme-ace/src/gptme_ace/applier.py
  plugins/gptme-ace/tests/test_applier.py
Due: none

feat(gptme-ace): add Reviewer module for delta quality evaluation (#248)
  plugins/gptme-ace/src/gptme_ace/__init__.py
  plugins/gptme-ace/src/gptme_ace/reviewer.py
  plugins/gptme-ace/tests/test_reviewer.py
Due: none

feat(gptodo): add loop command for autonomous task processing (#253)
  packages/gptodo/src/gptodo/cli.py
Due: none

feat: add gptodo plugin and team coordinator run mode (#252)
  packages/gptme-runloops/src/gptme_runloops/__init__.py
  packages/gptme-runloops/src/gptme_runloops/cli.py
  packages/gptme-runloops/src/gptme_runloops/team.py
  packages/gptme-runloops/src/gptme_runloops/utils/execution.py
  plugins/gptme-gptodo/pyproject.toml
  plugins/gptme-gptodo/src/gptme_gptodo/__init__.py
  plugins/gptme-gptodo/src/gptme_gptodo/tools/__init__.py
  plugins/gptme-gptodo/src/gptme_gptodo/tools/gptodo_tool.py
  plugins/gptme-gptodo/tests/__init__.py
  plugins/gptme-gptodo/tests/test_tool.py
  uv.lock
Due: none

fix: restore PR review API commands to read-full-github-context lesson
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lesson): restore PR review API commands per Greptile feedback
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix: use consistent <pr-number> placeholder in API commands
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

docs(lesson): enhance read-full-github-context with stale context anti-pattern (#251)
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(team): include ipython in coordinator tools
  packages/gptme-runloops/src/gptme_runloops/team.py
Due: none

fix(team): include ipython in coordinator tools (#255)
  packages/gptme-runloops/src/gptme_runloops/team.py
Due: none

fix(gptodo): fix delegate function to work without --inline option
  plugins/gptme-gptodo/src/gptme_gptodo/tools/gptodo_tool.py
Due: none

feat(telegram): add basic Telegram bot support
  scripts/telegram/README.md
  scripts/telegram/telegram_bot.py
Due: check-markdown-links

fix(telegram): address Greptile review comments
  scripts/telegram/README.md
  scripts/telegram/telegram_bot.py
Due: check-markdown-links

fix(telegram): correct README architecture claims
  scripts/telegram/README.md
Due: check-markdown-links

fix: correct lesson metadata frontmatter format
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

feat(hooks): add Git LFS support to global git hooks
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/post-commit
  dotfiles/.config/git/hooks/post-merge
  dotfiles/.config/git/hooks/pre-push
Due: none

fix: detect agent name from gptme.toml instead of directory structure
  scripts/status/status.sh
  scripts/status/util/status-systemd.sh
Due: none

fix: correct service state parsing and timer timestamp handling
  scripts/status/util/status-systemd.sh
Due: none

fix: detect agent name from gptme.toml and fix systemd service status display (#260)
  lessons/workflow/agent-workspace-setup-maintenance.md
  scripts/status/status.sh
  scripts/status/util/status-systemd.sh
Due: check-markdown-links, validate-lesson-metadata

fix: address review comments for Git LFS hooks
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/pre-push
Due: none

fix: make Git LFS hooks non-blocking
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/post-commit
  dotfiles/.config/git/hooks/post-merge
  dotfiles/.config/git/hooks/pre-push
Due: none

feat(hooks): add Git LFS support to global git hooks (#259)
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/post-commit
  dotfiles/.config/git/hooks/post-merge
  dotfiles/.config/git/hooks/pre-push
Due: none

fix: address review comments from @ErikBjare
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix: less prescriptive about autonomous-run.sh being custom
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

docs: add agent workspace setup and maintenance lesson (#258)
  lessons/workflow/agent-workspace-setup-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add three strategic lessons for blocked-period productivity
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add three strategic lessons for blocked-period productivity (#262)
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): make shell snippet repo-agnostic in strategic-focus lesson
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add strategic focus during autonomous sessions lesson
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove placeholder links from related section
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add communication category with three GitHub collaboration lessons
  lessons/communication/github-comment-formatting.md
  lessons/communication/github-issue-follow-through.md
  lessons/communication/responding-to-code-review-feedback.md
Due: check-markdown-links, validate-lesson-metadata

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
