Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(activity-gate): ignore non-push master runs (#1316)
  scripts/github/activity-gate.sh
  tests/test_activity_gate_master_ci.py
Due: none

fix(action-receipts): export deferred plugin manifest
  plugins/gptme-action-receipts/pyproject.toml
  plugins/gptme-action-receipts/src/gptme_action_receipts/__init__.py
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
Due: none

fix: action-receipts plugin NoneType export (#1317)
  plugins/gptme-action-receipts/pyproject.toml
  plugins/gptme-action-receipts/src/gptme_action_receipts/__init__.py
  plugins/gptme-action-receipts/tests/test_receipt_hook.py
Due: none

docs(lesson): add confound_note to proactive-correction-in-agent-messages
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

docs(lesson): add confound_note to proactive-correction-in-agent-messages (#1318)
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

docs(tts): cross-reference WebUI speech cleaner
  plugins/gptme-tts/src/gptme_tts/tts.py
Due: none

docs(tts): cross-reference WebUI speech cleaner (#1319)
  plugins/gptme-tts/src/gptme_tts/tts.py
Due: none

fix(tts): strip xml and @tool-format tool calls from speech
  plugins/gptme-tts/src/gptme_tts/tts.py
  plugins/gptme-tts/tests/test_tts.py
Due: none

fix(tts): strip incomplete xml and @tool blocks during streaming
  plugins/gptme-tts/src/gptme_tts/tts.py
  plugins/gptme-tts/tests/test_tts.py
Due: none

fix(tts): preserve speech after single-line tool calls
  plugins/gptme-tts/src/gptme_tts/tts.py
  plugins/gptme-tts/tests/test_tts.py
Due: none

fix(tts): drop lookahead from single-line @tool regex alt
  plugins/gptme-tts/src/gptme_tts/tts.py
  plugins/gptme-tts/tests/test_tts.py
Due: none

fix(tts): parse at-tool JSON boundaries
  plugins/gptme-tts/src/gptme_tts/tts.py
  plugins/gptme-tts/tests/test_tts.py
Due: none

fix(tts): strip xml and @tool-format tool calls from speech (#1320)
  plugins/gptme-tts/src/gptme_tts/tts.py
  plugins/gptme-tts/tests/test_tts.py
Due: none

chore(activity-summary): remove deprecated 'summarize' CLI alias
  packages/gptme-activity-summary/pyproject.toml
Due: none

chore(activity-summary): remove deprecated 'summarize' CLI alias (#1322)
  packages/gptme-activity-summary/pyproject.toml
Due: none

feat(sessions): add harm_detect module for Phase 2 harm grading (#632)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/harm_detect.py
  packages/gptme-sessions/tests/test_harm_detect.py
Due: none

feat(sessions): add harm_detect module for Phase 2 harm grading (#632) (#1323)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/harm_detect.py
  packages/gptme-sessions/tests/test_harm_detect.py
Due: none

feat(coordination): add SQLite fact bus for concurrent agent knowledge sharing
  packages/gptme-coordination/src/gptme_coordination/__init__.py
  packages/gptme-coordination/src/gptme_coordination/cli.py
  packages/gptme-coordination/src/gptme_coordination/db.py
  packages/gptme-coordination/src/gptme_coordination/fact_bus.py
  packages/gptme-coordination/tests/test_fact_bus.py
Due: none

fix(coordination): escape LIKE wildcards in fact_bus prefix filter
  packages/gptme-coordination/src/gptme_coordination/fact_bus.py
  packages/gptme-coordination/tests/test_fact_bus.py
Due: none

feat(coordination): add SQLite fact bus for concurrent agent knowledge sharing (#1324)
  packages/gptme-coordination/src/gptme_coordination/__init__.py
  packages/gptme-coordination/src/gptme_coordination/cli.py
  packages/gptme-coordination/src/gptme_coordination/db.py
  packages/gptme-coordination/src/gptme_coordination/fact_bus.py
  packages/gptme-coordination/tests/test_fact_bus.py
Due: none

docs(plugins): add operator guide for gptme-action-receipts scope gate
  docs/plugins/gptme-action-receipts.md
Due: check-markdown-links

docs(plugins): fix fnmatch wildcard semantics — * matches / in Python fnmatch
  docs/plugins/gptme-action-receipts.md
Due: check-markdown-links

docs(plugins): add operator guide for action-receipts scope gate (#1326)
  docs/plugins/gptme-action-receipts.md
Due: check-markdown-links

fix(cookbook): use yaml.safe_load for frontmatter, fix html module shadow, escape diff_color
  scripts/build-cookbook.py
Due: none

feat(cookbook): add gptme interactive cookbook with 5 canonical patterns
  cookbook/01-tool-use-basics.md
  cookbook/02-parallel-research-pipeline.md
  cookbook/03-persistent-context-with-skills.md
  cookbook/04-skill-composition-pipeline.md
  cookbook/05-custom-tool-plugin.md
  cookbook/README.md
  cookbook/index.html
  scripts/build-cookbook.py
Due: check-markdown-links

fix(cookbook): switch plugin to functions=[] style, add skill discovery notes
  cookbook/03-persistent-context-with-skills.md
  cookbook/04-skill-composition-pipeline.md
  cookbook/05-custom-tool-plugin.md
Due: check-markdown-links

fix(cookbook): address Greptile P1 findings — tool names, skill format, plugin API, HTML escaping
  cookbook/01-tool-use-basics.md
  cookbook/03-persistent-context-with-skills.md
  cookbook/04-skill-composition-pipeline.md
  cookbook/05-custom-tool-plugin.md
  cookbook/index.html
  scripts/build-cookbook.py
Due: check-markdown-links

chore(cookbook): gitignore generated index.html, untrack from repo
  cookbook/.gitignore
  cookbook/index.html
Due: none

fix(github): report stale CI workflow run ids
  scripts/github/repo-status.sh
  tests/test_repo_status.py
Due: none

chore(lessons): archive proactive-correction-in-agent-messages (causal harm confirmed)
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

chore(lessons): archive proactive-correction-in-agent-messages (causal harm confirmed) (#1327)
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

feat(scripts): add agent-write-loss-scan CLI
  README.md
  scripts/agent-write-loss-scan.py
  tests/test_agent_write_loss_scan.py
Due: check-markdown-links

fix(scripts): classify write loss from committed history
  scripts/agent-write-loss-scan.py
  tests/test_agent_write_loss_scan.py
Due: none

feat(scripts): add agent-write-loss-scan CLI (#1328)
  README.md
  scripts/agent-write-loss-scan.py
  tests/test_agent_write_loss_scan.py
Due: check-markdown-links

fix(subscription): ignore expired rate-limit markers
  packages/gptme-subscription/src/gptme_subscription/manager.py
  packages/gptme-subscription/tests/test_subscription_manager.py
Due: none

fix(subscription): ignore expired rate-limit markers (#1329)
  packages/gptme-subscription/src/gptme_subscription/manager.py
  packages/gptme-subscription/tests/test_subscription_manager.py
Due: none

fix(runloops): recover gptme item trajectories
  packages/gptme-runloops/src/gptme_runloops/run_item.py
  packages/gptme-runloops/tests/test_run_item.py
Due: none

fix(runloops): recover gptme item trajectories (#1330)
  packages/gptme-runloops/src/gptme_runloops/run_item.py
  packages/gptme-runloops/tests/test_run_item.py
Due: none

fix(voice): inject agent name into inbound call greeting to prevent hallucination
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

refactor(pr-queue-health): use bobutils.datetimes.parse_datetime
  mypy.ini
  scripts/github/pr-queue-health.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
