Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(hooks): show pre-commit failure output when checks fail (#210)
  dotfiles/.config/git/hooks/pre-commit
  uv.lock
Due: none

docs(lessons): emphasize mandatory state filtering for Linear issue queries
  lessons/tools/linear-api-integration.md
Due: check-markdown-links, validate-lesson-metadata

fix(email): increase sync-maildir timeout from 30s to 120s
  packages/gptme-runloops/src/gptme_runloops/email.py
Due: none

fix(email): increase sync-maildir timeout from 30s to 120s (#213)
  packages/gptme-runloops/src/gptme_runloops/email.py
Due: none

fix(discord): propagate ContextVars to thread pool for model resolution
  scripts/discord/discord_bot.py
Due: none

fix(discord): propagate ContextVars to thread pool for model resolution (#215)
  scripts/discord/discord_bot.py
Due: none

perf(gptmail): optimize sync-maildir for incremental sync
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(gptmail): add sync state tracking for duplicate messages
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(gptmail): address Greptile review comments
  packages/gptmail/src/gptmail/lib.py
Due: none

perf(gptmail): optimize sync-maildir for incremental sync (#216)
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(gptmail): prune stale entries from sync state
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(gptmail): prune stale entries from sync state (#217)
  packages/gptmail/src/gptmail/lib.py
Due: none

docs(gptodo): add multi-agent coordination design spec
  tools/gptodo/docs/DESIGN-multi-agent-coordination.md
Due: check-markdown-links

docs(gptodo): update design to leverage existing infrastructure
  tools/gptodo/docs/DESIGN-multi-agent-coordination.md
Due: check-markdown-links

fix(ralph): improve plan extraction to filter gptme subprocess noise
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

fix(ralph): address Greptile review - fix line index bug and narrow noise patterns
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

fix(ralph): use direct save approach for plan generation
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

feat(gptodo): implement Phase 1 agent registry
  packages/gptodo/src/gptodo/agents.py
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(gptodo): implement Phase 2 parallel hints in TaskInfo
  packages/gptodo/src/gptodo/utils.py
Due: none

fix(ralph): improve plan extraction to filter gptme subprocess noise (#219)
  plugins/gptme-ralph/src/gptme_ralph/tools/ralph_loop.py
Due: none

fix(email): improve unreplied email logging format
  packages/gptme-runloops/src/gptme_runloops/email.py
Due: none

fix(email): improve unreplied email logging format (#220)
  packages/gptme-runloops/src/gptme_runloops/email.py
Due: none

feat(skills): add artifact-publishing skill
  skills/artifact-publishing/SKILL.md
Due: check-markdown-links

fix(skills): address review feedback on artifact-publishing
  skills/artifact-publishing/SKILL.md
Due: check-markdown-links

fix(linear): emphasize primary-directive-thread in prompt (#211)
  scripts/linear/linear-webhook-server.py
Due: none

feat(gptodo): add --model parameter to spawn command
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
Due: none

feat(gptodo): add sub-agent spawning for multi-agent collaboration
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(gptodo): prevent shell injection in subagent background execution
  .gitignore
  packages/gptodo/src/gptodo/subagent.py
Due: none

feat(gptodo): add sub-agent spawning for multi-agent collaboration (#194)
  .gitignore
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
Due: none

docs(gptodo): mark Phase 3 spawn/graph as complete
  tools/gptodo/docs/DESIGN-multi-agent-coordination.md
Due: check-markdown-links

feat(gptodo): implement Phase 3 spawn and graph commands
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(gptodo): implement completion aggregation (fan-in) for spawned tasks
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/tests/test_unblock.py
  tools/gptodo/docs/DESIGN-multi-agent-coordination.md
Due: check-markdown-links

fix(gptodo): fix syntax errors from rebase
  packages/gptodo/src/gptodo/cli.py
Due: none

docs(lessons): add close-the-loop pattern for autonomous workflows
  lessons/patterns/close-the-loop.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add multi-agent coordination with graph and fan-in support (#218)
  packages/gptodo/src/gptodo/agents.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_unblock.py
  tools/gptodo/docs/DESIGN-multi-agent-coordination.md
Due: check-markdown-links
