Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(lessons): merge dropout calls into one unified record per invocation
  scripts/claude-code-hooks/match-lessons.py
Due: none

fix(validate-task-frontmatter): accept date-only created/timestamp fields (#1161)
  scripts/precommit/validate_task_frontmatter.py
  tests/test_validate_task_frontmatter_exit.py
Due: none

feat(lessons): add randomized dropout to CC hook (mirrors gptme#2988) (#1162)
  scripts/claude-code-hooks/match-lessons.py
Due: none

feat(quota-gate): capture underlying error on check failure
  scripts/quota-gate.sh
Due: none

fix(quota-gate): use mktemp and RETURN trap for safe temp file cleanup
  scripts/quota-gate.sh
Due: none

fix(activity-gate): seed notifications on first sight to stop noop storms
  scripts/github/activity-gate.sh
Due: none

docs(activity-gate): fix stale cap comment for seed-on-first-sight
  scripts/github/activity-gate.sh
Due: none

feat(quota-gate): capture underlying error on check failure (#1163)
  scripts/quota-gate.sh
Due: none

fix(activity-gate): seed notifications on first sight to stop noop storms (#1164)
  scripts/github/activity-gate.sh
Due: none

fix(gptodo): strip stale next_action/waiting fields on terminal transition
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_edit_terminal_cleanup.py
Due: none

fix(gptodo): strip stale fields for recurring cancelled tasks (Greptile P1)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_edit_terminal_cleanup.py
Due: none

fix(gptodo): strip stale next_action/waiting fields on terminal transition (#1165)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_edit_terminal_cleanup.py
Due: none

fix(lessons-extras): exclude TODO.md and lesson-template.md from discovery
  packages/gptme-lessons-extras/src/gptme_lessons_extras/discovery.py
  packages/gptme-lessons-extras/tests/test_discovery.py
Due: none

fix(lessons-extras): deterministic mtime in select_best_lesson fallback test
  packages/gptme-lessons-extras/tests/test_similarity_scores.py
Due: none

refactor(lessons-extras): import NON_LESSON_FILES from similarity, add exclusion tests
  packages/gptme-lessons-extras/src/gptme_lessons_extras/discovery.py
  packages/gptme-lessons-extras/tests/test_discovery.py
Due: none

fix(lessons-extras): exclude TODO.md and lesson-template.md from discovery (#1166)
  packages/gptme-lessons-extras/src/gptme_lessons_extras/discovery.py
  packages/gptme-lessons-extras/tests/test_discovery.py
Due: none

fix(lessons-extras): deterministic mtime in select_best_lesson fallback test (#1167)
  packages/gptme-lessons-extras/tests/test_similarity_scores.py
Due: none

test(gptme-codegraph): cover SQLite search-document cache helpers
  packages/gptme-codegraph/tests/test_search_cache.py
Due: none

test(gptme-codegraph): address Greptile P2 findings on search-cache tests
  packages/gptme-codegraph/tests/conftest.py
  packages/gptme-codegraph/tests/test_search_cache.py
Due: none

test(gptme-codegraph): cover SQLite search-document cache helpers (#1168)
  packages/gptme-codegraph/tests/conftest.py
  packages/gptme-codegraph/tests/test_search_cache.py
Due: none

docs: add Ecosystem section with external projects and topic discovery
  README.md
Due: check-markdown-links

docs: add Ecosystem section with external projects and topic discovery (#1169)
  README.md
Due: check-markdown-links

docs: add Browse links to topic discovery (Greptile P2)
  README.md
Due: check-markdown-links

feat(dashboard): add community extensions section with topic-based discovery
  .github/workflows/community-plugins.yml
  .github/workflows/dashboard.yml
  packages/gptme-dashboard/src/gptme_dashboard/generate.py
  packages/gptme-dashboard/src/gptme_dashboard/templates/index.html
  scripts/fetch-community-plugins.py
  state/community_plugins.json
Due: none

docs: add Browse links to topic discovery (Greptile P2 from #1169)
  README.md
Due: check-markdown-links

fix(dashboard): address Greptile findings in community plugins data
  scripts/fetch-community-plugins.py
  state/community_plugins.json
Due: none

fix(community-plugins): guard against empty-write on API failure + truncation warning
  scripts/fetch-community-plugins.py
Due: none

fix(lessons-extras): error on companion link that references a nonexistent file
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

feat(gptme-sessions): track summarizer_fired in session records
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_signals_summarizer.py
Due: none

fix(lessons-extras): error on companion link referencing a nonexistent file
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

refactor(sessions): move _SUMMARIZATION_MARKER to module level
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

feat(gptme-sessions): make --since support sub-day windows and natural phrasing
  packages/gptme-sessions/README.md
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_cli.py
Due: check-markdown-links

fix(community-plugins): exit non-zero on partial topic search failure
  scripts/fetch-community-plugins.py
Due: none

fix(sessions): address Greptile P2 feedback on --since granularity PR
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/tests/test_cli.py
Due: none

feat(gptme-sessions): make --since support sub-day windows and natural phrasing (#1174)
  packages/gptme-sessions/README.md
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_cli.py
Due: check-markdown-links

feat(gptme-sessions): track summarizer_fired in session records (#1173)
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_signals_summarizer.py
Due: none

docs: add Browse links to topic discovery (Greptile P2 from #1169) (#1171)
  README.md
Due: check-markdown-links

feat(dashboard): add Community Extensions section with GitHub topic-based discovery (#1170)
  .github/workflows/community-plugins.yml
  .github/workflows/dashboard.yml
  packages/gptme-dashboard/src/gptme_dashboard/generate.py
  packages/gptme-dashboard/src/gptme_dashboard/templates/index.html
  scripts/fetch-community-plugins.py
  state/community_plugins.json
Due: none

refactor(lessons): remove keywords matching always-injected context files
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/workflow/absolute-paths-for-workspace-files.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/git-commit-format.md
  lessons/workflow/git-worktree-workflow.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): avoid self-match in pre-landing-self-review keyword
  lessons/workflow/pre-landing-self-review.md
Due: check-markdown-links, validate-lesson-metadata
