Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(sessions): add VALID_AB_GROUPS validation for ab_group field
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/tests/test_post_session.py
Due: none

fix(lessons): address Greptile review feedback on workflow lessons
  lessons/workflow/absolute-paths-for-workspace-files.md
  lessons/workflow/git-commit-format.md
Due: check-markdown-links, validate-lesson-metadata

perf(activity-gate): cache greptile score by HEAD SHA to skip redundant API calls
  scripts/github/activity-gate.sh
  tests/test_activity_gate_cache.py
Due: none

fix(lessons): address Greptile review findings
  lessons/workflow/absolute-paths-for-workspace-files.md
  lessons/workflow/git-commit-format.md
Due: check-markdown-links, validate-lesson-metadata

feat(sessions): add ab_group and tier_version fields to SessionRecord (#486)
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/post_session.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_post_session.py
  packages/gptme-sessions/tests/test_record.py
Due: none

docs(lessons): add absolute-paths and git-commit-format workflow lessons (#507)
  lessons/workflow/absolute-paths-for-workspace-files.md
  lessons/workflow/git-commit-format.md
Due: check-markdown-links, validate-lesson-metadata

test(activity-summary): fix category-percentages test to distinguish denominators
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

fix(activity-gate): align fetch_cache_ttl with cooldown, add returncode guards
  scripts/github/activity-gate.sh
  tests/test_activity_gate_cache.py
Due: none

fix(greptile): add max-retries guard to prevent infinite re-review loops
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

fix(greptile): address Greptile review feedback on PR #509
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

fix(activity-gate): correct stale 30-min TTL references to 60-min
  scripts/github/activity-gate.sh
  tests/test_activity_gate_cache.py
Due: none

feat(github): add pr-greptile-trigger.py and self-merge-check.py
  scripts/github/README.md
  scripts/github/pr-greptile-trigger.py
  scripts/github/self-merge-check.py
Due: check-markdown-links

fix(github): address Greptile review feedback on PR #504
  scripts/github/pr-greptile-trigger.py
  scripts/github/self-merge-check.py
Due: none

fix(github): address Greptile round-2 feedback on PR #504
  scripts/github/pr-greptile-trigger.py
  scripts/github/self-merge-check.py
Due: none

fix(lessons): broaden context and remove dangling companion-doc reference
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): fix Real Blocker Criteria to list all six strategies
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): tighten progress-despite-blockers keyword set
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add progress-despite-blockers and stage-files-before-commit
  lessons/tools/stage-files-before-commit.md
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(greptile): add max-retries guard to prevent infinite re-review loops (#509)
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

fix(user-memories): address Greptile 4/5 findings
  plugins/gptme-user-memories/src/gptme_user_memories/extractor.py
  plugins/gptme-user-memories/src/gptme_user_memories/hooks/session_end.py
  plugins/gptme-user-memories/tests/test_extractor.py
Due: none

fix(activity-summary): address Greptile review findings on AW category display
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

fix(greptile): add local trigger-timestamp file to prevent API-propagation-delay spam
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

test(user-memories): fix regression test to actually catch break-vs-continue bug
  plugins/gptme-user-memories/tests/test_extractor.py
Due: none

fix(activity-summary): address remaining Greptile 4/5 findings
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

refactor(greptile): address Greptile 3/5 review feedback
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

fix(greptile): address Greptile 4/5 review feedback (robustness)
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

fix(tests): add usedforsecurity=False to hashlib.md5 for FIPS compatibility
  tests/test_greptile_helper.py
Due: none

test(greptile): address Greptile 4/5 → 5/5 review findings
  tests/test_greptile_helper.py
Due: none

test(greptile): assert failure branch reached in failed-trigger test
  tests/test_greptile_helper.py
Due: none

fix(user-memories): address Greptile 3/5 findings
  plugins/gptme-user-memories/src/gptme_user_memories/extractor.py
  plugins/gptme-user-memories/tests/test_extractor.py
Due: none

fix(activity-summary): sort categories by duration in formatter
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

fix(greptile): add local trigger-timestamp to prevent API-propagation-delay spam (#510)
  scripts/github/greptile-helper.sh
  tests/test_greptile_helper.py
Due: none

fix(user-memories): remove redundant import os, fix trivially-passing tmp assertion
  plugins/gptme-user-memories/src/gptme_user_memories/extractor.py
  plugins/gptme-user-memories/tests/test_extractor.py
Due: none

fix(user-memories): address Greptile 4/5 remaining issues
  plugins/gptme-user-memories/src/gptme_user_memories/extractor.py
  plugins/gptme-user-memories/src/gptme_user_memories/hooks/session_end.py
  plugins/gptme-user-memories/tests/test_extractor.py
Due: none

fix(user-memories): add explicit UTF-8 encoding, drop unused pytest-mock dep
  plugins/gptme-user-memories/pyproject.toml
  plugins/gptme-user-memories/src/gptme_user_memories/extractor.py
  uv.lock
Due: none

feat(activity-summary): add AW category breakdown to activity data
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
