Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

refactor(activity-summary): rewrite CLI from argparse to click
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
  uv.lock
Due: none

refactor(activity-summary): switch from raw HTTP to aw-client library
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/tests/test_aw_data.py
  uv.lock
Due: none

feat(context): add generic context generation scripts
  scripts/context/README.md
  scripts/context/build-system-prompt.sh
  scripts/context/context-git.sh
  scripts/context/context-journal.sh
  scripts/context/context-workspace.sh
  scripts/context/context.sh
Due: check-markdown-links

fix(context): use git toplevel for symlink-safe AGENT_DIR resolution
  scripts/context/README.md
  scripts/context/build-system-prompt.sh
  scripts/context/context-git.sh
  scripts/context/context-journal.sh
  scripts/context/context-workspace.sh
  scripts/context/context.sh
Due: check-markdown-links

feat(skills): add marketplace metadata to all skills
  skills/agent-onboarding/SKILL.md
  skills/artifact-publishing/SKILL.md
  skills/code-review-helper/SKILL.md
  skills/progressive-disclosure/SKILL.md
Due: check-markdown-links

fix(context): address review feedback — portability, injection, workspace discovery
  scripts/context/build-system-prompt.sh
  scripts/context/context-git.sh
  scripts/context/context-journal.sh
  scripts/context/context.sh
Due: none

refactor(context): extract agent root discovery into shared find-agent-root.sh
  scripts/context/build-system-prompt.sh
  scripts/context/context.sh
  scripts/context/find-agent-root.sh
Due: none

fix(skills): use proper YAML lists instead of comma-separated strings
  skills/agent-onboarding/SKILL.md
  skills/artifact-publishing/SKILL.md
  skills/code-review-helper/SKILL.md
  skills/progressive-disclosure/SKILL.md
Due: check-markdown-links

refactor(activity-summary): fold human subcommand into daily/weekly/monthly
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
Due: none

fix(context): prefer gptme.toml with [agent] section in find-agent-root
  scripts/context/find-agent-root.sh
Due: none

feat(context): add shared context generation scripts (#331)
  scripts/context/README.md
  scripts/context/build-system-prompt.sh
  scripts/context/context-git.sh
  scripts/context/context-journal.sh
  scripts/context/context-workspace.sh
  scripts/context/context.sh
  scripts/context/find-agent-root.sh
Due: check-markdown-links

feat(activity-summary): add ActivityWatch integration and human mode (#330)
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/aw_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
  packages/gptme-activity-summary/src/gptme_activity_summary/cli.py
  packages/gptme-activity-summary/tests/test_aw_data.py
  uv.lock
Due: none

fix(skills): fix code-review-helper compatibility field to reflect actual tool requirements
  skills/code-review-helper/SKILL.md
Due: check-markdown-links

feat(skills): add marketplace metadata to all skills (#332)
  skills/agent-onboarding/SKILL.md
  skills/artifact-publishing/SKILL.md
  skills/code-review-helper/SKILL.md
  skills/progressive-disclosure/SKILL.md
Due: check-markdown-links

fix(activity-summary): skip aw-client tests when package not installed
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

fix(activity-summary): skip aw-client tests when package not installed (#333)
  packages/gptme-activity-summary/tests/test_aw_data.py
Due: none

feat(gptodo): implement link checking in check command
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_check_links.py
Due: none

fix(gptodo): remove redundant frontmatter import in check command
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(gptodo): implement link checking in check command (#334)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_check_links.py
Due: none

fix(email): add consecutive-failure backoff to prevent over-triggering
  packages/gptme-runloops/src/gptme_runloops/email.py
Due: none

fix(lessons): add missing status fields and refine broad keywords
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/blocked-period-status-check-trap.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/communication/github-comment-formatting.md
  lessons/communication/github-issue-follow-through.md
  lessons/communication/responding-to-code-review-feedback.md
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/hierarchical-context-management.md
  lessons/concepts/llmlingua-compression.md
  lessons/patterns/simplify-before-optimize.md
  lessons/tools/gh-pr-review-extension.md
  lessons/tools/linear-api-integration.md
  lessons/tools/mcp-cli-token-efficiency.md
  lessons/tools/notion-mcp-integration.md
  lessons/tools/shell-path-quoting.md
  lessons/tools/tmux-long-running-processes.md
  lessons/tools/todoist-mcp-integration.md
  lessons/workflow/agent-credential-management.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add missing status fields and refine broad keywords (#335)
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/blocked-period-status-check-trap.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/communication/github-comment-formatting.md
  lessons/communication/github-issue-follow-through.md
  lessons/communication/responding-to-code-review-feedback.md
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/hierarchical-context-management.md
  lessons/concepts/llmlingua-compression.md
  lessons/patterns/simplify-before-optimize.md
  lessons/tools/gh-pr-review-extension.md
  lessons/tools/linear-api-integration.md
  lessons/tools/mcp-cli-token-efficiency.md
  lessons/tools/notion-mcp-integration.md
  lessons/tools/shell-path-quoting.md
  lessons/tools/tmux-long-running-processes.md
  lessons/tools/todoist-mcp-integration.md
  lessons/workflow/agent-credential-management.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

fix(email): add consecutive-failure backoff to prevent over-triggering (#336)
  packages/gptme-runloops/src/gptme_runloops/email.py
Due: none

refactor(run-loops): generalize backoff into BaseRunLoop
  packages/gptme-runloops/src/gptme_runloops/base.py
  packages/gptme-runloops/src/gptme_runloops/email.py
  packages/gptme-runloops/tests/test_base.py
Due: none

refactor(run-loops): generalize backoff into BaseRunLoop (#338)
  packages/gptme-runloops/src/gptme_runloops/base.py
  packages/gptme-runloops/src/gptme_runloops/email.py
  packages/gptme-runloops/tests/test_base.py
Due: none

feat(run-loops): add pluggable Executor abstraction for multi-backend support
  packages/gptme-runloops/src/gptme_runloops/__init__.py
  packages/gptme-runloops/src/gptme_runloops/autonomous.py
  packages/gptme-runloops/src/gptme_runloops/base.py
  packages/gptme-runloops/src/gptme_runloops/cli.py
  packages/gptme-runloops/src/gptme_runloops/email.py
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
  packages/gptme-runloops/src/gptme_runloops/team.py
  packages/gptme-runloops/src/gptme_runloops/utils/executor.py
  packages/gptme-runloops/tests/test_autonomous.py
  packages/gptme-runloops/tests/test_base.py
  packages/gptme-runloops/tests/test_email.py
  packages/gptme-runloops/tests/test_executor.py
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

fix(run-loops): warn when ClaudeCodeExecutor receives unsupported params
  packages/gptme-runloops/src/gptme_runloops/utils/executor.py
  packages/gptme-runloops/tests/test_executor.py
Due: none

feat(run-loops): pluggable Executor abstraction for multi-backend support (#339)
  packages/gptme-runloops/src/gptme_runloops/__init__.py
  packages/gptme-runloops/src/gptme_runloops/autonomous.py
  packages/gptme-runloops/src/gptme_runloops/base.py
  packages/gptme-runloops/src/gptme_runloops/cli.py
  packages/gptme-runloops/src/gptme_runloops/email.py
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
  packages/gptme-runloops/src/gptme_runloops/team.py
  packages/gptme-runloops/src/gptme_runloops/utils/executor.py
  packages/gptme-runloops/tests/test_autonomous.py
  packages/gptme-runloops/tests/test_base.py
  packages/gptme-runloops/tests/test_email.py
  packages/gptme-runloops/tests/test_executor.py
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

fix(lessons): replace overly broad keywords in safe-operation-patterns
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace overly broad keywords across 6 lessons
  lessons/tools/python-file-execution.md
  lessons/tools/python-invocation.md
  lessons/tools/tmux-long-running-processes.md
  lessons/workflow/git-workflow.md
  lessons/workflow/read-pr-reviews-comprehensively.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): tighten read-full-github-context keywords
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace verbose title-mirroring keywords with behavioral triggers
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace overly broad keywords in safe-operation-patterns (#340)
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): reduce keyword noise across 6 high-frequency lessons (#341)
  lessons/tools/python-file-execution.md
  lessons/tools/python-invocation.md
  lessons/tools/tmux-long-running-processes.md
  lessons/workflow/git-workflow.md
  lessons/workflow/read-full-github-context.md
  lessons/workflow/read-pr-reviews-comprehensively.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add --github flag to status command
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): address greptile review — remove redundant extraction, increase issue limit
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): escape Rich markup in issue titles/labels, warn on --repo without --github
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(gptodo): add --github flag to status command (#342)
  packages/gptodo/src/gptodo/cli.py
Due: none

feat(sessions): add gptme-sessions package for agent session tracking
  packages/gptme-sessions/README.md
  packages/gptme-sessions/pyproject.toml
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
  uv.lock
Due: check-markdown-links

fix(gptme-sessions): address Greptile review bugs
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none
