Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(precommit): address Greptile review feedback
  CONTRIBUTING.md
  scripts/precommit/validate_lesson_metadata.py
Due: check-markdown-links

fix: add uv script dependency declaration for pyyaml
  scripts/precommit/validate_lesson_metadata.py
Due: none

feat(lsp): add Phase 5 features (inlay hints, call hierarchy)
  plugins/lsp/README.md
  plugins/lsp/src/gptme_lsp/lsp_client.py
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: check-markdown-links

refactor(lsp): extract _build_lsp_item_from_hierarchy_item helper
  plugins/lsp/src/gptme_lsp/lsp_client.py
Due: none

feat(precommit): add lesson metadata validation (#71)
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/precommit/validate_lesson_metadata.py
Due: check-markdown-links

feat(lsp): add Phase 5 features (inlay hints, call hierarchy) (#72)
  plugins/lsp/README.md
  plugins/lsp/src/gptme_lsp/lsp_client.py
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: check-markdown-links

style: make tool instructions agent-focused
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: none

docs(lessons): upstream improvements from Bob's workspace
  lessons/tools/browser-verification.md
  lessons/tools/shell-command-chaining.md
  lessons/workflow/check-existing-prs.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add more lesson improvements from Bob
  lessons/tools/python-invocation.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add github-issue-engagement lesson
  lessons/social/github-issue-engagement.md
Due: check-markdown-links, validate-lesson-metadata

feat(lsp): add Phase 3 advanced features (code actions, workspace symbols)
  plugins/lsp/src/gptme_lsp/lsp_client.py
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: none

feat(lsp): add Phase 3 advanced features (code actions, workspace symbols) (#68)
  plugins/lsp/src/gptme_lsp/lsp_client.py
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: none

feat(lsp): add Phase 6 features (semantic tokens, document links, code lens)
  plugins/lsp/README.md
  plugins/lsp/src/gptme_lsp/lsp_client.py
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: check-markdown-links

fix(lsp): address review feedback for Phase 6
  plugins/lsp/README.md
Due: check-markdown-links

fix: address inline review comments
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: none

feat(lsp): add Phase 6 features (semantic tokens, document links, code lens) (#73)
  plugins/lsp/README.md
  plugins/lsp/src/gptme_lsp/lsp_client.py
  plugins/lsp/src/gptme_lsp/tools/lsp_tool.py
Due: check-markdown-links

docs(lessons): upstream improvements from Bob's workspace (#74)
  lessons/social/github-issue-engagement.md
  lessons/tools/browser-verification.md
  lessons/tools/python-invocation.md
  lessons/tools/shell-command-chaining.md
  lessons/workflow/check-existing-prs.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lsp): add missing @dataclass decorator and LSPManager Phase 6 methods
  plugins/lsp/src/gptme_lsp/lsp_client.py
Due: none

style(lsp): remove orphaned @dataclass decorator
  plugins/lsp/src/gptme_lsp/lsp_client.py
Due: none

feat(patterns): add agent visual identity establishment lesson
  lessons/patterns/agent-visual-identity.md
Due: check-markdown-links, validate-lesson-metadata

fix(lsp): add missing @dataclass decorator and LSPManager Phase 6 methods (#75)
  plugins/lsp/src/gptme_lsp/lsp_client.py
Due: none

feat: Add inter-agent communication and workspace review lessons (#67)
  lessons/workflow/cross-agent-workspace-review.md
  lessons/workflow/inter-agent-communication.md
Due: check-markdown-links, validate-lesson-metadata

feat(imagen): add image modification support with text prompts
  plugins/imagen/src/gptme_image_gen/tools/image_gen.py
  plugins/imagen/tests/test_image_modify.py
Due: none

fix(lessons): make agent names generic to pass check-names hook
  lessons/workflow/cross-agent-workspace-review.md
  lessons/workflow/inter-agent-communication.md
Due: check-markdown-links, validate-lesson-metadata

fix(imagen): use correct model name for cost calculation
  plugins/imagen/src/gptme_image_gen/tools/image_gen.py
Due: none

feat(imagen): implement unified images API (Option C)
  plugins/imagen/src/gptme_image_gen/tools/image_gen.py
Due: none

feat(imagen): add images parameter to generate_image() for multimodal generation
  plugins/imagen/src/gptme_image_gen/tools/image_gen.py
  plugins/imagen/tests/feature/test_features_simple.py
  plugins/imagen/tests/feature/test_image_gen_features.py
  plugins/imagen/tests/test_image_gen_phase1.py
  plugins/imagen/tests/test_image_gen_phase2.py
Due: none

refactor(imagen): remove modify_image in favor of generate_image(images=...)
  plugins/imagen/src/gptme_image_gen/tools/image_gen.py
  plugins/imagen/tests/test_image_modify.py
Due: none

feat(imagen): add image modification support with text prompts (#78)
  lessons/workflow/cross-agent-workspace-review.md
  lessons/workflow/inter-agent-communication.md
  plugins/imagen/src/gptme_image_gen/tools/image_gen.py
  plugins/imagen/tests/feature/test_features_simple.py
  plugins/imagen/tests/feature/test_image_gen_features.py
  plugins/imagen/tests/test_image_gen_phase1.py
  plugins/imagen/tests/test_image_gen_phase2.py
Due: check-markdown-links, validate-lesson-metadata

feat: add gptme-wrapped plugin for year-end analytics
  plugins/wrapped/Makefile
  plugins/wrapped/README.md
  plugins/wrapped/pyproject.toml
  plugins/wrapped/src/gptme_wrapped/__init__.py
  plugins/wrapped/src/gptme_wrapped/tools/__init__.py
  plugins/wrapped/tests/conftest.py
  plugins/wrapped/tests/test_wrapped.py
  skills/gptme-wrapped/SKILL.md
  uv.lock
Due: check-markdown-links

feat(wrapped): add GitHub-style calendar heatmap
  plugins/wrapped/src/gptme_wrapped/tools/__init__.py
  plugins/wrapped/tests/test_wrapped.py
Due: none

docs: add plugin development skill
  skills/plugin-development/SKILL.md
Due: check-markdown-links

feat(wrapped): add standalone CLI
  plugins/wrapped/README.md
  plugins/wrapped/src/gptme_wrapped/__main__.py
Due: check-markdown-links

docs(plugins): add/fix configuration sections in READMEs
  plugins/example-hooks/README.md
  plugins/warp-grep/README.md
  plugins/wrapped/README.md
Due: check-markdown-links

docs: add links to gptme plugin docs in READMEs
  plugins/consortium/README.md
  plugins/example-hooks/README.md
  plugins/imagen/README.md
  plugins/warp-grep/README.md
  plugins/wrapped/README.md
  skills/plugin-development/SKILL.md
Due: check-markdown-links

fix(pre-commit): specify Python 3.10 for mypy hook
  .pre-commit-config.yaml
Due: none

fix(pre-commit): fix mypy and type issues
  .pre-commit-config.yaml
  packages/lib/Makefile
  packages/lib/src/lib/config.py
  plugins/wrapped/src/gptme_wrapped/__main__.py
  plugins/wrapped/src/gptme_wrapped/tools/__init__.py
  plugins/wrapped/tests/conftest.py
  plugins/wrapped/tests/test_wrapped.py
Due: none

style: fix trailing whitespace in plugin skill
  skills/plugin-development/SKILL.md
Due: check-markdown-links

feat(lessons): add autonomous session lessons for all gptme agents
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/effective-autonomous-work-execution.md
Due: check-markdown-links, validate-lesson-metadata

feat(plugins): add cc-analyze plugin for Claude Code subagent analysis
  plugins/cc-analyze/README.md
  plugins/cc-analyze/pyproject.toml
  plugins/cc-analyze/src/gptme_cc_analyze/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
  plugins/cc-analyze/tests/test_cc_analyze.py
  uv.lock
Due: check-markdown-links
