Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

feat(daily-briefing): new package with generic bundle schema + collectors
  packages/gptme-daily-briefing/README.md
  packages/gptme-daily-briefing/pyproject.toml
  packages/gptme-daily-briefing/src/gptme_daily_briefing/__init__.py
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-daily-briefing/src/gptme_daily_briefing/py.typed
  packages/gptme-daily-briefing/src/gptme_daily_briefing/schema.py
  packages/gptme-daily-briefing/tests/__init__.py
  packages/gptme-daily-briefing/tests/test_collectors.py
  uv.lock
Due: check-markdown-links

fix(daily-briefing): add Makefile + exclude from global mypy hook
  .pre-commit-config.yaml
  packages/gptme-daily-briefing/Makefile
  packages/gptme-daily-briefing/tests/__init__.py
Due: none

fix(daily-briefing): address Greptile review — URL-encode label, explicit master fallback, hoist yaml import
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-daily-briefing/tests/test_collectors.py
Due: none

feat(daily-briefing): new package — generic bundle schema + collectors (#797)
  .pre-commit-config.yaml
  packages/gptme-daily-briefing/Makefile
  packages/gptme-daily-briefing/README.md
  packages/gptme-daily-briefing/pyproject.toml
  packages/gptme-daily-briefing/src/gptme_daily_briefing/__init__.py
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-daily-briefing/src/gptme_daily_briefing/py.typed
  packages/gptme-daily-briefing/src/gptme_daily_briefing/schema.py
  packages/gptme-daily-briefing/tests/test_collectors.py
  uv.lock
Due: check-markdown-links

fix(lessons): add keywords for greptile re-trigger to close resolver-eval gap (#796)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(daily-briefing): paginate collect_open_prs to handle >100 open PRs per repo
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-daily-briefing/tests/test_collectors.py
Due: none

fix(daily-briefing): guard batch against non-list API error response
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
Due: none

fix(daily-briefing): early exit when limit_per_repo already satisfied
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
Due: none

fix(daily-briefing): remove limit_per_repo early-exit that broke max_pages contract
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
Due: none

fix(daily-briefing): paginate collect_open_prs to handle >100 open PRs per repo (#799)
  packages/gptme-daily-briefing/src/gptme_daily_briefing/collectors.py
  packages/gptme-daily-briefing/tests/test_collectors.py
Due: none

feat(gptme-sessions): add harm_category field and 7-category taxonomy
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/record.py
Due: none

fix(gptme-sessions): honour --since all in sync command (was coerced to 14d)
  packages/gptme-sessions/src/gptme_sessions/cli.py
Due: none

fix(gptme-sessions): validate harm_category against taxonomy in __post_init__
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_record.py
Due: none

fix(gptme-sessions): fix 'Noned' warning when --since is omitted in sync
  packages/gptme-sessions/src/gptme_sessions/cli.py
Due: none

feat(gptme-sessions): add harm_category field and 7-category taxonomy for idea #191
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_record.py
Due: none

feat(twitter): HEAD-check URLs in workflow.py draft command
  scripts/twitter/workflow.py
Due: none

fix(twitter): remove dead resp.status>=400 guard in _validate_urls_in_text
  scripts/twitter/workflow.py
Due: none

feat(twitter): HEAD-check URLs in workflow.py draft command (#801)
  scripts/twitter/workflow.py
Due: none

fix(activity-gate): re-emit notification follow-ups instead of dedupe-by-id
  scripts/github/activity-gate.sh
  tests/test_activity_gate_notif_followup.py
Due: none

fix(activity-gate): emit-before-persist in JSONL notification path
  scripts/github/activity-gate.sh
Due: none

fix(activity-gate): re-emit notification follow-ups (don't dedupe by id alone) (#802)
  scripts/github/activity-gate.sh
  tests/test_activity_gate_notif_followup.py
Due: none

fix(github-hygiene): manual-dispatch only + configurable provider-key env var
  .github/workflows/issue-hygiene.yml
Due: none

fix(github-hygiene): pin gptme version + add subprocess timeout
  .github/workflows/issue-hygiene.yml
  scripts/github_hygiene/issue_hygiene.py
Due: none

feat(github-resolver): opt-in issue-resolver Action prototype
  .github/workflows/issue-resolver.yml
  scripts/github_resolver/README.md
  scripts/github_resolver/__init__.py
  scripts/github_resolver/prompts/issue-resolver.md
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: check-markdown-links

fix(github-resolver): handle re-trigger CalledProcessError in open_draft_pr
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: none

fix(github-resolver): add job timeout + save gptme stderr to artifact
  .github/workflows/issue-resolver.yml
  scripts/github_resolver/resolve_issue.py
Due: none

fix(github-hygiene): fix --model arg order + robust NO_ISSUES check
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_hygiene/test_issue_hygiene.py
Due: none

fix(github-hygiene): restrict gptme tool allowlist to prevent prompt injection
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_hygiene/test_issue_hygiene.py
Due: none

fix(github-hygiene): add timeout=60 to gh() and post_comment subprocesses (P2)
  scripts/github_hygiene/issue_hygiene.py
Due: none

feat(github-hygiene): warning-only issue-hygiene Action prototype
  .github/workflows/issue-hygiene.yml
  scripts/github_hygiene/README.md
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_hygiene/prompts/issue-hygiene.md
  scripts/github_hygiene/test_issue_hygiene.py
Due: check-markdown-links

fix(cc-backend): tag subprocess invocations to prevent bandit pollution (#790)
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_backend.py
Due: none

feat(github-resolver): opt-in issue-resolver Action prototype (#169 Phase 1) (#749)
  .github/workflows/issue-resolver.yml
  scripts/github_resolver/README.md
  scripts/github_resolver/__init__.py
  scripts/github_resolver/prompts/issue-resolver.md
  scripts/github_resolver/resolve_issue.py
  scripts/github_resolver/test_resolve_issue.py
Due: check-markdown-links

fix(lessons): broaden keywords for two trajectory-silent lessons
  lessons/patterns/persist-before-noting.md
  lessons/tools/check-cli---help-before-readin.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): broaden keywords for two trajectory-silent lessons (#803)
  lessons/patterns/persist-before-noting.md
  lessons/tools/check-cli---help-before-readin.md
Due: check-markdown-links, validate-lesson-metadata

refactor(github-actions): extract shared helpers to github_actions_common (#747+#749)
  scripts/github_actions_common/__init__.py
  scripts/github_actions_common/test_common.py
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_resolver/resolve_issue.py
Due: none

fix(github-actions): use post_issue_comment in both scripts (P2 Greptile)
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_resolver/resolve_issue.py
Due: none

refactor(github-actions): extract shared helpers to github_actions_common (#747+#749) (#804)
  scripts/github_actions_common/__init__.py
  scripts/github_actions_common/test_common.py
  scripts/github_hygiene/issue_hygiene.py
  scripts/github_resolver/resolve_issue.py
Due: none

fix(scripts): chmod +x pr-greptile-trigger.py
  scripts/github/pr-greptile-trigger.py
Due: none

fix(scripts): chmod +x pr-greptile-trigger.py (#805)
  scripts/github/pr-greptile-trigger.py
Due: none

fix(voice): add IIR anti-aliasing pre-filter in openai_to_twilio
  packages/gptme-voice/src/gptme_voice/realtime/audio.py
  packages/gptme-voice/tests/test_audio.py
Due: none
