Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(gptme-voice): drain late transcript events on disconnect
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

fix(gptme-voice): address Greptile P2s — CancelledError cleanup + transcript-only drain notice
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
Due: none

fix(gptme-voice): drain late transcript events on disconnect (#717)
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_openai_client.py
Due: none

feat(gptme-voice): expose subagent timing breakdown
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

feat(gptme-voice): expose subagent timing breakdown (#718)
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

docs(lessons): extend measure-before-optimize for PR/comment claims
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): extend measure-before-optimize for PR/comment claims (#719)
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add target_grade: harm to safety-critical lessons
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add target_grade: harm to safety-critical lessons (#720)
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add target_grade: [harm, productivity] to worktree-push-trap
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add target_grade: [harm, productivity] to worktree-push-trap (#721)
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptme-sessions): add judge_session_with_fallback + fallback_models to judge_and_writeback
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(gptme-sessions): add judge_session_with_fallback + fallback_models to judge_and_writeback (#722)
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(gptme-voice): persist subagent timings in call archives
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

feat(gptme-voice): persist subagent timings in call archives (#723)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

fix(gptme-voice): don't re-surface filtered TTY warning on empty subagent output
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

fix(gptme-voice): don't re-surface filtered TTY warning on empty subagent output (#724)
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

feat(gptme-voice): add handoff protocol library module
  packages/gptme-voice/src/gptme_voice/handoff.py
  packages/gptme-voice/tests/test_handoff.py
Due: none

fix(gptme-voice): address Greptile P1 findings in handoff protocol
  packages/gptme-voice/src/gptme_voice/handoff.py
  packages/gptme-voice/tests/test_handoff.py
Due: none

fix(gptme-voice): reject timezone-naive now in build_handoff
  packages/gptme-voice/src/gptme_voice/handoff.py
  packages/gptme-voice/tests/test_handoff.py
Due: none

feat(gptme-voice): add handoff protocol library module (#725)
  packages/gptme-voice/src/gptme_voice/handoff.py
  packages/gptme-voice/tests/test_handoff.py
Due: none

feat(gptme-voice): wire handoff_to_agent tool to voice server
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

fix(gptme-voice): address Greptile security/safety findings in handoff
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

docs(lessons): add session_categories to 5 high-impact lessons
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/thompson-sampling-work-categories.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/data-loader-pr-quality.md
  lessons/tools/linear-api-integration.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add session_categories to 5 high-impact lessons (#727)
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/thompson-sampling-work-categories.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/data-loader-pr-quality.md
  lessons/tools/linear-api-integration.md
Due: check-markdown-links, validate-lesson-metadata

test(gptme-voice): fix date-fragile handoff fixtures
  packages/gptme-voice/tests/test_handoff.py
Due: none

feat(gptme-voice): consume handoff bootstrap at session start
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

feat(gptme-voice): consume handoff bootstrap at session start (#728)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_handoff.py
  packages/gptme-voice/tests/test_server.py
Due: none

feat(gptme-voice): wire handoff_to_agent tool to voice server (Phase 2b) (#726)
  packages/gptme-voice/src/gptme_voice/realtime/openai_client.py
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/src/gptme_voice/realtime/tool_bridge.py
  packages/gptme-voice/tests/test_tool_bridge.py
Due: none

feat(gptme-sessions): add ToolSpan + SpanAggregates for per-tool-call tracing
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

fix(gptme-sessions): store dispatch ts_str in pending to fix span.timestamp
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

fix(gptme-sessions): address Greptile P2 findings in spans
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

feat(skills): add rewrite-soul skill for agent persona tightening
  skills/README.md
  skills/rewrite-soul/SKILL.md
  skills/rewrite-soul/agents/openai.yaml
Due: check-markdown-links

fix(gptme-sessions): catch TypeError on mixed tz-aware/naive timestamps
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

feat(skills): add rewrite-soul skill for agent persona tightening (#730)
  skills/README.md
  skills/rewrite-soul/SKILL.md
  skills/rewrite-soul/agents/openai.yaml
Due: check-markdown-links

feat(gptme-sessions): add ToolSpan + SpanAggregates for per-tool-call tracing (#729)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

feat(gptme-sessions): add extract_spans_from_gptme_jsonl (Phase 2)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

feat(gptme-sessions): add extract_spans_from_gptme_jsonl (Phase 2) (#731)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/spans.py
  packages/gptme-sessions/tests/test_spans.py
Due: none

feat(gptme-sessions): add span_aggregates field + populate helper to SessionRecord
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_record.py
Due: none

fix(gptme-sessions): pad fractional seconds for Python 3.10 fromisoformat compat
  packages/gptme-sessions/src/gptme_sessions/spans.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
