Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix: pre-commit issues (mypy, formatting, lesson frontmatter)
  lessons/tools/linear-api-integration.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
  scripts/linear/services/agent-linear-webhook.service.template
Due: check-markdown-links, validate-lesson-metadata

fix(linear): address review feedback
  .gitignore
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
Due: check-markdown-links

fix(linear): make code generic and fix deprecations
  .gitignore
  lessons/tools/linear-api-integration.md
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
Due: check-markdown-links, validate-lesson-metadata

fix(linear): use persistent storage for notifications
  scripts/linear/linear-webhook.py
Due: none

style: fix ruff-format issues
  plugins/wrapped/src/gptme_wrapped/tools/__init__.py
  scripts/linear/linear-webhook.py
  scripts/twitter/workflow.py
  tests/integration/test_git_hooks.py
Due: none

fix(linear): use gptme directly instead of run.sh
  scripts/linear/README.md
  scripts/linear/linear-webhook.py
Due: check-markdown-links

style: fix ruff-format assertion formatting
  scripts/twitter/workflow.py
  tests/integration/test_git_hooks.py
Due: none

feat(run_loops): add Linear notification retry to project monitoring
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

fix(run_loops): remove unused variable and apply formatting
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

feat(linear): add all activity types, ephemeral flag, and progress guidance
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): fix mypy type errors in linear-activity.py
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): handle elicitation responses by merging previous worktree
  scripts/linear/linear-webhook.py
Due: none

fix(linear): fix mypy type errors in linear-webhook.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): restore fixes for gptme invocation, datetime, and generic env vars
  scripts/linear/linear-webhook.py
Due: none

feat(linear): add API wrapper commands to CLI
  scripts/linear/linear-activity.py
Due: none

fix(linear): fix mypy type errors and ruff lint in linear-activity.py
  scripts/linear/linear-activity.py
Due: none

fix(linear): address Patrik's review feedback
  lessons/tools/linear-api-integration.md
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
Due: check-markdown-links, validate-lesson-metadata

fix(linear): use total_seconds() for token expiry calculation
  scripts/linear/linear-activity.py
Due: none

feat(linear): add .env.template with configuration example
  scripts/linear/.env.template
Due: none

feat(linear): add -h/--help option to linear-activity.py
  scripts/linear/linear-activity.py
Due: none

feat(linear): implement 'auth' command for initial OAuth flow
  scripts/linear/linear-activity.py
Due: none

fix(linear): apply Thomas's testing fixes
  scripts/linear/.env.template
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): support action activity type with required fields
  scripts/linear/linear-activity.py
Due: none

fix(linear): use DEFAULT_BRANCH in all git operations
  scripts/linear/linear-webhook.py
Due: none

style: apply ruff-format to linear-webhook.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): use DEFAULT_BRANCH in create_worktree fetch
  scripts/linear/linear-webhook.py
Due: none

fix(linear): use workspace-relative paths instead of hardcoded repos/
  scripts/linear/linear-webhook.py
Due: none

refactor(linear): address review feedback - rename, required vars, enum
  scripts/linear/.env.template
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook-server.py
  scripts/linear/services/agent-linear-webhook.service.template
Due: check-markdown-links

fix(linear): fix mypy type errors in webhook server
  scripts/linear/linear-webhook-server.py
Due: none

fix(linear): fix double-merge issue in worktree cleanup
  scripts/linear/linear-webhook.py
Due: none

fix(linear): remove duplicate file and apply double-merge fix to correct file
  scripts/linear/linear-webhook-server.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): verify work merged to upstream instead of auto-merging
  scripts/linear/linear-webhook.py
Due: none

refactor(linear): verify upstream merge instead of auto-merging
  scripts/linear/linear-webhook-server.py
  scripts/linear/linear-webhook.py
Due: none

fix(linear): emphasize CRITICAL response activity in completion protocol
  scripts/linear/linear-webhook.py
Due: none

fix(linear): update completion protocol with CRITICAL warning and correct workflow
  scripts/linear/linear-webhook-server.py
  scripts/linear/linear-webhook.py
Due: none

docs(linear): document user mention format for API responses
  lessons/tools/linear-api-integration.md
  scripts/linear/README.md
Due: check-markdown-links, validate-lesson-metadata

feat(linear): add Linear Agent Framework integration (#147)
  .gitignore
  lessons/tools/linear-api-integration.md
  packages/run_loops/src/run_loops/project_monitoring.py
  plugins/wrapped/src/gptme_wrapped/tools/__init__.py
  scripts/linear/.env.template
  scripts/linear/.gitignore
  scripts/linear/README.md
  scripts/linear/linear-activity.py
  scripts/linear/linear-webhook-server.py
  scripts/linear/services/agent-linear-webhook.service.template
  scripts/linear/services/agent-ngrok.service.template
Due: check-markdown-links, validate-lesson-metadata

refactor(linear): use proper exception handling in linear-activity.py
  scripts/linear/linear-activity.py
Due: none

fix(linear): add raise_for_status() to refresh_token()
  scripts/linear/linear-activity.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
