Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

Apply suggestions from code review
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add mcp-cli token efficiency lesson (#157)
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

feat(dotfiles): add MCP server configuration template
  dotfiles/.config/mcp/mcp_servers.json.template
Due: none

docs(lessons): enhance mcp-cli lesson with official SKILL.md content
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

docs: clarify mcp-cli installation requires no dependencies
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

docs(dotfiles): add MCP server configuration section
  dotfiles/README.md
Due: check-markdown-links

docs(lessons): enhance mcp-cli lesson with official SKILL.md content (#159)
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

feat(dotfiles): simplify MCP config, add install symlink
  dotfiles/.config/mcp/mcp_servers.json.template
  dotfiles/install.sh
Due: none

fix: remove trailing whitespace in install.sh
  dotfiles/install.sh
Due: none

Update dotfiles/README.md
  dotfiles/README.md
Due: check-markdown-links

refactor: rename template to mcp_servers.json
  dotfiles/.config/mcp/mcp_servers.json
  dotfiles/install.sh
Due: none

docs(lesson): reference dotfiles template instead of embedding config
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

fix: add env section for NOTION_TOKEN
  dotfiles/.config/mcp/mcp_servers.json
Due: none

docs(lessons): add Notion MCP integration lesson
  lessons/tools/notion-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

fix: remove broken workspace-local link from notion lesson
  lessons/tools/notion-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

refactor: remove MCP config from dotfiles, document in lesson
  dotfiles/.config/mcp/mcp_servers.json
  dotfiles/install.sh
  lessons/tools/notion-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

fix: replace broken dotfiles link with inline config example
  lessons/tools/mcp-cli-token-efficiency.md
Due: check-markdown-links, validate-lesson-metadata

fix: use config example instead of destructive overwrite
  lessons/tools/notion-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add Todoist MCP integration lesson
  lessons/tools/todoist-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

style(lesson): reframe hosted endpoint to be agent-focused
  lessons/tools/todoist-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): fix Todoist MCP integration with correct OAuth setup
  lessons/tools/todoist-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

feat(tools): add Google Drive integration tool
  mypy.ini
  tools/google_drive.py
Due: none

fix(google-drive): address security issues from code review
  tools/google_drive.py
Due: none

fix(google-drive): escape folder_id and add credentials security note
  tools/google_drive.py
Due: none

feat(tools): add Google Drive integration tool (#161)
  mypy.ini
  tools/google_drive.py
Due: none

feat(dotfiles): add MCP server configuration template for Notion (#158)
  lessons/tools/notion-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

feat(tasks): add task locking system (Phase 3 of bob#240)
  packages/tasks/src/tasks/cli.py
  packages/tasks/src/tasks/locks.py
Due: none

refactor(tasks/locks): add logging and improve error handling
  packages/tasks/src/tasks/locks.py
Due: none

fix(linear): add OAuth callback endpoint to webhook server
  scripts/linear/linear-webhook-server.py
Due: none

fix(linear): prefix unused state variable with underscore
  scripts/linear/linear-webhook-server.py
Due: none

fix(linear): escape HTML in error responses to prevent XSS
  scripts/linear/linear-webhook-server.py
Due: none

fix(linear): add OAuth callback endpoint to webhook server (#164)
  scripts/linear/linear-webhook-server.py
Due: none

fix(tasks): address Greptile review comments
  .gitignore
  packages/tasks/src/tasks/cli.py
Due: none

feat(locks): add fcntl.flock for atomic lock operations
  packages/tasks/src/tasks/locks.py
Due: none

feat(tasks): add task locking system (Phase 3 of bob#240) (#163)
  .gitignore
  packages/tasks/src/tasks/cli.py
  packages/tasks/src/tasks/locks.py
Due: none

feat(tasks): implement Phase 4 effective_state and sync modes (bob#240)
  packages/tasks/src/tasks/cli.py
  packages/tasks/src/tasks/lib.py
  packages/tasks/src/tasks/utils.py
Due: none

feat(tasks): implement Phase 4 effective_state and sync modes (bob#240) (#165)
  packages/tasks/src/tasks/cli.py
  packages/tasks/src/tasks/lib.py
  packages/tasks/src/tasks/utils.py
Due: none

feat(tasks): add 'add' command to CLI for creating tasks from command line
  packages/tasks/src/tasks/cli.py
Due: none

refactor(email): remove duplicate scripts/email, consolidate in gptmail package
  packages/gptmail/README.md
  packages/gptmail/src/gptmail/README.md
  packages/gptmail/src/gptmail/cli.py
  packages/run_loops/tests/test_email.py
  scripts/communication_utils/monitoring/integration_guide.md
  scripts/email/.gitignore
  scripts/email/DESIGN.md
  scripts/email/README.md
  scripts/email/__init__.py
  scripts/email/cli.py
  scripts/email/communication_utils/__init__.py
  scripts/email/lib.py
  scripts/email/migrate_email_format.py
  scripts/email/pyproject.toml
  scripts/email/uv.lock
  scripts/email/watcher.py
  scripts/twitter/MONITORING_STATUS.md
  scripts/twitter/workflow.py
Due: check-markdown-links

fix(tasks): add type annotation to frontmatter_data for mypy
  packages/tasks/src/tasks/cli.py
Due: none
