Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

test(validate): add confound_note field validator + tests
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

docs(trajectory-persistence): add confound_note metadata for cleanup-selection-bias (#820)
  lessons/infrastructure/trajectory-persistence.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): add URL validation in post() to prevent 404 tweets
  scripts/twitter/workflow.py
Due: none

fix(twitter): add --skip-url-check to post() and validate URLs before confirmation
  scripts/twitter/workflow.py
Due: none

fix(twitter): add URL validation in post() to prevent 404 tweets (#821)
  scripts/twitter/workflow.py
Due: none

fix(lessons): remove overly broad keywords from pre-mortem-for-risky-actions
  lessons/autonomous/pre-mortem-for-risky-actions.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): align Detection section with removed bulk-delete keyword
  lessons/autonomous/pre-mortem-for-risky-actions.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove overly broad keywords from pre-mortem-for-risky-actions (#822)
  lessons/autonomous/pre-mortem-for-risky-actions.md
Due: check-markdown-links, validate-lesson-metadata

fix(sessions): raise floor grade for clean non-commit-category sessions with no work
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

test(sessions): cover no-work error fallback
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): raise floor grade for clean non-commit-category sessions with no work (#823)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): raise grade floor for monitoring sessions with minor errors
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(sessions): update stale test + docstring after floor-grade change
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(mcp): MCP server prototype exposing gptme-rag (issue #22) (#23)
  README.md
  gptme_rag/cli.py
  gptme_rag/mcp_server.py
  poetry.lock
  pyproject.toml
  tests/test_mcp_server.py
Due: check-markdown-links

feat(mcp): MCP server prototype exposing gptme-rag (issue #22) (#23)
  packages/gptme-rag/README.md
  packages/gptme-rag/gptme_rag/cli.py
  packages/gptme-rag/gptme_rag/mcp_server.py
  packages/gptme-rag/poetry.lock
  packages/gptme-rag/pyproject.toml
  packages/gptme-rag/tests/test_mcp_server.py
Due: check-markdown-links

fix(sessions): raise grade floor for monitoring sessions with minor errors (#824)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

test(mcp): add 5 end-to-end tests for MCP server tools (#24)
  pyproject.toml
  tests/test_mcp_server.py
Due: none

test(mcp): add 5 end-to-end tests for MCP server tools (#24)
  packages/gptme-rag/pyproject.toml
  packages/gptme-rag/tests/test_mcp_server.py
Due: none

fix(voice): persistent standup-call briefing guidance in main instructions
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(voice): align staleness phrasing to 'as of ~30 minutes ago' in both guidance layers
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(voice): persistent standup-call briefing guidance in main instructions (#825)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

feat(gptodo): add wait: and recur: for time-based and recurring tasks
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(gptodo): guard advance_wait against sub-24h hour recurrence intervals
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(gptodo): remove dead isinstance check in wait field validator
  packages/gptodo/src/gptodo/utils.py
Due: none

fix(gptodo): sub-24h recur returns datetime, not floored date
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(gptodo): remove backlog from queue filter, use parse_wait for datetime precision
  packages/gptodo/src/gptodo/generate_queue.py
Due: none

fix(gptodo): handle tz-aware datetimes in wait: comparisons
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(gptodo): pass tz to datetime.now() in filter_blocked_tasks
  packages/gptodo/src/gptodo/generate_queue.py
Due: none

fix(gptodo): validate recur: field in validate_task_file
  packages/gptodo/src/gptodo/utils.py
Due: none

fix(gptodo): accept cron-like recur values
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

feat(gptodo): add wait: and recur: for time-based and recurring tasks (#827)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(git): use $PRECOMMIT_CMD instead of hardcoded prek in remediation hint
  scripts/git/pre-commit-auto-stage
Due: none

fix(git): surface real hook failure when no auto-fixable changes
  scripts/git/pre-commit-auto-stage
  tests/test_git_safe_commit.py
Due: none

feat(codegraph): add gptme-codegraph as experimental package
  .jscpd.json
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/pyproject.toml
  packages/gptme-codegraph/src/gptme_codegraph/__init__.py
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
  packages/gptme-codegraph/tests/test_codegraph.py
  packages/gptme-codegraph/tests/test_codegraph_imports.py
  packages/gptme-codegraph/tests/test_codegraph_mcp_server.py
  packages/gptme-codegraph/tests/test_codegraph_sqlite_cache.py
  uv.lock
Due: check-markdown-links

fix(codegraph): address Greptile review findings
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
Due: none

feat(codegraph): add gptme-codegraph as experimental package (#829)
  .jscpd.json
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/pyproject.toml
  packages/gptme-codegraph/src/gptme_codegraph/__init__.py
  packages/gptme-codegraph/src/gptme_codegraph/core.py
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
  packages/gptme-codegraph/tests/test_codegraph.py
  packages/gptme-codegraph/tests/test_codegraph_imports.py
  packages/gptme-codegraph/tests/test_codegraph_mcp_server.py
  packages/gptme-codegraph/tests/test_codegraph_sqlite_cache.py
  uv.lock
Due: check-markdown-links

fix(codegraph): resolve bare names in cross-file blast/impact MCP tools
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
Due: check-markdown-links

fix(codegraph): resolve bare names in cross-file blast/impact MCP tools (#830)
  packages/gptme-codegraph/README.md
  packages/gptme-codegraph/src/gptme_codegraph/mcp_server.py
Due: check-markdown-links

feat(subscription-manager): extract reusable quota routing, pressure scoring, and observation logic
  packages/subscription-manager/README.md
  packages/subscription-manager/pyproject.toml
  packages/subscription-manager/src/subscription_manager/__init__.py
  packages/subscription-manager/src/subscription_manager/observation.py
  packages/subscription-manager/src/subscription_manager/pacing.py
  packages/subscription-manager/src/subscription_manager/pressure.py
  packages/subscription-manager/src/subscription_manager/py.typed
  packages/subscription-manager/src/subscription_manager/routing.py
  packages/subscription-manager/src/subscription_manager/state.py
  packages/subscription-manager/tests/__init__.py
  packages/subscription-manager/tests/test_observation.py
  packages/subscription-manager/tests/test_pacing.py
  packages/subscription-manager/tests/test_pressure.py
  packages/subscription-manager/tests/test_routing.py
  packages/subscription-manager/tests/test_state.py
Due: check-markdown-links

feat(subscription): add gptme-subscription package with observation, routing, and rebalance state
  packages/gptme-subscription/README.md
  packages/gptme-subscription/pyproject.toml
  packages/gptme-subscription/src/gptme_subscription/__init__.py
  packages/gptme-subscription/src/gptme_subscription/observation.py
  packages/gptme-subscription/src/gptme_subscription/routing.py
  packages/gptme-subscription/tests/__init__.py
  packages/gptme-subscription/tests/test_observation.py
  packages/gptme-subscription/tests/test_routing.py
  uv.lock
Due: check-markdown-links
