Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

refactor(gptmail): consolidate scripts/email into packages/gptmail
  packages/gptmail/README.md
  packages/gptmail/src/gptmail/cli.py
  packages/gptmail/src/gptmail/lib.py
  packages/run_loops/tests/test_email.py
  packages/tasks/src/tasks/cli.py
  scripts/communication_utils/monitoring/integration_guide.md
  scripts/email/.gitignore
  scripts/email/DESIGN.md
  scripts/email/README.md
  scripts/email/__init__.py
  scripts/email/cli.py
  scripts/email/communication_utils/__init__.py
  scripts/email/lib.py
  scripts/email/migrate_email_format.py
  scripts/email/pyproject.toml
  scripts/email/uv.lock
  scripts/email/watcher.py
  scripts/twitter/MONITORING_STATUS.md
  scripts/twitter/workflow.py
Due: check-markdown-links

refactor(gptmail): consolidate scripts/email into packages/gptmail (#168)
  packages/gptmail/README.md
  packages/gptmail/src/gptmail/cli.py
  packages/gptmail/src/gptmail/lib.py
  packages/run_loops/tests/test_email.py
  packages/tasks/src/tasks/cli.py
  scripts/communication_utils/monitoring/integration_guide.md
  scripts/email/.gitignore
  scripts/email/DESIGN.md
  scripts/email/README.md
  scripts/email/__init__.py
  scripts/email/cli.py
  scripts/email/communication_utils/__init__.py
  scripts/email/lib.py
  scripts/email/migrate_email_format.py
  scripts/email/pyproject.toml
  scripts/email/uv.lock
  scripts/email/watcher.py
  scripts/twitter/MONITORING_STATUS.md
  scripts/twitter/workflow.py
Due: check-markdown-links

fix(linear): improve error messages for missing env vars in auth command
  scripts/linear/linear-activity.py
Due: none

docs(linear): add detailed guidance for ngrok URL changes
  scripts/linear/README.md
Due: check-markdown-links

fix(linear): improve error messages for missing env vars in auth command (#169)
  scripts/linear/README.md
  scripts/linear/linear-activity.py
Due: check-markdown-links

perf(github): parallelize repo CI status checks
  scripts/github/repo-status.sh
Due: none

style: fix trailing whitespace in repo-status.sh
  scripts/github/repo-status.sh
Due: none

docs(gptmail): update README paths after scripts/email removal
  packages/gptmail/src/gptmail/README.md
Due: check-markdown-links

feat(gptmail): add click dependency and CLI entry point for standalone install
  packages/gptmail/pyproject.toml
  uv.lock
Due: none

docs(gptmail): add standalone installation instructions
  packages/gptmail/README.md
Due: check-markdown-links

refactor(tasks): rename package to gptodo for uniqueness and standalone install
  .pre-commit-config.yaml
  packages/gptodo/Makefile
  packages/gptodo/README.md
  packages/gptodo/pyproject.toml
  packages/gptodo/src/gptodo/__init__.py
  packages/gptodo/src/gptodo/__main__.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/lib.py
  packages/gptodo/src/gptodo/locks.py
  packages/gptodo/src/gptodo/py.typed
  packages/gptodo/src/gptodo/utils.py
  packages/tasks/README.md
  packages/tasks/pyproject.toml
  packages/tasks/src/tasks/__init__.py
  packages/tasks/src/tasks/__main__.py
  scripts/tasks.py
  uv.lock
Due: check-markdown-links

refactor(tasks): rename to gptodo for PyPI uniqueness and standalone install
  mypy.ini
  packages/gptodo/Makefile
  packages/gptodo/README.md
  packages/gptodo/pyproject.toml
  packages/gptodo/src/gptodo/__init__.py
  packages/gptodo/src/gptodo/__main__.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/lib.py
  packages/gptodo/src/gptodo/locks.py
  packages/gptodo/src/gptodo/py.typed
  packages/gptodo/src/gptodo/utils.py
  packages/tasks/README.md
  packages/tasks/pyproject.toml
  packages/tasks/src/tasks/__main__.py
  scripts/tasks.py
  uv.lock
Due: check-markdown-links

fix(gptodo): update CLI output messages from tasks.py to gptodo
  packages/gptodo/src/gptodo/cli.py
Due: none

docs(lessons): add fork-pr-secrets lesson for CI secret access
  lessons/workflow/fork-pr-secrets.md
Due: check-markdown-links, validate-lesson-metadata

refactor(tasks): rename package to gptodo for uniqueness and standalone install (#171)
  .pre-commit-config.yaml
  packages/gptodo/Makefile
  packages/gptodo/README.md
  packages/gptodo/pyproject.toml
  packages/gptodo/src/gptodo/__init__.py
  packages/gptodo/src/gptodo/__main__.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/src/gptodo/lib.py
  packages/gptodo/src/gptodo/locks.py
  packages/gptodo/src/gptodo/py.typed
  packages/gptodo/src/gptodo/utils.py
  packages/tasks/README.md
  packages/tasks/pyproject.toml
  packages/tasks/src/tasks/__init__.py
  packages/tasks/src/tasks/__main__.py
  scripts/tasks.py
  uv.lock
Due: check-markdown-links

docs(lessons): add fork-pr-secrets lesson for CI secret access (#173)
  lessons/workflow/fork-pr-secrets.md
Due: check-markdown-links, validate-lesson-metadata

docs: update references from deprecated tasks.py to gptodo
  README.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/tools/linear-api-integration.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

docs: update references from deprecated tasks.py to gptodo (#174)
  README.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/tools/linear-api-integration.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

chore: exclude stale packages/tasks from workspace
  .gitignore
  pyproject.toml
Due: none

chore: exclude stale packages/tasks from workspace (#176)
  .gitignore
  pyproject.toml
Due: none

feat(plugins): generalize cc_analyze to claude_code plugin
  plugins/cc-analyze/README.md
  plugins/cc-analyze/pyproject.toml
  plugins/cc-analyze/src/gptme_cc_analyze/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
  plugins/cc-analyze/tests/test_cc_analyze.py
  plugins/claude-code/README.md
  plugins/claude-code/pyproject.toml
  plugins/claude-code/src/gptme_claude_code/__init__.py
  plugins/claude-code/src/gptme_claude_code/tools/__init__.py
  plugins/claude-code/src/gptme_claude_code/tools/claude_code.py
  plugins/claude-code/tests/test_claude_code.py
  uv.lock
Due: check-markdown-links

fix: update broken cc-analyze link to claude-code
  plugins/README.md
Due: check-markdown-links

docs: fix session ID format in README example
  plugins/claude-code/README.md
Due: check-markdown-links

feat(plugins): add gptme-gupp work persistence plugin
  plugins/gptme-gupp/README.md
  plugins/gptme-gupp/pyproject.toml
  plugins/gptme-gupp/src/gptme_gupp/__init__.py
  plugins/gptme-gupp/src/gptme_gupp/tools/__init__.py
  plugins/gptme-gupp/src/gptme_gupp/tools/gupp.py
  plugins/gptme-gupp/tests/conftest.py
  plugins/gptme-gupp/tests/test_gupp.py
Due: check-markdown-links

fix: add ToolSpec registration, fix sort order, and README param name
  plugins/gptme-gupp/README.md
  plugins/gptme-gupp/src/gptme_gupp/tools/__init__.py
  plugins/gptme-gupp/src/gptme_gupp/tools/gupp.py
  uv.lock
Due: check-markdown-links

fix: sanitize task_id in archive filename
  plugins/gptme-gupp/src/gptme_gupp/tools/gupp.py
Due: none

feat(plugins): generalize cc_analyze to claude_code plugin (#177)
  plugins/README.md
  plugins/cc-analyze/README.md
  plugins/cc-analyze/pyproject.toml
  plugins/cc-analyze/src/gptme_cc_analyze/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
  plugins/cc-analyze/tests/test_cc_analyze.py
  plugins/claude-code/README.md
  plugins/claude-code/pyproject.toml
  plugins/claude-code/src/gptme_claude_code/__init__.py
  plugins/claude-code/src/gptme_claude_code/tools/__init__.py
  plugins/claude-code/src/gptme_claude_code/tools/claude_code.py
  plugins/claude-code/tests/test_claude_code.py
  uv.lock
Due: check-markdown-links

refactor(gupp): extract _sanitize_task_id helper to reduce duplication
  plugins/gptme-gupp/src/gptme_gupp/tools/gupp.py
Due: none

style(gupp): fix context truncation to only add ellipsis when needed
  plugins/gptme-gupp/src/gptme_gupp/tools/gupp.py
Due: none

feat(plugins): add gptme-gupp work persistence plugin (#178)
  plugins/gptme-gupp/README.md
  plugins/gptme-gupp/pyproject.toml
  plugins/gptme-gupp/src/gptme_gupp/__init__.py
  plugins/gptme-gupp/src/gptme_gupp/tools/__init__.py
  plugins/gptme-gupp/src/gptme_gupp/tools/gupp.py
  plugins/gptme-gupp/tests/conftest.py
  plugins/gptme-gupp/tests/test_gupp.py
  uv.lock
Due: check-markdown-links

feat(plugins): add ACE context optimization plugin
  plugins/ace/README.md
  plugins/ace/pyproject.toml
  plugins/ace/src/gptme_ace/__init__.py
  plugins/ace/src/gptme_ace/embedder.py
  plugins/ace/src/gptme_ace/gptme_integration.py
  plugins/ace/src/gptme_ace/hybrid_retriever.py
  plugins/ace/src/gptme_ace/retrieval_analytics.py
  plugins/ace/tests/__init__.py
  plugins/ace/tests/test_ace.py
Due: check-markdown-links

fix(ace): address review feedback - fix bugs in embedder and hybrid retriever
  plugins/ace/src/gptme_ace/embedder.py
  plugins/ace/src/gptme_ace/gptme_integration.py
  plugins/ace/src/gptme_ace/hybrid_retriever.py
  plugins/ace/src/gptme_ace/retrieval_analytics.py
Due: none

fix(ci): update plugin paths in test workflow after rename
  .github/workflows/test-plugins.yml
Due: none

feat(plugins): add ACE context optimization plugin (#180)
  plugins/ace/README.md
  plugins/ace/pyproject.toml
  plugins/ace/src/gptme_ace/__init__.py
  plugins/ace/src/gptme_ace/embedder.py
  plugins/ace/src/gptme_ace/gptme_integration.py
  plugins/ace/src/gptme_ace/hybrid_retriever.py
  plugins/ace/src/gptme_ace/retrieval_analytics.py
  plugins/ace/tests/__init__.py
  plugins/ace/tests/test_ace.py
Due: check-markdown-links

feat(lessons): add Todoist MCP integration lesson (#160)
  lessons/tools/todoist-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata

refactor(plugins): additional renames per review feedback
  plugins/README.md
  plugins/gptme-hooks-examples/README.md
  plugins/gptme-hooks-examples/pyproject.toml
  plugins/gptme-hooks-examples/src/gptme_example_hooks/__init__.py
  plugins/gptme-hooks-examples/src/gptme_example_hooks/hooks/__init__.py
  plugins/gptme-hooks-examples/src/gptme_example_hooks/hooks/example_hooks.py
  plugins/gptme-hooks-examples/tests/test_example_hooks.py
  plugins/gptme-warpgrep/.env.example
  plugins/gptme-warpgrep/.gitignore
  plugins/gptme-warpgrep/Makefile
  plugins/gptme-warpgrep/README.md
  plugins/gptme-warpgrep/lessons/tools/warp-grep-usage.md
  plugins/gptme-warpgrep/pyproject.toml
  plugins/gptme-warpgrep/src/gptme_warp_grep/__init__.py
  plugins/gptme-warpgrep/src/gptme_warp_grep/py.typed
  plugins/gptme-warpgrep/src/gptme_warp_grep/tools/__init__.py
  plugins/gptme-warpgrep/src/gptme_warp_grep/tools/warp_grep.py
  plugins/gptme-warpgrep/tests/__init__.py
  plugins/gptme-warpgrep/tests/test_warp_grep.py
Due: check-markdown-links

fix: update attention plugin cross-references to use gptme- prefix
  plugins/gptme-attention-history/README.md
  plugins/gptme-attention-router/README.md
Due: check-markdown-links

refactor(plugins): merge attention-history + attention-router into gptme-attention-tracker
  .github/workflows/test-plugins.yml
  plugins/README.md
  plugins/README_TESTS.md
  plugins/gptme-attention-history/README.md
  plugins/gptme-attention-history/src/gptme_attention_history/__init__.py
  plugins/gptme-attention-history/src/gptme_attention_history/tools/__init__.py
  plugins/gptme-attention-router/README.md
  plugins/gptme-attention-router/pyproject.toml
  plugins/gptme-attention-router/src/gptme_attention_router/__init__.py
  plugins/gptme-attention-router/src/gptme_attention_router/tools/__init__.py
  plugins/gptme-attention-tracker/README.md
  plugins/gptme-attention-tracker/pyproject.toml
  plugins/gptme-attention-tracker/src/gptme_attention_tracker/__init__.py
  plugins/gptme-attention-tracker/src/gptme_attention_tracker/tools/__init__.py
  plugins/gptme-attention-tracker/src/gptme_attention_tracker/tools/attention_history.py
  plugins/gptme-attention-tracker/src/gptme_attention_tracker/tools/attention_router.py
  plugins/gptme-attention-tracker/tests/test_attention_history.py
  plugins/gptme-attention-tracker/tests/test_attention_router.py
  uv.lock
Due: check-markdown-links

fix: remove broken link to non-existent knowledge/context directory
  plugins/gptme-attention-tracker/README.md
Due: check-markdown-links

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
