Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix: update mypy language_version to python3.11
  .pre-commit-config.yaml
Due: none

fix(cc-analyze): use shutil.which and shlex.quote for safety
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

fix: add tomli to mypy additional_dependencies
  .pre-commit-config.yaml
Due: none

fix: expand type ignore to cover import-not-found for tomli
  packages/lib/src/lib/config.py
Due: none

fix: add --disable-error-code=unused-ignore to lib typecheck
  packages/lib/Makefile
Due: none

fix: remove unused import-not-found type ignore
  packages/lib/src/lib/config.py
Due: none

feat(plugins): add cc-analyze plugin for Claude Code subagent analysis (#85)
  .pre-commit-config.yaml
  packages/lib/Makefile
  plugins/cc-analyze/README.md
  plugins/cc-analyze/pyproject.toml
  plugins/cc-analyze/src/gptme_cc_analyze/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/__init__.py
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
  plugins/cc-analyze/tests/test_cc_analyze.py
  uv.lock
Due: check-markdown-links

fix(cc-analyze): add execute function for block support
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

fix(cc-analyze): prevent duplicate execution in eval fallback
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

feat(lessons): add advanced AI/ML concepts category
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/concepts/cascade-context-management.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/llmlingua-compression.md
Due: check-markdown-links, validate-lesson-metadata

refactor(cc-analyze): remove block_types in favor of ipython functions
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

refactor(cc-analyze): remove block_types, use ipython functions only
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

fix(cc-analyze): add execute function for block support (#86)
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

fix(cc-analyze): warn when sync timeout exceeds prompt cache window
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

fix(cc-analyze): error on sync timeout >=300s, clarify cache docs
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

fix(cc-analyze): warn when sync timeout exceeds prompt cache window (#87)
  plugins/cc-analyze/src/gptme_cc_analyze/tools/cc_analyze.py
Due: none

feat(lessons): improve keyword specificity for 2 tool lessons
  lessons/tools/ast-grep-refactoring.md
  lessons/tools/shell-output-filtering.md
Due: check-markdown-links, validate-lesson-metadata

feat(run_loops): support multiple orgs and repos in project monitoring
  packages/run_loops/src/run_loops/cli.py
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

feat(lessons): improve keyword specificity for 8 lessons
  lessons/patterns/progressive-disclosure.md
  lessons/social/github-issue-engagement.md
  lessons/tools/browser-verification.md
  lessons/tools/python-invocation.md
  lessons/tools/shell-command-chaining.md
  lessons/tools/tmux-long-running-processes.md
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

refactor(lessons): balance keyword specificity
  lessons/patterns/progressive-disclosure.md
  lessons/social/github-issue-engagement.md
  lessons/tools/browser-verification.md
  lessons/tools/python-invocation.md
  lessons/tools/shell-command-chaining.md
  lessons/tools/tmux-long-running-processes.md
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix: remove hardcoded gptme default from --org option
  packages/run_loops/src/run_loops/cli.py
Due: none

feat(run_loops): support multiple orgs and repos in project monitoring (#88)
  packages/run_loops/src/run_loops/cli.py
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

feat(status): add generalized infrastructure status scripts
  scripts/status/README.md
  scripts/status/status.sh
  scripts/status/util/lock-status.sh
  scripts/status/util/status-systemd.sh
Due: check-markdown-links

fix: address Greptile review comments
  scripts/status/README.md
  scripts/status/status.sh
  scripts/status/util/status-systemd.sh
Due: check-markdown-links

style: use set -euo pipefail for stricter error handling
  scripts/status/status.sh
  scripts/status/util/lock-status.sh
  scripts/status/util/status-systemd.sh
Due: none

feat(run_loops): add GitHub notifications support to project monitoring
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

feat(run_loops): add GitHub notifications support to project monitoring (#92)
  packages/run_loops/src/run_loops/project_monitoring.py
Due: none

fix: remove agent-specific 'Bob' references for generic use
  scripts/status/README.md
  scripts/status/status.sh
  scripts/status/util/status-systemd.sh
Due: check-markdown-links

fix: use 'myagent' instead of 'alice' in examples
  scripts/status/README.md
Due: check-markdown-links

fix(tests): update tests for target_orgs API change
  packages/run_loops/tests/test_integration.py
  packages/run_loops/tests/test_project_monitoring.py
Due: none

feat(status): add generalized infrastructure status scripts (#91)
  packages/run_loops/tests/test_integration.py
  packages/run_loops/tests/test_project_monitoring.py
  scripts/status/README.md
  scripts/status/status.sh
  scripts/status/util/lock-status.sh
  scripts/status/util/status-systemd.sh
Due: check-markdown-links

feat(hooks): add COMMIT_MASTER_ALLOWLIST env var support
  dotfiles/.config/git/hooks/pre-commit
Due: none

feat(lib): add iterative analysis framework
  packages/lib/src/lib/__init__.py
  packages/lib/src/lib/iterative.py
  packages/lib/tests/test_iterative.py
Due: none

fix(ci): add lib to mypy exclude pattern
  .pre-commit-config.yaml
Due: none

fix(hooks): suppress pre-commit output when all hooks pass
  dotfiles/.config/git/hooks/pre-commit
Due: none

docs(concepts): add YAML frontmatter with keywords and metadata
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/llmlingua-compression.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): standardize keywords to lowercase format
  lessons/workflow/git-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): resolve CI failures - broken links, agent names, syntax errors, YAML formatting
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/llmlingua-compression.md
Due: check-markdown-links, validate-lesson-metadata

fix(patterns): add required YAML frontmatter and remove date references
  lessons/patterns/agent-visual-identity.md
Due: check-markdown-links, validate-lesson-metadata

feat(workflow): add memory failure prevention patterns for all gptme agents
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata
