Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

refactor(hooks): make allowed-repos consistent across pre-commit and pre-push
  dotfiles/.config/git/allowed-repos.conf
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/.config/git/hooks/pre-push
Due: none

refactor(lessons): remove Bob references and add pre-push hook to dotfiles
  dotfiles/.config/git/allowed-repos.conf
  dotfiles/.config/git/hooks/pre-push
  dotfiles/README.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(dotfiles): prefix unused shell variables with underscore for shellcheck
  dotfiles/.config/git/hooks/pre-push
Due: none

fix(dotfiles): remove template reference from allowed-repos.conf comment
  dotfiles/.config/git/allowed-repos.conf
Due: none

fix(lessons): remove incorrect hook setup suggestion, add dotfiles reference
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add pre-push hook and 2026-01-07 incident to worktree lesson (#106)
  dotfiles/.config/git/allowed-repos.conf
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/.config/git/hooks/pre-push
  dotfiles/README.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add Quick Start single-command workflow
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add Quick Start single-command workflow (#107)
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add -b flag to worktree command to prevent detached HEAD
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add -b flag to worktree command to prevent detached HEAD (#109)
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(hooks): skip branch-base warning for branches tracking origin
  dotfiles/.config/git/hooks/validate-branch-base.sh
  uv.lock
Due: none

fix(hooks): skip branch-base warning for branches tracking origin (#110)
  dotfiles/.config/git/hooks/validate-branch-base.sh
  uv.lock
Due: none

fix(hooks): preserve stdin for worktree tracking validation
  dotfiles/.config/git/hooks/pre-push
Due: none

fix(hooks): preserve stdin for worktree tracking validation (#111)
  dotfiles/.config/git/hooks/pre-push
Due: none

test(hooks): add integration tests for git hook behaviors
  Makefile
  scripts/precommit/check-names.sh
  tests/integration/test_git_hooks.py
Due: none

test(hooks): add integration tests for git hook behaviors (#112)
  Makefile
  scripts/precommit/check-names.sh
  tests/integration/test_git_hooks.py
Due: none

ci: add workflow to run integration tests
  .github/workflows/test-integration.yml
Due: none

fix: use uv run for integration tests in Makefile
  Makefile
Due: none

ci: add workflow to run integration tests (#113)
  .github/workflows/test-integration.yml
  Makefile
Due: none

fix: update excludes in check-names
  scripts/precommit/check-names.sh
Due: none

feat(validator): add agent workspace validation tool
  scripts/workspace_validator/README.md
  scripts/workspace_validator/__init__.py
  scripts/workspace_validator/validate.py
  tests/integration/test_workspace_validator.py
Due: check-markdown-links

feat: add agent workspace validation tool and integration tests (#114)
  scripts/workspace_validator/README.md
  scripts/workspace_validator/__init__.py
  scripts/workspace_validator/validate.py
  tests/integration/test_workspace_validator.py
Due: check-markdown-links

feat(precommit): add validate_task_frontmatter.py from Bob's workspace
  scripts/precommit/validate_task_frontmatter.py
Due: none

feat(precommit): add validate_task_frontmatter.py from Bob's workspace (#115)
  scripts/precommit/validate_task_frontmatter.py
Due: none

fix(precommit): skip template directories in markdown link checker
  scripts/precommit/check_markdown_links.py
Due: none

fix(precommit): skip template directories in markdown link checker (#116)
  scripts/precommit/check_markdown_links.py
Due: none

feat(autonomous-loop): add -c cooldown parameter for seconds between runs
  scripts/runs/autonomous/autonomous-loop.sh
Due: none

feat(autonomous-loop): add -c cooldown parameter for seconds between runs (#117)
  scripts/runs/autonomous/autonomous-loop.sh
Due: none

feat(lessons): add shell heredoc avoidance lesson
  lessons/tools/shell-heredoc-avoidance.md
Due: check-markdown-links, validate-lesson-metadata

feat(tasks): add --json output to ready and next commands
  packages/tasks/src/tasks/cli.py
Due: none

fix(lessons): remove deprecated metadata fields and add validation
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
  scripts/precommit/validate_lesson_metadata.py
Due: check-markdown-links, validate-lesson-metadata

feat(tasks): add --json output to ready and next commands (#120)
  packages/tasks/src/tasks/cli.py
Due: none

docs(autonomous): integrate tasks.py ready into CASCADE workflow
  lessons/autonomous/autonomous-session-structure.md
Due: check-markdown-links, validate-lesson-metadata

fix(tasks): use priority_rank property and add urgent priority
  packages/tasks/src/tasks/cli.py
Due: none

fix(autonomous): use portable 'tasks' CLI command instead of workspace-specific path
  lessons/autonomous/autonomous-session-structure.md
Due: check-markdown-links, validate-lesson-metadata

fix(autonomous): use 'uv run python3 -m tasks' for environment-independent execution
  lessons/autonomous/autonomous-session-structure.md
Due: check-markdown-links, validate-lesson-metadata

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
