Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(gptodo): guard machine time-gate unblock on task.wait is not None
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(lessons-cc-hook): correct _classify_lesson path normalization and holdout fallback
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

refactor(structure): clean up root dir and add root-structure CI check
  .pre-commit-config.yaml
  knowledge/lessons/autonomous/agent-event-watch-workflow.md
  knowledge/lessons/autonomous/autonomous-session-structure.md
  knowledge/lessons/markdown-codeblock-syntax.md
  knowledge/lessons/meta-learning/loo-lesson-evaluation-confounds.md
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
  knowledge/lessons/workflow/communication-loop-closure-patterns.md
  knowledge/lessons/workflow/read-full-github-context.md
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/tools/markdown-codeblock-syntax.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/read-full-github-context.md
  scripts/precommit/check_root_structure.py
  state/community_plugins.json
Due: check-markdown-links, validate-lesson-metadata

style: ruff-format check_root_structure.py
  scripts/precommit/check_root_structure.py
Due: none

fix(lessons-cc-hook): address three P2 review findings from AI reviewer
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

fix(structure): add .gitmodules and .gitattributes to root allowlist
  scripts/precommit/check_root_structure.py
Due: none

fix(gptodo): guard probe+expired-wait from premature unblock
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

fix(lessons-cc-hook): document and handle non-lessons/ paths in _classify_lesson
  scripts/claude-code-hooks/match-lessons.py
Due: none

fix(structure): harden is_gitignored error handling and tracked-file check
  scripts/precommit/check_root_structure.py
Due: none

fix(gptodo): waiting_for takes precedence over expired machine time-gate
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_recur.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

feat(lessons-cc-hook): add policy manifest loader and classification for Stage 1 shadow logging (#1444)
  scripts/claude-code-hooks/match-lessons.py
  tests/test_cc_match_lessons.py
Due: none

fix(gptodo): strip pre-existing waiting_for/waiting_since on recur reset
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

feat(gptodo): track cumulative waiting history with first_waiting_since + waiting_spell_count
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_edit_state_waiting.py
Due: none

test(pm-noop-streak): make test_cli_status_outputs_json hermetic
  packages/gptme-runloops/tests/test_pm_noop_streak.py
Due: none

fix(uv): pin numpy to pypi index to stop recurring lock churn
  pyproject.toml
  uv.lock
Due: none

fix(structure): handle dirs with all-ignored contents in is_gitignored
  scripts/precommit/check_root_structure.py
Due: none

cleanup(root): remove community_plugins.json, merge knowledge/lessons/ into lessons/
  .pre-commit-config.yaml
  community_plugins.json
  knowledge/lessons/autonomous/agent-event-watch-workflow.md
  knowledge/lessons/autonomous/autonomous-session-structure.md
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
  knowledge/lessons/workflow/communication-loop-closure-patterns.md
  knowledge/lessons/workflow/read-full-github-context.md
  lessons/markdown-codeblock-syntax.md
  lessons/meta-learning/loo-lesson-evaluation-confounds.md
  scripts/precommit/check_root_structure.py
  state/community_plugins.json
Due: check-markdown-links, validate-lesson-metadata

fix(ci): move companion docs to docs/, fix broken links after knowledge/ removal
  docs/lessons/markdown-codeblock-syntax.md
  docs/lessons/meta-learning/loo-lesson-evaluation-confounds.md
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/workflow/communication-loop-closure-patterns.md
  scripts/precommit/check_root_structure.py
Due: check-markdown-links, validate-lesson-metadata

fix(uv): pin numpy to pypi index to stop recurring lock churn (#1447)
  pyproject.toml
  uv.lock
Due: none

feat(bob-status): add BobStatusProvider for gptme-util status (#1442)
  .pre-commit-config.yaml
  packages/gptme-bob-status/README.md
  packages/gptme-bob-status/pyproject.toml
  packages/gptme-bob-status/src/gptme_bob_status/__init__.py
  packages/gptme-bob-status/src/gptme_bob_status/provider.py
  packages/gptme-bob-status/tests/__init__.py
  packages/gptme-bob-status/tests/test_provider.py
Due: check-markdown-links

refactor(structure): clean up root dir, remove knowledge/ and state/, add root-structure CI check (#1446)
  .pre-commit-config.yaml
  knowledge/lessons/autonomous/agent-event-watch-workflow.md
  knowledge/lessons/autonomous/autonomous-session-structure.md
  knowledge/lessons/markdown-codeblock-syntax.md
  knowledge/lessons/meta-learning/loo-lesson-evaluation-confounds.md
  knowledge/lessons/workflow/agent-workspace-setup-maintenance.md
  knowledge/lessons/workflow/communication-loop-closure-patterns.md
  knowledge/lessons/workflow/read-full-github-context.md
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/tools/markdown-codeblock-syntax.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/read-full-github-context.md
  scripts/precommit/check_root_structure.py
  state/community_plugins.json
Due: check-markdown-links, validate-lesson-metadata

fix(gptodo): recurring reset emits state=waiting (fixes validator rejection) (#1443)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
  packages/gptodo/tests/test_edit_state_completed.py
  packages/gptodo/tests/test_edit_terminal_cleanup.py
  packages/gptodo/tests/test_recur.py
  packages/gptodo/tests/test_wait_recur.py
Due: none

cleanup(root): consolidate schemas/, tools/, commands/ into docs/, scripts/
  commands/README.md
  docs/protocols/gptme-heartbeat-event.schema.json
  docs/protocols/gptme-heartbeat.md
  docs/vent.md
  plugins/gptme-gptodo/docs/DESIGN-multi-agent-coordination.md
  scripts/google_drive.py
  scripts/precommit/check_root_structure.py
  scripts/rss_reader.py
  scripts/tool_pushover.py
Due: check-markdown-links

cleanup(root): consolidate schemas/, tools/, commands/ into docs/, scripts/
  commands/README.md
  community_plugins.json
  docs/protocols/gptme-heartbeat-event.schema.json
  docs/protocols/gptme-heartbeat.md
  docs/vent.md
  plugins/gptme-gptodo/docs/DESIGN-multi-agent-coordination.md
  scripts/fetch-community-plugins.py
  scripts/google_drive.py
  scripts/precommit/check_root_structure.py
  scripts/rss_reader.py
  scripts/tool_pushover.py
Due: check-markdown-links

fix: update paths and links after root cleanup
  CONTRIBUTING.md
  README.md
  tests/test_gptme_heartbeat_validate.py
Due: check-markdown-links

fix(fetch-community-plugins): correct --output help text to match new default path
  scripts/fetch-community-plugins.py
Due: none

fix(pm): accept reviewer_needs_{fix,improvement} in greptile-fix lane
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
Due: none

fix(gptme-rag): remove flaky performance threshold in test_watch_benchmark
  packages/gptme-rag/tests/test_benchmark.py
Due: none

fix(gptme-rag): lower watch benchmark threshold to pass on slow CI runners
  packages/gptme-rag/tests/test_benchmark.py
Due: none

fix(worker-records): fetch_pr_snapshot returns None on gh failure (phase 1.3)
  packages/gptme-runloops/src/gptme_runloops/worker_records.py
  packages/gptme-runloops/tests/goldens/worker_records/pr_state_diff.json
  packages/gptme-runloops/tests/test_pm_dispatch_outcome.py
  packages/gptme-runloops/tests/test_worker_records.py
Due: none

fix(worker-records): fetch_pr_snapshot returns None on gh failure
  packages/gptme-runloops/src/gptme_runloops/worker_records.py
  packages/gptme-runloops/tests/goldens/worker_records/pr_state_diff.json
  packages/gptme-runloops/tests/test_worker_records.py
Due: none

fix(fetch-community-plugins): update docstring and clarify guard bootstrap behavior
  scripts/fetch-community-plugins.py
Due: none

fix(worker-records): clear gh_snapshot_fetch_failed on successful fetch
  packages/gptme-runloops/src/gptme_runloops/worker_records.py
  packages/gptme-runloops/tests/goldens/worker_records/pr_state_diff.json
Due: none

feat(skills): add test-discovery skill for auto-detecting test runners
  skills/test-discovery/SKILL.md
  skills/test-discovery/scripts/detect-runner.sh
Due: check-markdown-links

feat(pm-dispatch): add repo exclusion list to filter ActivityWatch/* items
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

refactor(worker-records): define EFFECT_FETCH_FAILED constant, avoid hardcoded string
  packages/gptme-runloops/src/gptme_runloops/worker_records.py
  packages/gptme-runloops/tests/test_worker_records.py
Due: none

style: apply ruff-format to worker_records.py
  packages/gptme-runloops/src/gptme_runloops/worker_records.py
Due: none

fix(pm-dispatch): apply exclusion filter to items= path and LaneDispatcher
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(uv): sync lockfile to include gptme-bob-status member
  uv.lock
Due: none

fix(worker-records): fetch_failed must outrank orphan_no_delivery in derive_effect_signal
  packages/gptme-runloops/src/gptme_runloops/worker_records.py
  packages/gptme-runloops/tests/test_pm_dispatch_outcome.py
Due: none
