Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(pm): per-check slot key for concurrent master-CI failures (#1141)
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(evolution): mkdir parents before saving history/refinements with slashed lesson IDs
  packages/gptme-lessons-extras/src/gptme_lessons_extras/evolution.py
  packages/gptme-lessons-extras/tests/test_evolution.py
Due: none

fix(evolution): recursive glob + path-based ID reconstruction in get_contributor_stats()
  packages/gptme-lessons-extras/src/gptme_lessons_extras/evolution.py
  packages/gptme-lessons-extras/tests/test_evolution.py
Due: none

fix(lessons): remove 8 dead keywords from 4 active lessons
  lessons/concepts/gepa-genetic-pareto.md
  lessons/tools/python-file-execution.md
  lessons/tools/sibling-tool-call-errored.md
  lessons/workflow/agent-workspace-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove 8 dead keywords from 4 active lessons (#1143)
  lessons/concepts/gepa-genetic-pareto.md
  lessons/tools/python-file-execution.md
  lessons/tools/sibling-tool-call-errored.md
  lessons/workflow/agent-workspace-maintenance.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove 20 dead keywords from 5 active lessons
  lessons/autonomous/blocked-period-status-check-trap.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/tools/gh-pr-checks-exit-code-8.md
  lessons/tools/python-invocation.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove 20 dead keywords from 5 active lessons (#1144)
  lessons/autonomous/blocked-period-status-check-trap.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/tools/gh-pr-checks-exit-code-8.md
  lessons/tools/python-invocation.md
  lessons/workflow/project-monitoring-session-patterns.md
Due: check-markdown-links, validate-lesson-metadata

feat(pm-dispatch): wire PmModelBandit into LaneDispatcher for model routing
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(pm-dispatch): address Greptile review — available-model counting, orphaned issue-triage, outcome validation
  packages/gptme-runloops/src/gptme_runloops/pm_bandit.py
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_bandit.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

test(pm-dispatch): add model-scoping and stale-arm coverage for bandit count
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

test(pm-dispatch): strengthen work-type rejection test — assert error message + accept all PM_WORK_TYPES
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(pm-dispatch): validate --work-type against PM_WORK_TYPES in CLI
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
Due: none

feat(pm-dispatch): wire PmModelBandit into LaneDispatcher for model routing (#1145)
  packages/gptme-runloops/src/gptme_runloops/pm_bandit.py
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_bandit.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(evolution): mkdir parents before saving history/refinements with slashed lesson IDs (#1142)
  packages/gptme-lessons-extras/src/gptme_lessons_extras/evolution.py
  packages/gptme-lessons-extras/tests/test_evolution.py
Due: none

fix(lessons): remove 9 dead keywords from 9 active lessons
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/patterns/data-loader-pr-quality.md
  lessons/tools/shell-path-quoting.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/inter-agent-communication.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace generic 'event-driven decision' with body-matched 'watch task structure'
  lessons/autonomous/agent-event-watch-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove 9 dead keywords from 9 active lessons (#1146)
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/patterns/data-loader-pr-quality.md
  lessons/tools/shell-path-quoting.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/inter-agent-communication.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(tests): remove spurious @patch decorator leaking MagicMock/ to workspace root
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

fix(tests): remove spurious @patch decorator leaking MagicMock/ to workspace root (#1147)
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

feat(twitter): add tweet length validation to draft and post commands
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(lessons): replace dead keywords with more specific trigger phrases
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/workflow/fork-pr-secrets.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace over-broad 'secret is empty' with fork-specific phrase
  lessons/workflow/fork-pr-secrets.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): align body heading with new keyword in agent-event-watch-workflow
  lessons/autonomous/agent-event-watch-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords with more specific trigger phrases (#1148)
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/workflow/fork-pr-secrets.md
Due: check-markdown-links, validate-lesson-metadata

fix(perplexity): use current sonar model; extract citations
  scripts/perplexity.py
  tests/test_perplexity.py
Due: none

fix(perplexity): fall back when citations lack urls
  scripts/perplexity.py
  tests/test_perplexity.py
Due: none

fix(perplexity): use current sonar model; extract citations (#1149)
  scripts/perplexity.py
  tests/test_perplexity.py
Due: none

refactor(lessons-extras): extract NON_LESSON_FILES constant
  packages/gptme-lessons-extras/src/gptme_lessons_extras/similarity.py
Due: none

fix(gptmail): GPTME_WORKSPACE override + lazy logging in watcher daemon
  packages/gptmail/src/gptmail/README.md
  packages/gptmail/src/gptmail/watcher.py
  packages/gptmail/tests/test_watcher_workspace.py
Due: check-markdown-links

fix(gptmail): address Greptile P2s — env-dict HOME expansion + resolve() on fallback
  packages/gptmail/src/gptmail/watcher.py
  packages/gptmail/tests/test_watcher_workspace.py
Due: none

fix(check-claude-usage): support CC v2.1.183 section-header TUI format
  scripts/check-claude-usage-parser.py
  scripts/check-claude-usage.sh
Due: none

fix(check-claude-usage): restore cache write after parse (regression in e92eb0b)
  scripts/check-claude-usage-parser.py
  scripts/check-claude-usage.sh
Due: none

fix(check-claude-usage): add CC version upgrade hint on parse failure
  scripts/check-claude-usage-parser.py
Due: none

fix(check-claude-usage): always write cache and fix empty-arg on non-json mode
  scripts/check-claude-usage.sh
Due: none

fix(usage-check): support CC 2.1.183 TUI; extract parser to module
  scripts/check-claude-usage-parser.py
  scripts/check-claude-usage.sh
Due: none

fix(git-hooks): don't false-error on up-to-date push
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
Due: none

fix(gptme-runloops): resolve 10 mypy type errors in pm_dispatch
  packages/gptme-runloops/src/gptme_runloops/pm_dispatch.py
  packages/gptme-runloops/tests/test_pm_dispatch.py
Due: none

fix(git-hooks): remove now-unreachable dead-code branch in master/main protection
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
Due: none

fix(usage-check): restore cache write after heredoc→parser extraction
  scripts/check-claude-usage.sh
Due: none

fix(usage-check): restore _pacing, drop dead PARSER_ARGS, error on empty parse
  scripts/check-claude-usage.sh
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
