Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

feat(mcp): expose agent memory from lessons server
  pyproject.toml
  scripts/gptme-lessons-mcp.py
  tests/test_gptme_lessons_mcp.py
  uv.lock
Due: none

feat(credential-slots): detect slot identity drift via refresh-token fingerprint
  packages/credential-slots/README.md
  packages/credential-slots/pyproject.toml
  packages/credential-slots/src/credential_slots/__init__.py
  packages/credential-slots/src/credential_slots/manager.py
  packages/credential-slots/tests/test_manager.py
Due: check-markdown-links

fix(credential-slots): address Greptile review findings
  packages/credential-slots/src/credential_slots/manager.py
  packages/credential-slots/tests/test_manager.py
  uv.lock
Due: none

fix(credential-slots): eliminate world-readable window in fingerprint write
  packages/credential-slots/src/credential_slots/manager.py
Due: none

feat(judge): add cascade_context to mute top-priority penalty for legitimate Tier 3 routes
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(credential-slots): identity drift detection via refresh-token fingerprint (#895)
  packages/credential-slots/README.md
  packages/credential-slots/pyproject.toml
  packages/credential-slots/src/credential_slots/__init__.py
  packages/credential-slots/src/credential_slots/manager.py
  packages/credential-slots/tests/test_manager.py
  uv.lock
Due: check-markdown-links

fix(judge): address Greptile review — bool guard + restore docstring
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

fix(judge): guard selector_reason against non-string truthy values
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(judge): cascade_context routing-aware adjustment (Option C) (#896)
  packages/gptme-sessions/src/gptme_sessions/judge.py
  packages/gptme-sessions/tests/test_judge.py
Due: none

feat(gptme-voice): add HandoffHubWriter for HTTP hub publishing
  packages/gptme-voice/src/gptme_voice/handoff.py
Due: none

feat(gptme-voice): add HandoffHubWriter for HTTP hub publishing (#897)
  packages/gptme-voice/src/gptme_voice/handoff.py
Due: none

fix(gptme-voice): address HandoffHubWriter robustness issues from Greptile review
  packages/gptme-voice/src/gptme_voice/handoff.py
Due: none

fix(gptme-voice): address HandoffHubWriter robustness issues from Greptile review (#898)
  packages/gptme-voice/src/gptme_voice/handoff.py
Due: none

fix(gptme-voice): fallback hangup on explicit goodbye transcript
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

fix(gptme-voice): add Twilio REST API call termination to _schedule_hangup
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(gptme-voice): address Greptile review findings
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(gptme-voice): Twilio REST API call termination + transcript fallback hangup (#899)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

docs(lessons): remove dead keywords flagged by 7-day keyword health
  lessons/autonomous/rule-driven-session-gating.md
  lessons/patterns/data-loader-pr-quality.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): remove dead keywords flagged by 7-day keyword health (#900)
  lessons/autonomous/rule-driven-session-gating.md
  lessons/patterns/data-loader-pr-quality.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
  lessons/workflow/proactive-correction-in-agent-messages.md
Due: check-markdown-links, validate-lesson-metadata

fix(monitoring): surface Bob-authored draft PRs in pr_update flow
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

test(monitoring): add idempotency assertion to draft PR surfacing test
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

fix(monitoring): surface Bob-authored draft PRs in pr_update flow (#901)
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
  packages/gptme-runloops/tests/test_project_monitoring.py
Due: none

fix(gptme-voice): expand hangup commit regex to catch 'use the hangup tool' phrases
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(git): rerun after staged hook updates
  scripts/git/pre-commit-auto-stage
Due: none

style: apply ruff auto-fixes (SIM114, PIE810, unused vars)
  scripts/agent-msg.py
  scripts/github/self-merge-check.py
  scripts/twitter/twitter.py
  tools/rss_reader.py
Due: none

style: apply ruff auto-fixes (SIM114, PIE810, unused vars) (#902)
  scripts/agent-msg.py
  scripts/github/self-merge-check.py
  scripts/twitter/twitter.py
  tools/rss_reader.py
Due: none

fix(git): detect staged hook updates in pre-commit auto-stage
  scripts/git/pre-commit-auto-stage
Due: none

docs(lessons): add session-ending protocol keywords
  lessons/workflow/session-ending-protocol.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): archive memory-failure-prevention, session-ending-protocol (confirmed-harmful in crossref analysis)
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/session-ending-protocol.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): archive memory-failure-prevention, session-ending-protocol (confirmed-harmful in crossref analysis)
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/session-ending-protocol.md
  scripts/git/pre-commit-auto-stage
Due: check-markdown-links, validate-lesson-metadata

fix(git): clarify pre-commit rerun status message
  scripts/git/pre-commit-auto-stage
Due: none

fix(git): clarify pre-commit rerun status message (#904)
  scripts/git/pre-commit-auto-stage
Due: none

fix(lessons): replace dead keywords in progress-despite-blockers and greptile-pr-reviews
  lessons/tools/greptile-pr-reviews.md
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add session_categories to gptme-contrib-contribution-pattern to fix pipeline injection gap
  lessons/workflow/gptme-contrib-contribution-pattern.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords in 4 worst-performing non-confounded lessons
  lessons/tools/greptile-pr-reviews.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): generalize review blocker keyword
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace person-specific blocker keyword
  lessons/workflow/progress-despite-blockers.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead strategic-focus keywords
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove additional dead keywords from 3 lessons
  lessons/tools/check-cli---help-before-readin.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/read-full-github-context.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): prune measured dead keywords
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
  lessons/workflow/agent-workspace-maintenance.md
  lessons/workflow/check-existing-prs.md
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata
