Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(gptme-sessions): address Greptile review — prune contextual arms, validate reward range, read-only load_bandit_means
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

docs(lessons): clarify scope of rule-driven-session-gating — event-gating only, not a replacement for productive-work scheduling
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): move scope section to after context + add link to #349
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove Thompson sampling reference, use only CASCADE
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add lesson quality standards to prevent knowledge base bloat
  lessons/autonomous/lesson-quality-standards.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add status field and narrow trigger keywords in lesson-quality-standards
  lessons/autonomous/lesson-quality-standards.md
Due: check-markdown-links, validate-lesson-metadata

fix(thompson-sampling): address second Greptile review — 3 logic gaps
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

docs(lessons): clarify scope of rule-driven-session-gating (#353)
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptme-sessions): add steps/yields signal to trajectory extraction
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

docs(lessons): add lesson quality standards to prevent knowledge base bloat (#355)
  lessons/autonomous/lesson-quality-standards.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptme-sessions): add steps/yields signal to trajectory extraction (#356)
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(thompson-sampling): prune_stale min_selections threshold — return True not total_selections==0
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

fix(thompson-sampling): clarify prune_stale docstring + test boundary case
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

feat(thompson-sampling): add Bandit.prune() wrapper + CLI subcommand
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
Due: none

feat(gptme-sessions): upstream Thompson sampling bandit engine + trigger field (#351)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

docs: fix README inaccuracies and add missing entries
  README.md
  packages/README.md
Due: check-markdown-links

feat(gptme-sessions): add --tokens flag to signals subcommand + public detect_format
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

refactor(gptme-sessions): rename --tokens to --usage with full breakdown
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): --tokens outputs empty for zero-token CC trajectories
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

refactor(gptme-sessions): improve --tokens help text and signals output ordering
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

fix(readme): correct gptme-wrapped description, add missing plugins and packages
  README.md
Due: check-markdown-links

docs: fix README inaccuracies and add missing entries (#360)
  README.md
  packages/README.md
Due: check-markdown-links

feat(gptme-sessions): add Codex and Copilot trajectory format support
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

docs(lessons): add agent event watch workflow pattern
  lessons/workflow/agent-event-watch-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(lesson): address Greptile review — generalize env-specific refs, add Outcome section
  lessons/workflow/agent-event-watch-workflow.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptme-sessions): add --usage to signals + public detect_format (Phase 2 of #349) (#354)
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

docs(lessons): add agent event watch workflow pattern (#363)
  lessons/workflow/agent-event-watch-workflow.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptme-sessions): add --token-count to append command (#349 Phase 2 followup)
  packages/gptme-sessions/src/gptme_sessions/cli.py
Due: none

fix(gptme-sessions): validate --token-count is non-negative
  packages/gptme-sessions/src/gptme_sessions/cli.py
Due: none

feat(gptme-sessions): add extract_usage_gptme + public detect_format API
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(gptme-sessions): add discovery module for session directory scanning
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/discovery.py
  packages/gptme-sessions/tests/test_discovery.py
Due: none

refactor(activity-summary): wire session reading through gptme-sessions (Phase 3 of #361)
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_session_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/session_data.py
  packages/gptme-activity-summary/tests/test_cc_session_data.py
  packages/gptme-activity-summary/tests/test_session_data.py
  pyproject.toml
  uv.lock
Due: none

fix(gptme-sessions): address Greptile review on extract_usage_gptme
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): restore _detect_format private name after rebase on master
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

refactor(sessions): move session log reading from gptme-activity-summary to gptme-sessions (#365)
  packages/gptme-activity-summary/pyproject.toml
  packages/gptme-activity-summary/src/gptme_activity_summary/cc_session_data.py
  packages/gptme-activity-summary/src/gptme_activity_summary/session_data.py
  packages/gptme-activity-summary/tests/test_cc_session_data.py
  packages/gptme-activity-summary/tests/test_session_data.py
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/discovery.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_discovery.py
  packages/gptme-sessions/tests/test_sessions.py
  pyproject.toml
  uv.lock
Due: none

fix(gptme-sessions): extract Anthropic cache tokens in extract_usage_gptme
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(gptme-sessions): add Codex CLI and Copilot CLI trajectory support
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/discovery.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): use direct attr access for cost_usd, clarify --tokens help text
  packages/gptme-sessions/src/gptme_sessions/cli.py
Due: none

feat(gptme-sessions): add extract_usage_gptme + public detect_format API (Phase 1 of #361)
  packages/gptme-sessions/pyproject.toml
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/discovery.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
  uv.lock
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
