Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(voice): persist IIR pre-filter state across streaming chunks
  packages/gptme-voice/src/gptme_voice/realtime/audio.py
  packages/gptme-voice/tests/test_audio.py
Due: none

fix(voice): add IIR anti-aliasing pre-filter before 24kHz→8kHz downsample (#806)
  packages/gptme-voice/src/gptme_voice/realtime/audio.py
  packages/gptme-voice/tests/test_audio.py
Due: none

fix(voice): improve standup call opening guidance for deliberate, confident delivery
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(voice): add missing space between adjacent string literals in standup instructions
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(voice): improve standup call opening guidance for deliberate, confident delivery (#807)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(git-hooks): allow branch-deletion pushes when current branch lacks upstream
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
Due: none

fix(git-hooks): allow branch-deletion pushes when current branch lacks upstream (#808)
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
Due: none

feat(voice): Phase 3 Step 2 — promote call transcripts to gptme conversation log
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

fix(voice): accept any 2xx for transcript promotion + percent-encode caller_id URL
  packages/gptme-voice/src/gptme_voice/realtime/server.py
Due: none

fix(voice): fix test URL assertion + add done-callback to fire-and-forget Future
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

feat(voice): promote call transcripts to gptme conversation log (#809)
  packages/gptme-voice/src/gptme_voice/realtime/server.py
  packages/gptme-voice/tests/test_server.py
Due: none

fix(twitter): handle string context in create_review_prompt
  scripts/twitter/llm.py
Due: none

fix(twitter): avoid orphaned 'Thread Context' header on empty/malformed thread
  scripts/twitter/llm.py
Due: none

fix(twitter): handle string context in create_review_prompt (#810)
  scripts/twitter/llm.py
Due: none

fix(twitter): skip drafting replies for tweets with restricted reply_settings
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(twitter): add reply_settings to get_users_mentions tweet_fields
  scripts/twitter/workflow.py
Due: none

fix(twitter): allow mentionedUsers replies when tweet came from mentions API
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(twitter): skip drafting replies for tweets with restricted reply_settings (#811)
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(lessons): improve CLI --help keywords; replace stale ace example
  lessons/tools/check-cli---help-before-readin.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): improve CLI --help keywords; replace stale ace example (#812)
  lessons/tools/check-cli---help-before-readin.md
Due: check-markdown-links, validate-lesson-metadata

fix(loop): increase default COOLDOWN from 10s to 1800s
  scripts/runs/autonomous/autonomous-loop.sh
Due: none

fix(loop): validate AGENT_LOOP_COOLDOWN override
  scripts/runs/autonomous/autonomous-loop.sh
Due: none

fix(loop): increase default COOLDOWN from 10s to 1800s (#813)
  scripts/runs/autonomous/autonomous-loop.sh
Due: none

feat(skills): add home-assistant skill with HA CLI script
  skills/home-assistant/SKILL.md
  skills/home-assistant/scripts/ha.py
Due: check-markdown-links

fix(skills/home-assistant): redact PII, fix calendar endpoint, strip quoted .env values
  skills/home-assistant/SKILL.md
  skills/home-assistant/scripts/ha.py
Due: check-markdown-links

fix(skills/home-assistant): replace SystemExit pattern with HAError exception
  skills/home-assistant/scripts/ha.py
Due: none

feat(skills): add home-assistant skill with HA CLI script (#814)
  skills/home-assistant/SKILL.md
  skills/home-assistant/scripts/ha.py
Due: check-markdown-links

fix(git): surface real hook failure when no auto-fixable changes
  scripts/git/pre-commit-auto-stage
  tests/test_git_safe_commit.py
Due: none

fix(skills/home-assistant): replace personal SKILL.md with generic version
  skills/home-assistant/SKILL.md
Due: check-markdown-links

fix(skills/home-assistant): replace personal SKILL.md with generic version (#817)
  skills/home-assistant/SKILL.md
Due: check-markdown-links

fix(skills/home-assistant): depersonalize ha.py — remove personal names and hardcoded entity IDs
  skills/home-assistant/scripts/ha.py
Due: none

fix(skills/home-assistant): depersonalize ha.py — remove personal names, hostname, entity IDs
  skills/home-assistant/scripts/ha.py
Due: none

fix(skills/home-assistant): rename weather_eid → weather_entity for clarity
  skills/home-assistant/scripts/ha.py
Due: none

fix(skills/home-assistant): cast weather temp_c to float in JSON output
  skills/home-assistant/scripts/ha.py
Due: none

fix(skills/home-assistant): depersonalize ha.py — remove personal names, hostname, entity IDs (#819)
  skills/home-assistant/scripts/ha.py
Due: none

docs(trajectory-persistence): document cleanup-selection-bias confound in YAML frontmatter
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

docs(trajectory-persistence): add inline LOO analysis note explaining selection-bias confound
  lessons/infrastructure/trajectory-persistence.md
Due: check-markdown-links, validate-lesson-metadata

fix(validate): add confound_note to allowed_fields; fix lesson doc accuracy
  lessons/infrastructure/trajectory-persistence.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
Due: check-markdown-links, validate-lesson-metadata

docs(validate): add confound_note docstring; clarify consumer is agent-workspace
  lessons/infrastructure/trajectory-persistence.md
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
Due: check-markdown-links, validate-lesson-metadata
