Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix: make visual identity lesson generic + fix cc-analyze workspace
  lessons/patterns/agent-visual-identity.md
  plugins/cc-analyze/pyproject.toml
  plugins/cc-analyze/src/gptme_cc_analyze/__init__.py
  uv.lock
Due: check-markdown-links, validate-lesson-metadata

feat(tasks): add --user flag to filter tasks by assigned_to
  packages/tasks/src/tasks/generate_queue.py
Due: none

feat(patterns): add agent visual identity establishment lesson
  lessons/patterns/agent-visual-identity.md
Due: check-markdown-links, validate-lesson-metadata

feat(patterns): add agent visual identity establishment lesson (#98)
  lessons/patterns/agent-visual-identity.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove broken links to non-existent files
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/llmlingua-compression.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): Add autonomous session lessons + AI/ML concepts for all gptme agents (#95)
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/concepts/ace-agentic-context-engineering.md
  lessons/concepts/cascade-context-management.md
  lessons/concepts/gepa-genetic-pareto.md
  lessons/concepts/llmlingua-compression.md
  lessons/workflow/git-workflow.md
Due: check-markdown-links, validate-lesson-metadata

fix(tasks): skip GitHub issues when filtering by user
  packages/tasks/src/tasks/generate_queue.py
Due: none

feat(tasks): add --user flag to filter tasks by assigned_to (#97)
  packages/tasks/src/tasks/generate_queue.py
Due: none

feat(packages): add gptmail - email automation for gptme agents
  .pre-commit-config.yaml
  packages/gptmail/Makefile
  packages/gptmail/README.md
  packages/gptmail/pyproject.toml
  packages/gptmail/scripts/cleanup_duplicates.py
  packages/gptmail/src/gptmail/DESIGN.md
  packages/gptmail/src/gptmail/README.md
  packages/gptmail/src/gptmail/__init__.py
  packages/gptmail/src/gptmail/__main__.py
  packages/gptmail/src/gptmail/cli.py
  packages/gptmail/src/gptmail/communication_utils/README.md
  packages/gptmail/src/gptmail/communication_utils/__init__.py
  packages/gptmail/src/gptmail/communication_utils/auth/__init__.py
  packages/gptmail/src/gptmail/communication_utils/auth/oauth.py
  packages/gptmail/src/gptmail/communication_utils/auth/tokens.py
  packages/gptmail/src/gptmail/communication_utils/error_handling/__init__.py
  packages/gptmail/src/gptmail/communication_utils/error_handling/errors.py
  packages/gptmail/src/gptmail/communication_utils/error_handling/retry.py
  packages/gptmail/src/gptmail/communication_utils/messaging/__init__.py
  packages/gptmail/src/gptmail/communication_utils/messaging/headers.py
  packages/gptmail/src/gptmail/communication_utils/monitoring/__init__.py
  packages/gptmail/src/gptmail/communication_utils/monitoring/loggers.py
  packages/gptmail/src/gptmail/communication_utils/monitoring/metrics.py
  packages/gptmail/src/gptmail/communication_utils/rate_limiting/__init__.py
  packages/gptmail/src/gptmail/communication_utils/rate_limiting/limiters.py
  packages/gptmail/src/gptmail/communication_utils/state/__init__.py
  packages/gptmail/src/gptmail/communication_utils/state/locks.py
  packages/gptmail/src/gptmail/communication_utils/state/tracking.py
  packages/gptmail/src/gptmail/complexity.py
  packages/gptmail/src/gptmail/lib.py
  packages/gptmail/src/gptmail/migrate_lock_format.py
  packages/gptmail/src/gptmail/py.typed
  packages/gptmail/src/gptmail/watcher.py
  packages/gptmail/tests/__init__.py
  packages/gptmail/tests/test_import.py
  uv.lock
Due: check-markdown-links

fix: remove agent-specific names from gptmail package
  packages/gptmail/README.md
  packages/gptmail/pyproject.toml
  packages/gptmail/scripts/cleanup_duplicates.py
  packages/gptmail/src/gptmail/README.md
  packages/gptmail/src/gptmail/cli.py
  packages/gptmail/src/gptmail/communication_utils/README.md
  packages/gptmail/src/gptmail/lib.py
  packages/gptmail/src/gptmail/watcher.py
Due: check-markdown-links

feat(packages): add gptmail - email automation for gptme agents (#99)
  .pre-commit-config.yaml
  packages/gptmail/Makefile
  packages/gptmail/README.md
  packages/gptmail/pyproject.toml
  packages/gptmail/scripts/cleanup_duplicates.py
  packages/gptmail/src/gptmail/DESIGN.md
  packages/gptmail/src/gptmail/README.md
  packages/gptmail/src/gptmail/__init__.py
  packages/gptmail/src/gptmail/__main__.py
  packages/gptmail/src/gptmail/cli.py
  packages/gptmail/src/gptmail/communication_utils/README.md
  packages/gptmail/src/gptmail/communication_utils/__init__.py
  packages/gptmail/src/gptmail/communication_utils/auth/__init__.py
  packages/gptmail/src/gptmail/communication_utils/auth/oauth.py
  packages/gptmail/src/gptmail/communication_utils/auth/tokens.py
  packages/gptmail/src/gptmail/communication_utils/error_handling/__init__.py
  packages/gptmail/src/gptmail/communication_utils/error_handling/errors.py
  packages/gptmail/src/gptmail/communication_utils/error_handling/retry.py
  packages/gptmail/src/gptmail/communication_utils/messaging/__init__.py
  packages/gptmail/src/gptmail/communication_utils/messaging/headers.py
  packages/gptmail/src/gptmail/communication_utils/monitoring/__init__.py
  packages/gptmail/src/gptmail/communication_utils/monitoring/loggers.py
  packages/gptmail/src/gptmail/communication_utils/monitoring/metrics.py
  packages/gptmail/src/gptmail/communication_utils/rate_limiting/__init__.py
  packages/gptmail/src/gptmail/communication_utils/rate_limiting/limiters.py
  packages/gptmail/src/gptmail/communication_utils/state/__init__.py
  packages/gptmail/src/gptmail/communication_utils/state/locks.py
  packages/gptmail/src/gptmail/communication_utils/state/tracking.py
  packages/gptmail/src/gptmail/complexity.py
  packages/gptmail/src/gptmail/lib.py
  packages/gptmail/src/gptmail/migrate_lock_format.py
  packages/gptmail/src/gptmail/py.typed
  packages/gptmail/src/gptmail/watcher.py
  packages/gptmail/tests/__init__.py
  packages/gptmail/tests/test_import.py
  uv.lock
Due: check-markdown-links

fix(gptmail): RFC 2047 encode Subject and From headers for non-ASCII chars
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(gptmail): add .encode() to Header objects for type safety
  packages/gptmail/src/gptmail/lib.py
Due: none

style(gptmail): always encode From header for consistency
  packages/gptmail/src/gptmail/lib.py
Due: none

fix(workflow): resolve broken file references in memory failure prevention lessons
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

fix(gptmail): RFC 2047 encode Subject and From headers for non-ASCII chars (#101)
  packages/gptmail/src/gptmail/lib.py
Due: none

refactor(lessons): add hybrid keywords with explanatory comments
  lessons/patterns/progressive-disclosure.md
  lessons/social/github-issue-engagement.md
  lessons/tools/browser-verification.md
  lessons/tools/python-invocation.md
  lessons/tools/shell-command-chaining.md
  lessons/tools/tmux-long-running-processes.md
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): improve keyword specificity for 8 lessons (#89)
  lessons/patterns/progressive-disclosure.md
  lessons/social/github-issue-engagement.md
  lessons/tools/browser-verification.md
  lessons/tools/python-invocation.md
  lessons/tools/shell-command-chaining.md
  lessons/tools/tmux-long-running-processes.md
  lessons/workflow/git-remote-branch-pushing.md
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): improve keyword specificity for 2 lessons
  lessons/patterns/progressive-disclosure.md
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): improve keyword specificity for 2 lessons (#90)
  lessons/patterns/progressive-disclosure.md
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

feat(plugins): add attention-router and attention-history plugins
  plugins/README.md
  plugins/attention-history/README.md
  plugins/attention-history/pyproject.toml
  plugins/attention-history/src/gptme_attention_history/__init__.py
  plugins/attention-history/src/gptme_attention_history/tools/__init__.py
  plugins/attention-history/src/gptme_attention_history/tools/attention_history.py
  plugins/attention-history/tests/test_attention_history.py
  plugins/attention-router/README.md
  plugins/attention-router/pyproject.toml
  plugins/attention-router/src/gptme_attention_router/__init__.py
  plugins/attention-router/src/gptme_attention_router/tools/__init__.py
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
  plugins/attention-router/tests/test_attention_router.py
Due: check-markdown-links

fix(ci): create venv before pre-commit to prevent 'files modified' error
  .github/workflows/pre-commit.yml
Due: none

fix(lessons): add YAML frontmatter to memory failure prevention lessons
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): address all CI validation failures
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/pre-issue-creation-checklist.md
Due: check-markdown-links, validate-lesson-metadata

feat(attention-router): add cache-aware batched updates
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
  plugins/attention-router/tests/test_attention_router.py
Due: none

fix(lessons): remove agent-instance names for generic applicability
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

feat(workflow): Memory failure prevention patterns for all gptme agents (#100)
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/memory-failure-prevention.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/session-startup-recent-actions-review.md
Due: check-markdown-links, validate-lesson-metadata

feat(attention-router): integrate with cache_awareness module
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
Due: none

fix(attention-router): address review comments - encoding and naming
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
Due: none

style(attention-router): fix string quote formatting for ruff
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
Due: none

feat(plugins): add attention-router and attention-history plugins (#103)
  .github/workflows/pre-commit.yml
  plugins/README.md
  plugins/attention-history/README.md
  plugins/attention-history/pyproject.toml
  plugins/attention-history/src/gptme_attention_history/__init__.py
  plugins/attention-history/src/gptme_attention_history/tools/__init__.py
  plugins/attention-history/src/gptme_attention_history/tools/attention_history.py
  plugins/attention-history/tests/test_attention_history.py
  plugins/attention-router/README.md
  plugins/attention-router/pyproject.toml
  plugins/attention-router/src/gptme_attention_router/__init__.py
  plugins/attention-router/src/gptme_attention_router/tools/__init__.py
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
  plugins/attention-router/tests/test_attention_router.py
Due: check-markdown-links

style(attention-router): fix string quote formatting for ruff (#104)
  plugins/attention-router/src/gptme_attention_router/tools/attention_router.py
Due: none

feat(template-validation): add template validation package
  packages/template-validation/.coverage
  packages/template-validation/README.md
  packages/template-validation/pyproject.toml
  packages/template-validation/template_validation.egg-info/PKG-INFO
  packages/template-validation/template_validation.egg-info/SOURCES.txt
  packages/template-validation/template_validation.egg-info/dependency_links.txt
  packages/template-validation/template_validation.egg-info/entry_points.txt
  packages/template-validation/template_validation.egg-info/requires.txt
  packages/template-validation/template_validation.egg-info/top_level.txt
  packages/template-validation/template_validation/__init__.py
  packages/template-validation/template_validation/check_names.py
  packages/template-validation/template_validation/cli.py
  packages/template-validation/template_validation/utils.py
  packages/template-validation/tests/test_check_names.py
Due: check-markdown-links

refactor: replace Python package with 58-line shell script
  packages/template-validation/.coverage
  packages/template-validation/README.md
  packages/template-validation/pyproject.toml
  packages/template-validation/template_validation.egg-info/PKG-INFO
  packages/template-validation/template_validation.egg-info/SOURCES.txt
  packages/template-validation/template_validation.egg-info/dependency_links.txt
  packages/template-validation/template_validation.egg-info/entry_points.txt
  packages/template-validation/template_validation.egg-info/requires.txt
  packages/template-validation/template_validation.egg-info/top_level.txt
  packages/template-validation/template_validation/__init__.py
  packages/template-validation/template_validation/check_names.py
  packages/template-validation/template_validation/cli.py
  packages/template-validation/template_validation/utils.py
  packages/template-validation/tests/test_check_names.py
  scripts/README.md
  scripts/check-names.sh
Due: check-markdown-links

refactor(check-names): move to precommit/, add --help, improve comments
  scripts/README.md
  scripts/check-names.sh
  scripts/precommit/check-names.sh
Due: check-markdown-links

fix(check-names): exclude script from Makefile validation and fix trailing whitespace
  Makefile
  scripts/precommit/check-names.sh
Due: none

refactor(check-names): make Makefile call script instead of duplicating logic
  Makefile
Due: none

feat: Add check-names validation script (#105)
  Makefile
  scripts/precommit/check-names.sh
Due: none

docs(lessons): add pre-push hook and 2026-01-07 incident to worktree lesson
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
