Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(sessions): add dropout_selection migration in from_dict
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_record.py
Due: none

fix(sessions): frozenset for DROPOUT_DEPTH_VALUES + cross-field consistency guard
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_record.py
Due: none

feat(sessions): add dropout_selected, dropout_reason, dropout_depth fields to SessionRecord (#965)
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_record.py
Due: none

fix(lessons): allow description and metadata fields in lesson validator
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

fix(lessons): allow description and metadata fields in lesson validator (#966)
  packages/gptme-lessons-extras/src/gptme_lessons_extras/validate.py
  packages/gptme-lessons-extras/tests/test_validate.py
Due: none

fix(lessons): add description + keywords to greptile-pr-reviews for better IDF retrieval
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add description + keywords to greptile-pr-reviews for better IDF retrieval (#967)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(twitter): unescape literal \n sequences in tweet text
  scripts/twitter/llm.py
  scripts/twitter/workflow.py
Due: none

fix(twitter): remove unnecessary None handling in _fix helper
  scripts/twitter/workflow.py
Due: none

fix(twitter): deduplicate _unescape_literal_newlines helper, use shared import
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

fix(twitter): unescape literal \n sequences in tweet text (#968)
  scripts/twitter/llm.py
  scripts/twitter/workflow.py
  tests/test_twitter_workflow_drafts.py
Due: none

docs(lessons): add description fields to autonomous and workflow lessons for hybrid matcher
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/blocked-period-status-check-trap.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/escalation-vs-autonomy.md
  lessons/autonomous/lesson-quality-standards.md
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/autonomous/safe-operation-patterns.md
  lessons/autonomous/scope-discipline-in-autonomous-work.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/autonomous/thompson-sampling-work-categories.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/check-existing-prs.md
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/documentation-principle.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/git-commit-format.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
  lessons/workflow/measure-before-optimize.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/proactive-correction-in-agent-messages.md
  lessons/workflow/progress-despite-blockers.md
  lessons/workflow/session-ending-protocol.md
  lessons/workflow/session-startup-recent-actions-review.md
  lessons/workflow/stated-intention-follow-through.md
  lessons/workflow/verifiable-tasks-principle.md
  lessons/workflow/when-to-rebase-prs.md
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): correct worktree-push-trap description to use BRANCH:BRANCH refspec
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): address Greptile review feedback on description fields
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/thompson-sampling-work-categories.md
  lessons/workflow/session-ending-protocol.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add description fields to autonomous and workflow lessons for hybrid matcher (#969)
  lessons/autonomous/agent-event-watch-workflow.md
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/blocked-period-status-check-trap.md
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/escalation-vs-autonomy.md
  lessons/autonomous/lesson-quality-standards.md
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/rule-driven-session-gating.md
  lessons/autonomous/safe-operation-patterns.md
  lessons/autonomous/scope-discipline-in-autonomous-work.md
  lessons/autonomous/strategic-completion-leverage-when-blocked.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/workflow/agent-workspace-setup-maintenance.md
  lessons/workflow/check-existing-prs.md
  lessons/workflow/communication-loop-closure-patterns.md
  lessons/workflow/documentation-principle.md
  lessons/workflow/fork-pr-secrets.md
  lessons/workflow/git-commit-format.md
  lessons/workflow/gptme-contrib-contribution-pattern.md
  lessons/workflow/measure-before-optimize.md
  lessons/workflow/pr-recovery-after-accidental-closure.md
  lessons/workflow/pre-issue-creation-checklist.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/proactive-correction-in-agent-messages.md
  lessons/workflow/progress-despite-blockers.md
  lessons/workflow/session-startup-recent-actions-review.md
  lessons/workflow/stated-intention-follow-through.md
  lessons/workflow/verifiable-tasks-principle.md
  lessons/workflow/when-to-rebase-prs.md
  lessons/workflow/worktree-push-trap.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): complete 8 truncated descriptions flagged by Greptile review
  lessons/patterns/data-loader-pr-quality.md
  lessons/tools/configure-pytest-pythonpath-fo.md
  lessons/tools/gh-pr-review-extension.md
  lessons/tools/linear-api-integration.md
  lessons/workflow/agent-orchestrator-patterns.md
  lessons/workflow/git-workflow.md
  lessons/workflow/git-worktree-workflow.md
  lessons/workflow/prefer-brain-over-local-memory.md
Due: check-markdown-links, validate-lesson-metadata

docs(activity-summary): fix human-mode CLI syntax and add whatdidyougetdone successor story
  packages/gptme-activity-summary/README.md
Due: check-markdown-links

docs(activity-summary): use placeholder instead of real username in examples
  packages/gptme-activity-summary/README.md
Due: check-markdown-links

docs(activity-summary): fix human-mode CLI syntax and add successor story (#971)
  packages/gptme-activity-summary/README.md
Due: check-markdown-links

fix(lessons): strengthen greptile-pr-reviews description for hybrid retrieval
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): strengthen greptile-pr-reviews description for hybrid retrieval (#972)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): strengthen greptile-pr-reviews description — symptom-focused rewrite
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add greptile-re-review keyword to match broader description
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): strengthen greptile-pr-reviews description (symptom-focused rewrite) (#973)
  lessons/tools/greptile-pr-reviews.md
Due: check-markdown-links, validate-lesson-metadata

feat(skills): add project-setup-interview skill for generating CLAUDE.md/AGENTS.md
  skills/project-setup-interview/SKILL.md
Due: check-markdown-links

fix(skills): address Greptile review feedback on project-setup-interview
  skills/project-setup-interview/SKILL.md
Due: check-markdown-links

fix(skills): correct Phase 2 repo-inspection commands — per-file CI workflow checks and ruff.toml/pyproject.toml config separation
  skills/project-setup-interview/SKILL.md
Due: check-markdown-links

feat(skills): add project-setup-interview skill (#974)
  skills/project-setup-interview/SKILL.md
Due: check-markdown-links

feat(aw-watcher-agent): ActivityWatch watcher for AI coding assistants (phase 1)
  packages/aw-watcher-agent/README.md
  packages/aw-watcher-agent/pyproject.toml
  packages/aw-watcher-agent/src/aw_watcher_agent/__init__.py
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/src/aw_watcher_agent/client.py
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
  uv.lock
Due: check-markdown-links

fix(aw-watcher-agent): persist start metadata in state so emit-end carries full event data
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/tests/test_aw_watcher_agent.py
Due: none

fix(aw-watcher-agent): warn on delete_event failure; add encoding=utf-8 to state I/O
  packages/aw-watcher-agent/src/aw_watcher_agent/cli.py
  packages/aw-watcher-agent/src/aw_watcher_agent/core.py
Due: none

docs(gptodo): document recurring tasks in --help and edit --help
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): use gptodo command name in edit help examples (not tasks)
  packages/gptodo/src/gptodo/cli.py
Due: none

docs(gptodo): document recurring tasks in help (#976)
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(lessons): remove self-referential keywords across 6 shared lessons
  lessons/autonomous/autonomous-session-pivot-strategies.md
  lessons/autonomous/autonomous-session-structure.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
  lessons/tools/notion-mcp-integration.md
  lessons/workflow/measure-before-optimize.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove missed anti-monotony guard self-ref, clean blank YAML lines
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/patterns/indexed-knowledge-base-for-llm-retrieval.md
  lessons/tools/notion-mcp-integration.md
Due: check-markdown-links, validate-lesson-metadata
