Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(gptodo): enhance session cleanup with state reconciliation (#298)
  packages/gptodo/src/gptodo/subagent.py
Due: none

feat(gptodo): timeout wrapper and system prompt for spawn (#299)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(scripts): use $((i + 1)) instead of ((i++)) in repo-status.sh
  scripts/github/repo-status.sh
Due: none

fix(scripts): use $((i + 1)) instead of ((i++)) in repo-status.sh (#303)
  scripts/github/repo-status.sh
Due: none

fix(scripts): fix output ordering for 10+ repos and use GH_USER variable
  scripts/github/repo-status.sh
Due: none

feat(gptodo): dependency-aware queue generation with unblocking power
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/tests/test_generate_queue.py
Due: none

fix(scripts): fix output ordering for 10+ repos and use GH_USER variable (#304)
  scripts/github/repo-status.sh
Due: none

feat(gptodo): dependency-aware queue generation with unblocking power (#305)
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/tests/test_generate_queue.py
Due: none

test(gptodo): add diamond graph and mixed URL dependency tests
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/tests/test_generate_queue.py
Due: none

fix(gptodo): use precise URL scheme check to avoid matching task IDs
  packages/gptodo/src/gptodo/generate_queue.py
Due: none

test(gptodo): add diamond graph and mixed URL dependency tests (#306)
  packages/gptodo/src/gptodo/generate_queue.py
  packages/gptodo/tests/test_generate_queue.py
Due: none

feat(twitter): add dispatch detection for trusted user task requests
  scripts/twitter/dispatch.py
  scripts/twitter/workflow.py
Due: none

fix(twitter): address Greptile review feedback on dispatch system
  scripts/twitter/dispatch.py
  scripts/twitter/workflow.py
Due: none

fix(gptodo): use precise URL scheme check to avoid false matches on task IDs
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/deptree.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/src/gptodo/utils.py
Due: none

feat(gptodo): add --coordination flag to spawn and run commands
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
  packages/gptodo/tests/test_subagent.py
Due: none

fix(gptodo): fail loudly on coordination setup failure, broaden exception catch
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(gptodo): use precise URL scheme check to avoid false matches on task IDs (#308)
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/deptree.py
  packages/gptodo/src/gptodo/unblock.py
  packages/gptodo/src/gptodo/utils.py
Due: none

feat(gptodo): add --coordination flag for multi-agent coordination (#309)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/subagent.py
  packages/gptodo/tests/test_subagent.py
Due: none

feat(whatsapp): add gptme-whatsapp package for WhatsApp agent integration
  packages/gptme-whatsapp/README.md
  packages/gptme-whatsapp/node/.gitignore
  packages/gptme-whatsapp/node/index.js
  packages/gptme-whatsapp/node/package.json
  packages/gptme-whatsapp/node/sven-whatsapp.service.example
  packages/gptme-whatsapp/pyproject.toml
  packages/gptme-whatsapp/src/gptme_whatsapp/__init__.py
  packages/gptme-whatsapp/src/gptme_whatsapp/setup.py
  packages/gptme-whatsapp/tests/__init__.py
  packages/gptme-whatsapp/tests/test_setup.py
Due: check-markdown-links

fix(whatsapp): skip non-text messages to prevent crash on media
  packages/gptme-whatsapp/node/index.js
Due: none

fix(whatsapp): guard against undefined msg.body for media messages
  packages/gptme-whatsapp/node/index.js
  uv.lock
Due: none

feat(whatsapp): add Claude Code backend support
  packages/gptme-whatsapp/README.md
  packages/gptme-whatsapp/node/index.js
  packages/gptme-whatsapp/src/gptme_whatsapp/setup.py
  uv.lock
Due: check-markdown-links

fix(whatsapp): use default import for CJS whatsapp-web.js module
  packages/gptme-whatsapp/node/index.js
Due: none

feat(whatsapp): add gptme-whatsapp package for WhatsApp agent integration (#310)
  packages/gptme-whatsapp/README.md
  packages/gptme-whatsapp/node/.gitignore
  packages/gptme-whatsapp/node/index.js
  packages/gptme-whatsapp/node/package.json
  packages/gptme-whatsapp/node/sven-whatsapp.service.example
  packages/gptme-whatsapp/pyproject.toml
  packages/gptme-whatsapp/src/gptme_whatsapp/__init__.py
  packages/gptme-whatsapp/src/gptme_whatsapp/setup.py
  packages/gptme-whatsapp/tests/__init__.py
  packages/gptme-whatsapp/tests/test_setup.py
Due: check-markdown-links

feat(lessons): add blocked-period-status-check-trap autonomous lesson
  lessons/autonomous/blocked-period-status-check-trap.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add blocked-period-status-check-trap autonomous lesson (#311)
  lessons/autonomous/blocked-period-status-check-trap.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add pre-flight comment check to prevent agent duplicate actions
  lessons/social/github-issue-engagement.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): use dynamic username in pre-flight check command
  lessons/social/github-issue-engagement.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add pre-flight comment check to prevent agent duplicate actions (#312)
  lessons/social/github-issue-engagement.md
Due: check-markdown-links, validate-lesson-metadata

feat(twitter): add follow command and users.follow.write OAuth scope
  scripts/twitter/twitter.py
  uv.lock
Due: none

feat(twitter): add follow command and users.follow.write OAuth scope (#313)
  scripts/twitter/twitter.py
  uv.lock
Due: none

fix(twitter): correct OAuth scope users.follow.write → follows.write
  scripts/twitter/twitter.py
Due: none

fix(twitter): use correct OAuth 2.0 scope 'follows.write' (not 'users.follow.write')
  scripts/twitter/twitter.py
Due: none

fix(twitter): correct OAuth scope users.follow.write → follows.write (#314)
  scripts/twitter/twitter.py
Due: none

fix(twitter): handle 402 Payment Required in follow command
  scripts/twitter/twitter.py
Due: none

fix(twitter): handle 402 Payment Required in follow command (#316)
  scripts/twitter/twitter.py
Due: none

feat: add symlink validation pre-commit hook
  scripts/precommit/validators/validate_symlinks.py
Due: none

feat: add symlink validation pre-commit hook (#317)
  scripts/precommit/validators/validate_symlinks.py
Due: none

refactor(precommit): replace custom symlink validator with standard check-symlinks
  .pre-commit-config.yaml
  scripts/precommit/validators/validate_symlinks.py
Due: none

refactor(precommit): replace custom symlink validator with standard check-symlinks (#318)
  .pre-commit-config.yaml
  scripts/precommit/validators/validate_symlinks.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
