Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.9
  hooks:
  - id: ruff
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.12.0
  hooks:
  - id: mypy
    additional_dependencies: [
      "gptme @ git+https://github.com/gptme/gptme.git",
      rich,
      python-dotenv,
      tweepy,
      flask,
      discord.py,
      openai,
      "python-frontmatter>=1.0.0",
      types-tabulate,
      types-docutils,
      types-PyYAML,
      types-requests,
      types-click,
      types-python-crontab,
      exa_py,
      types-Markdown,
      pytest,
    ]
    args: [--config-file=mypy.ini, --explicit-package-bases]
    types: [python]
    pass_filenames: true
    exclude: ^packages/(lessons|run_loops|tasks)/
- repo: local
  hooks:
  - id: check-markdown-links
    name: Check markdown links
    description: Verifies that relative links in markdown files are valid.
    entry: python3 scripts/precommit/check_markdown_links.py
    language: system
    types: [markdown]
    pass_filenames: true

  - id: validate-submodule-commits
    name: Validate submodule commits exist upstream
    description: Ensures submodule references point to commits that exist in upstream repos.
    entry: python3 scripts/precommit/validate_submodule_commits.py
    language: system
    pass_filenames: false
    always_run: true

  - id: check-names
    name: Check for agent-instance names
    description: Verifies that we are not accidentally using names of agents or users in the shared scripts (should be configurable).
    entry: make check-names
    language: system
    pass_filenames: false
    always_run: true

  - id: shellcheck
    name: ShellCheck
    description: Shell script linter for bash/sh files
    entry: shellcheck
    language: system
    types: [shell]
    args: ["--severity=warning"]

  - id: typecheck-packages
    name: Typecheck packages
    description: Run mypy for all packages
    entry: make typecheck-packages
    language: system
    pass_filenames: false
    always_run: true
    types: [python]

  - id: validate-lesson-metadata
    name: Validate lesson metadata
    description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
    entry: scripts/precommit/validate_lesson_metadata.py
    language: python
    additional_dependencies: [pyyaml]
    types: [markdown]
    files: ^lessons/
    pass_filenames: true

fix(monitoring): add review/comment to notification reasons
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
Due: none

refactor(lessons): make close-the-loop pattern more general
  lessons/patterns/close-the-loop.md
Due: check-markdown-links, validate-lesson-metadata

fix(skills): improve generator field with technical harness specs
  skills/artifact-publishing/SKILL.md
Due: check-markdown-links

fix(monitoring): add review/comment to notification reasons (#223)
  packages/gptme-runloops/src/gptme_runloops/project_monitoring.py
Due: none

feat(skills): add artifact-publishing skill (#221)
  skills/artifact-publishing/SKILL.md
Due: check-markdown-links

docs(lessons): add specific links to lessons demonstrating close-the-loop pattern
  lessons/patterns/close-the-loop.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add run command, clarify spawn vs run semantics
  packages/gptodo/src/gptodo/cli.py
Due: none

docs(lessons): add close-the-loop pattern for autonomous workflows (#222)
  lessons/patterns/close-the-loop.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add effective command to show computed task state
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): add 'blocked' virtual state to STATE_STYLES
  packages/gptodo/src/gptodo/utils.py
Due: none

feat(gptodo): add effective command to show computed task state (#225)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/utils.py
Due: none

feat(gptodo): add run command, clarify spawn vs run semantics (#224)
  packages/gptodo/src/gptodo/cli.py
Due: none

docs(lessons): clarify when to resolve vs comment-only on PR threads
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

docs: improve examples - resolve non-issues, ask clarifications
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): clarify when to resolve vs comment-only on PR threads (#226)
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

fix: shortened lesson
  lessons/tools/gh-pr-review-extension.md
Due: check-markdown-links, validate-lesson-metadata

fix(gptodo): ensure tmux sessions inherit environment variables
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(gptodo): shell-escape workspace path in spawn command
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(typing): remove deprecated confirm parameter from step() and execute()
  scripts/discord/discord_bot.py
  tools/tool_pushover.py
Due: none

fix(gptodo): ensure tmux sessions inherit environment variables (#229)
  packages/gptodo/src/gptodo/subagent.py
  scripts/discord/discord_bot.py
  tools/tool_pushover.py
Due: none

feat(plugins): add gptme-retrieval plugin for automatic context retrieval
  plugins/gptme-retrieval/README.md
  plugins/gptme-retrieval/pyproject.toml
  plugins/gptme-retrieval/src/gptme_retrieval/__init__.py
  uv.lock
Due: check-markdown-links

feat(plugins): add gptme-retrieval plugin for automatic context retrieval
  plugins/gptme-retrieval/tests/test_retrieval.py
Due: none

fix(gptodo): don't export API keys for claude backend
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(gptodo): don't export API keys for claude backend (#231)
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(retrieval): address security review and add gptme-rag backend
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/PKG-INFO
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/SOURCES.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/dependency_links.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/entry_points.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/requires.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/top_level.txt
  plugins/gptme-retrieval/src/gptme_retrieval/__init__.py
Due: none

chore: exclude .egg-info from version control
  plugins/gptme-retrieval/.gitignore
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/PKG-INFO
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/SOURCES.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/dependency_links.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/entry_points.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/requires.txt
  plugins/gptme-retrieval/src/gptme_retrieval.egg-info/top_level.txt
Due: none

feat(plugins): add gptme-retrieval plugin for automatic context retrieval (#230)
  plugins/gptme-retrieval/.gitignore
  plugins/gptme-retrieval/README.md
  plugins/gptme-retrieval/pyproject.toml
  plugins/gptme-retrieval/src/gptme_retrieval/__init__.py
  plugins/gptme-retrieval/tests/test_retrieval.py
  uv.lock
Due: check-markdown-links

feat(gptodo): add clear_keys option to spawn_agent for credential isolation
  packages/gptodo/src/gptodo/subagent.py
Due: none

fix(gptodo): add 'codex' to backend type annotation for forward compatibility
  packages/gptodo/src/gptodo/subagent.py
Due: none

feat(gptodo): add clear_keys option for credential isolation (#232)
  packages/gptodo/src/gptodo/subagent.py
Due: none

feat(gptodo): add checker pattern, dependency tree, and ready_for_review state
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/deptree.py
  packages/gptodo/src/gptodo/utils.py
Due: none

fix(gptodo): address Greptile review comments
  packages/gptodo/src/gptodo/checker.py
  packages/gptodo/src/gptodo/deptree.py
Due: none

feat(lessons): add persist-before-noting pattern
  lessons/patterns/persist-before-noting.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add --changes-only flag to sync command
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(gptodo): show 'changed' in table title when --changes-only flag used
  packages/gptodo/src/gptodo/cli.py
Due: none

fix(lessons): add missing status: active field to persist-before-noting
  lessons/patterns/persist-before-noting.md
Due: check-markdown-links, validate-lesson-metadata

Apply suggestions from code review
  lessons/patterns/persist-before-noting.md
Due: check-markdown-links, validate-lesson-metadata

Apply suggestion from @ErikBjare
  lessons/patterns/persist-before-noting.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add persist-before-noting pattern (#234)
  lessons/patterns/persist-before-noting.md
Due: check-markdown-links, validate-lesson-metadata

feat(gptodo): add --changes-only flag to sync for stale queue detection (#235)
  packages/gptodo/src/gptodo/cli.py
Due: none
