Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

docs(lessons): add strategic focus during autonomous sessions lesson
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add communication category to README index
  lessons/README.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): make shell snippet repo-agnostic in strategic-focus lesson
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove placeholder links from related section
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

docs(lessons): add communication category with three GitHub collaboration lessons (#263)
  lessons/README.md
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
  lessons/communication/github-comment-formatting.md
  lessons/communication/github-issue-follow-through.md
  lessons/communication/responding-to-code-review-feedback.md
Due: check-markdown-links, validate-lesson-metadata

feat(telegram): add basic Telegram bot support (#256)
  scripts/telegram/README.md
  scripts/telegram/telegram_bot.py
Due: check-markdown-links

fix(gptodo): address review feedback on worktree correctness
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/worktree.py
Due: none

feat(gptodo): implement worktree workflow for isolated agent execution
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/worktree.py
Due: none

refactor(lessons): change worktree convention to centralized /tmp/worktrees
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

feat(bots): read agent name from gptme.toml config
  scripts/discord/discord_bot.py
  scripts/telegram/telegram_bot.py
Due: none

style(telegram): add missing newline at end of file
  scripts/telegram/telegram_bot.py
Due: none

refactor(lessons): change worktree convention to /tmp/worktrees (#267)
  lessons/workflow/git-worktree-workflow.md
Due: check-markdown-links, validate-lesson-metadata

feat(bots): read agent name from gptme.toml config (#268)
  scripts/discord/discord_bot.py
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): use computed bot_name for telemetry agent_name
  scripts/telegram/telegram_bot.py
Due: none

feat(telegram): add typing indicator, tool execution loop, and cleaner output
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): properly execute tools by appending all messages to log
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): capture Log.append() return value (immutable pattern)
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): properly log exception traceback
  scripts/telegram/telegram_bot.py
Due: none

feat(telegram): add typing indicator, tool execution, and cleaner output (#269)
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): capture user message append + add missing step() params
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): persist log on exception path to prevent data loss
  scripts/telegram/telegram_bot.py
Due: none

fix(telegram): capture user message append + add missing step() params (#270)
  scripts/telegram/telegram_bot.py
Due: none

fix(gptodo): fallback to uv run when CLI missing
  plugins/gptme-gptodo/src/gptme_gptodo/tools/gptodo_tool.py
Due: none

feat(gptodo): implement worktree workflow for isolated agent execution (#257)
  packages/gptodo/src/gptodo/cli.py
  packages/gptodo/src/gptodo/worktree.py
Due: none

fix(worktree): resolve 6 Greptile review issues
  packages/gptodo/src/gptodo/worktree.py
Due: none

feat: make gptodo and gptmail publishable to PyPI
  .github/workflows/publish.yml
  Makefile
  packages/gptmail/Makefile
  packages/gptmail/pyproject.toml
  packages/gptodo/Makefile
  packages/gptodo/pyproject.toml
Due: none

fix(publish): tighten tag pattern, validate version, guard PKG
  .github/workflows/publish.yml
  Makefile
Due: none

fix(worktree): resolve 6 Greptile review issues from PR #257 (#271)
  packages/gptodo/src/gptodo/worktree.py
Due: none

fix(publish): use trusted publishing, drop PYPI_TOKEN fallback
  .github/workflows/publish.yml
Due: none

feat(lessons): upstream 15 general-purpose lessons from Bob's brain
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/escalation-vs-autonomy.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/safe-operation-patterns.md
  lessons/autonomous/scope-discipline-in-autonomous-work.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/patterns/avoid-excessive-setup-when-dir.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/loop-detection.md
  lessons/tools/check-cli---help-before-readin.md
  lessons/workflow/bold-refactoring.md
  lessons/workflow/measure-before-optimize.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/requirement-validation.md
  lessons/workflow/session-ending-protocol.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): upstream 15 general-purpose lessons from Bob's brain (#273)
  lessons/autonomous/autonomous-operation-safety.md
  lessons/autonomous/escalation-vs-autonomy.md
  lessons/autonomous/pre-mortem-for-risky-actions.md
  lessons/autonomous/safe-operation-patterns.md
  lessons/autonomous/scope-discipline-in-autonomous-work.md
  lessons/patterns/avoid-deep-nesting.md
  lessons/patterns/avoid-excessive-setup-when-dir.md
  lessons/patterns/avoid-long-try-blocks.md
  lessons/patterns/loop-detection.md
  lessons/tools/check-cli---help-before-readin.md
  lessons/workflow/bold-refactoring.md
  lessons/workflow/measure-before-optimize.md
  lessons/workflow/pre-landing-self-review.md
  lessons/workflow/requirement-validation.md
  lessons/workflow/session-ending-protocol.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add git repo guard to strategic-focus lesson snippet
  lessons/autonomous/strategic-focus-during-autonomous-sessions.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): add markdown codeblock syntax lesson and pre-commit hook
  lessons/tools/markdown-codeblock-syntax.md
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: check-markdown-links, validate-lesson-metadata

fix(validator): address Greptile review feedback
  .pre-commit-config.yaml
  lessons/tools/markdown-codeblock-syntax.md
  scripts/precommit/validators/validate_markdown_codeblock_syntax.py
Due: check-markdown-links, validate-lesson-metadata

feat(twitter): add script to check for replies from trusted users
  scripts/twitter/check_replies.py
Due: none

feat(twitter): add auto-post for trusted user replies
  scripts/twitter/trusted_users.py
  scripts/twitter/workflow.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
