Repository gptme/gptme-contrib: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-lesson-metadata

check-markdown-links:
  name: Check markdown links
  description: Verifies that relative links in markdown files are valid.
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-lesson-metadata:
  name: Validate lesson metadata
  description: Ensures lesson files have proper metadata (keywords, valid YAML frontmatter).
  entry: scripts/precommit/validate_lesson_metadata.py
  language: python
  additional_dependencies:
  - pyyaml
  pass_filenames: true

fix(gptme-sessions): guard shared --since parsing + fix None roundtrip in to_dict
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): address 3rd Greptile review round
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): handle None model/run_type in query output, add utf-8 to test open()
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): fix Z-suffix fromisoformat compat and query --stats filter forwarding
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): add --category/--harness/--outcome to stats_parser
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): use with_name() instead of with_suffix() for .tmp path
  packages/gptme-sessions/src/gptme_sessions/store.py
Due: none

fix(gptme-sessions): store raw model string, normalize only for display
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

test(gptme-sessions): use monkeypatch for sys.argv in test_stats_subcommand_filter_args
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): guard harness None in stats() and format_stats
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): guard duration_seconds None from JSON null in __post_init__
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): add missing trailing newline after by_harness_model stats section
  packages/gptme-sessions/src/gptme_sessions/store.py
Due: none

fix(lessons): replace dead keywords in 7 lessons with better trigger phrases
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/concepts/hierarchical-context-management.md
  lessons/patterns/progressive-disclosure.md
  lessons/workflow/bold-refactoring.md
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove over-triggering keyword from safe-operation-patterns
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): remove over-triggering keyword from safe-operation-patterns (#345)
  lessons/autonomous/safe-operation-patterns.md
Due: check-markdown-links, validate-lesson-metadata

feat: add gptme-sessions package for session tracking and analytics (#343)
  packages/gptme-sessions/README.md
  packages/gptme-sessions/pyproject.toml
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/store.py
  packages/gptme-sessions/tests/test_sessions.py
  uv.lock
Due: check-markdown-links

feat(gptme-sessions): add --tokens and --cost-usd to append command
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/record.py
Due: none

fix(git-hooks): allow gptme-superuser direct master commits
  dotfiles/.config/git/allowed-repos.conf
Due: none

fix(git-hooks): allow gptme-superuser direct master commits (#348)
  dotfiles/.config/git/allowed-repos.conf
Due: none

feat(gptme-sessions): add Claude Code trajectory support + token extraction
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

feat(gptme-sessions): add signals subcommand for trajectory-based reward extraction
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

fix(signals): address Greptile review — operator precedence, duplicate block, empty session grade, uppercase branches
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): address 3 logic issues from Greptile review
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): address final Greptile review findings
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): use finditer for CC commit detection (consistency with gptme path)
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): address final greptile review items
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): fix always-true usage guard and clarify token counting semantics
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

fix(gptme-sessions): use p.is_file() guard with descriptive error for directory args
  packages/gptme-sessions/src/gptme_sessions/cli.py
Due: none

feat(lessons): tiered model strategy by session type
  lessons/autonomous/tiered-model-strategy-by-session-type.md
Due: check-markdown-links, validate-lesson-metadata

fix(signals): remove placeholder write inflation, add gptme path tests
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

refactor(lessons): rename + rewrite tiered-model lesson as rule-driven session gating
  lessons/autonomous/rule-driven-session-gating.md
  lessons/autonomous/tiered-model-strategy-by-session-type.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): add status field and anonymize origin in rule-driven-session-gating
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

fix(signals): handle I/O errors in CLI, remove dead Patch from CC tools
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
Due: none

feat(gptme-sessions): upstream Thompson sampling bandit engine + trigger field
  packages/gptme-sessions/src/gptme_sessions/__init__.py
  packages/gptme-sessions/src/gptme_sessions/record.py
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

fix(lessons): add concrete signal check implementations to session gating
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

feat(lessons): rule-driven session gating for monitoring agents (#350)
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace hardcoded agent name with $AGENT_NAME variable in rule-driven-session-gating
  .jscpd.json
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace hardcoded agent name with $AGENT_NAME variable in rule-driven-session-gating (#352)
  .jscpd.json
  lessons/autonomous/rule-driven-session-gating.md
Due: check-markdown-links, validate-lesson-metadata

fix(lessons): replace dead keywords in 7 lessons with better trigger phrases (#344)
  lessons/autonomous/effective-autonomous-work-execution.md
  lessons/autonomous/maintaining-readiness-during-blocked-periods.md
  lessons/autonomous/multi-issue-coordination-patterns.md
  lessons/concepts/hierarchical-context-management.md
  lessons/patterns/progressive-disclosure.md
  lessons/workflow/bold-refactoring.md
  lessons/workflow/communication-loop-closure-patterns.md
Due: check-markdown-links, validate-lesson-metadata

fix(thompson-sampling): prune contextual arms + validate reward range
  packages/gptme-sessions/src/gptme_sessions/thompson_sampling.py
  packages/gptme-sessions/tests/test_thompson_sampling.py
Due: none

feat(gptme-sessions): add signals subcommand for trajectory-based reward extraction (#346)
  packages/gptme-sessions/src/gptme_sessions/cli.py
  packages/gptme-sessions/src/gptme_sessions/signals.py
  packages/gptme-sessions/tests/test_sessions.py
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$
  validate-lesson-metadata: any of: ^lessons/ and \.(md|markdown|mdown)$
